main_app:
  limits:
    memory: 900Mi

  log_level: info

  site: staging

  kafka:
    broker_list:
      - kafka-main1001.eqiad.wmnet:9093
      - kafka-main1002.eqiad.wmnet:9093
      - kafka-main1003.eqiad.wmnet:9093
      - kafka-main1004.eqiad.wmnet:9093
      - kafka-main1005.eqiad.wmnet:9093
    ssl: true

nutcracker:
  enabled: true
  servers:
    - rdb1005.eqiad.wmnet:6379:1 "cp-1"
    - rdb1009.eqiad.wmnet:6379:1 "cp-2"

resources:
  replicas: 2

service:
  name: cpjobqueue-staging
  deployment: "production"
  port:
    name: cpjobqueue-staging
    nodePort: 7200
