helm_scaffold_version: 0.2 # This can be useful when backporting fixes.
docker:
  registry: docker-registry.discovery.wmnet
  pull_policy: IfNotPresent
resources:
  replicas: 14
main_app:
  image: wikimedia/mediawiki-services-wikifeeds
  version: 2026-02-19-190904-production
  mw_uri: http://localhost:6500/w/index.php
  mwapi_uri: http://localhost:6500/w/api.php
  mwrest_uri: http://localhost:6500/w/rest.php
  restbase_uri: http://localhost:6503
  rest_gateway_uri: http://localhost:6033
  mobileapps_uri: http://localhost:6012
  usecorepagehtml: true
  use_service_mesh: true
  # Use command and args below to override the entrypoint
  # Not necessary unless you want to change the entrypoint defined in the docker image
  # ex: command: '["node"]' args: '["bin/server.js"]'
  command: ""
  args: ["server.js", "-c", "/etc/wikifeeds/config.yaml"]
  requests:
    cpu: 1
    memory: 950Mi
  limits:
    cpu: 2500m
    memory: 1300Mi
monitoring:
  enabled: true
service:
  deployment: production
config:
  public: {}
  private: {}
mesh:
  enabled: true
  public_port: 4101
  # More info: T368238
  concurrency: 8
  tracing:
    enabled: true
    sampling: 0.1
  resources:
    requests:
      cpu: 500m
      memory: 150Mi
    limits:
      cpu: 1
      memory: 500Mi
discovery:
  listeners:
  - mw-api-int-async
  - restbase-for-services
  - rest-gateway
  - mobileapps
networkpolicy:
  egress:
    enabled: true
