{{- include "configmap.airflow-config" . }}
{{- include "configmap.airflow-webserver-config" . }}
{{- include "configmap.kerberos" . }}
{{- include "mesh.configuration.configmap" . }}
{{- include "base.statsd.configmap" . }}
{{- include "configmap.airflow-bash-executables" . }}
{{- include "configmap.gitsync-sparse-checkout-file" . }}
{{- include "configmap.airflow-kubernetes-executor-pod-template" . }}
{{- include "configmap.airflow-hadoop-config" . }}
{{- include "configmap.airflow-spark-config" . }}
{{- include "configmap.worker.extra-config" . }}
{{- include "configmap.rsync.config" . }}
