apiVersion: v1
kind: Secret
metadata:
{{- include "base.meta.metadata" (dict "Root" . "Name" "secret-config" ) | indent 2 }}
type: Opaque
{{- if .Values.config.private }}
data: {{- range $k := (keys .Values.config.private | sortAlpha) }}
  {{ $k }}: {{ get $.Values.config.private $k | b64enc | quote }}
{{- end -}}
{{- end }}

---
apiVersion: v1
kind: Secret
metadata:
  name: {{ template "release.name" . }}-connections-variables
  {{- include "base.meta.labels" . | indent 2 }}
  namespace: {{ .Release.Namespace }}
type: Opaque
stringData:
  connections.yaml: |
    {{- tpl ( toYaml $.Values.config.connections) $ | nindent 4 }}
  {{- range $filename, $file_template := $.Values.config.extra_secrets }}
  {{ $filename }}: |
    {{- tpl $file_template $ | nindent 4 }}
  {{- end }}

---
apiVersion: v1
kind: Secret
type: Opaque
metadata:
  name: {{ template "release.name" . }}-kerberos-keytab
  {{- include "base.meta.labels" . | indent 2 }}
  namespace: {{ $.Release.Namespace }}
data:
  airflow.keytab: |
    {{- $.Values.kerberos.keytab | default (b64enc "override_me") | nindent 4 }}

{{- if $.Values.rsync.enabled }}
{{- range $target, $ssh_config := $.Values.rsync.ssh.targets }}
---
apiVersion: v1
kind: Secret
type: Opaque
metadata:
  name: {{ template "release.name" $ }}-ssh-privkey-{{ $target }}
  {{- include "base.meta.labels" $ | indent 2 }}
  namespace: {{ $.Release.Namespace }}
data:
  {{- $ssh_config.private_key.filename | nindent 2 }}: |
    {{- b64enc ($ssh_config.private_key.content | default "override_me") | nindent 4 }}
{{- end }}
{{- end }}
