{{ if not (hasSuffix "canary" .Release.Name) }}
{{ if not .Values.mesh.enabled }}
  {{- template "app.generic.service" . }}
{{- end }}
{{- if .Values.debug.enabled }}
  {{- template "app.generic.debug_service" . }}
{{- end }}
{{ include "mesh.service" . }}
{{- end }}

{{- if eq $.Values.config.airflow.config.core.executor "LocalExecutor" }}
---
apiVersion: v1
kind: Service
metadata:
  name: {{ $.Values.scheduler.service_name }}
  {{- include "base.meta.labels" . | indent 2 }}
    component: scheduler
spec:
  type: ClusterIP
  selector:
    app: airflow
    component: scheduler
  ports:
    - name: airflow-scheduler
      protocol: TCP
      port: {{ $.Values.scheduler.local_executor_api_port }}
      targetPort: {{ $.Values.scheduler.local_executor_api_port }}
{{- end }}

{{- if $.Values.mesh.enabled }}
---
apiVersion: v1
kind: Service
metadata:
  name: envoy
spec:
  type: {{ template "base.helper.serviceType" . }}
  selector:
    app: {{ template "base.name.chart" . }}
    routed_via: {{ .Release.Name }}
    component: envoy
  {{- if $.Values.discovery | default false }}
  {{- if $.Values.discovery.listeners | default false }}
  ports:
  {{- range $name := $.Values.discovery.listeners }}
  {{- $listener := index $.Values.services_proxy $name }}
  - name: {{ $listener.name }}
    port: {{ $listener.port }}
    targetPort: {{ $listener.port }}
    protocol: TCP
  {{- end }}
  {{- end }}
  {{- end }}
{{- end }}
