main_app:
  image: wikimedia/generated-data-platform-aqs-page-analytics
  version: 2025-12-22-193109-production
  command: ["./page-analytics"]
  args: ["-config", "/etc/aqs-http-gateway/config.yaml"]
  service_name: page-analytics

  data_gateway_uri: http://127.0.0.1:6038/public/analytics

  consistency: localQuorum

  # note the "_"
  cassandra_user: "page_analytics"

  requests:
    cpu: 200m
    memory: 500Mi
  limits:
    cpu: 1
    memory: 1024Mi
  log_level: debug

resources:
  replicas: 4

mesh:
  enabled: true
  public_port: 4973
  tracing:
    enabled: true
    sampling: 10

ingress:
  enabled: true

service:
  deployment: production
  port:
    nodePort: 4973

monitoring:
  enabled: true

discovery:
  listeners:
    - data-gateway
