---
mappings:
  # Limit metrics ##############################################################

  # Mappings for the REST gateway
  - match: "ratelimit.service.rate_limit.wikimedia.policy_(.*).user_class_(.*).user_id.(.*)"
    match_type: regex
    name: "ratelimit_service_rest_gateway_$3"
    labels:
      policy: "$1"
      user_class: "$2"
      unit: HOUR # TODO: template this, or put it in the descriptor (T408132)

  # Mappings for the API gateway (anon)
  - match: "ratelimit.service.rate_limit.wikimedia.route_name_(.*).user_class_anon_fallback_(.*).client_ip.(.*)"
    match_type: regex
    name: "ratelimit_service_api_gateway_$3"
    labels:
      route_name: "$1"
      user_class: "$2"
      client_id: "none"
      user_id: "none"

  # Mappings for the API gateway (JWT)
  - match: "ratelimit.service.rate_limit.wikimedia.route_name_(.*).client_id_(.*).user_id_(.*).(.*)"
    match_type: regex
    name: "ratelimit_service_api_gateway_$4"
    labels:
      route_name: "$1"
      user_class: "jwt-user"
      client_id: "$2"
      user_id: "$3"

  # Service metrics ##############################################################
  - match: "ratelimit.service.call.should_rate_limit.*"
    name: "ratelimit_service_should_rate_limit_error"
    match_metric_type: counter
    labels:
      err_type: "$1"

  - match: "ratelimit_server.*.total_requests"
    name: "ratelimit_service_total_requests"
    match_metric_type: counter
    labels:
      grpc_method: "$1"

  - match: "ratelimit_server.*.response_time"
    name: "ratelimit_service_response_time_seconds"
    timer_type: histogram
    labels:
      grpc_method: "$1"

  - match: "ratelimit.service.config_load_success"
    name: "ratelimit_service_config_load_success"
    match_metric_type: counter
  - match: "ratelimit.service.config_load_error"
    name: "ratelimit_service_config_load_error"
    match_metric_type: counter
