apiVersion: v1
kind: ConfigMap
metadata:
  name: coredns
  namespace: kube-system
  labels:
    {{- include "coredns.labels" . | nindent 4 }}
data:
  Corefile: |
    .:53 {
        errors
        health {
            lameduck 5s
        }
        ready
        nsid
        kubernetes cluster.local in-addr.arpa ip6.arpa {
            pods insecure
            fallthrough in-addr.arpa ip6.arpa
        }
        {{- if hasKey ( .Values.coredns | default dict ) "rewrite_actions" }}
        {{- range $action, $configs := .Values.coredns.rewrite_actions }}
        {{- range $configs }}
        rewrite {{ $action }} {
            {{ . }}
        }
        {{- end }}
        {{- end }}
        {{- end }}
        prometheus 0.0.0.0:9153
        forward . /etc/resolv.conf
        cache 30
        loop
        reload
        loadbalance
    }

    # Similar to reflect.wikimedia.org: will return the client's IP address
    # in A/AAAA, and will return source port & protocol in a SRV record.
    reflect.k8s.local.wmnet:53 {
        nsid
        whoami
    }