apiVersion: v1
kind: Service
metadata:
  name: kube-dns
  namespace: kube-system
  labels:
    k8s-app: kube-dns
    {{- include "coredns.labels" . | nindent 4 }}
spec:
  selector:
    k8s-app: kube-dns
  {{- if .Values.service.clusterIP }}
  clusterIP: {{ .Values.service.clusterIP }}
  {{- end }}
  {{- if .Values.service.nodePort }}
  type: NodePort
  {{- end }}
  ports:
  - name: dns
    port: 53
    protocol: UDP
    {{- with .Values.service.nodePort }}
    nodePort: {{ . }}
    {{- end }}
  - name: dns-tcp
    port: 53
    protocol: TCP
    {{- with .Values.service.nodePort }}
    nodePort: {{ . }}
    {{- end }}
