docker:
  pull_policy: IfNotPresent
  registry: docker-registry.discovery.wmnet
helm_scaffold_version: 0.1
main_app:
  image: wikimedia/mediawiki-services-apertium
  limits:
    cpu: 1100m
    memory: 800Mi
  liveness_probe:
    tcpSocket:
      port: 2737
  port: 2737
  readiness_probe:
    httpGet:
      path: /stats
      port: 2737
  requests:
    cpu: 100m
    memory: 200Mi
  version: 2022-01-18-052631-production
monitoring:
  enabled: false
  image_version: latest
resources:
  replicas: 8
service:
  deployment: production
  port: 4737
tls:
  enabled: true
  telemetry:
    enabled: true
networkpolicy:
  egress:
    enabled: true
