monitoring:
  enabled: true

service:
  deployment: production
  port:
    name: mcrouter
    targetPort: 4442
    port: 4442
  nodePort: 0
  use_node_local_endpoints: true

common_images:
  mcrouter:
    mcrouter: mcrouter:2023.07.17.00-1-20240714
    exporter: prometheus-mcrouter-exporter:0.0.1-3-20240714

cache:
  mcrouter:
    num_proxies: 10
    enabled: true
    resources:
      requests:
        cpu: 400m
        memory: 256Mi
      limits:
        cpu: 2
        memory: 2048Mi
    public_service: true
    exporter:
      resources:
        requests:
          cpu: 100m
          memory: 50Mi
        limits:
          cpu: 120m
          memory: 100Mi

networkpolicy:
  egress:
    enabled: true
