apiVersion: v2
description: A Helm chart for changepropagation
name: changeprop
version: 0.10.22
kubeVersion: ">=1.8"
keywords:
- changeprop
- change-propagation
home: https://www.mediawiki.org/wiki/Change_propagation
sources:
- https://gerrit.wikimedia.org/g/mediawiki/services/change-propagation
maintainers:
- name: Holger Knust
  email: hknust@wikimedia.org
dependencies:
    # kafka-dev can be deployed for development purposes
    # ./charts/kafka-dev is symlinked to ../kafka-dev
  - name: kafka-dev
    version: ">= 0.1.0"
    repository: https://helm-charts.wikimedia.org/stable/
    # Only require kafka-dev if subcharts.kafka is set to true in values
    # or --set subcharts.kafka=true
    condition: subcharts.kafka
