# Override global mw settings because of the small size
# of the deployment.
strategy:
  rollingUpdate:
    maxUnavailable: 10%
    maxSurge: 10%

mesh:
  public_port: 4451
  tracing:
    enabled: true
    sampling: 0.1

monitoring:
  statsd: ~

php:
  envvars:
    MCROUTER_SERVER: "127.0.0.1:11213" # use mcrouter container
  version: "8.1"
