resources:
  replicas: 1

# Settings for the end-to-end tests defined under tests/e2e.
smokepy:
  gateway:
    # The target URL to use for end-to-end tests.
    # Can also be set using $GATEWAY_TEST_TARGET_URL.
    target_url: https://staging.svc.eqiad.wmnet:4113

    # The path of the endpoint to probe when testing rate limits.
    probe_path: "/en.wikipedia.org/v1/page/html/X"

    # The headers to send with every request
    headers:
      Host: en.wikipedia.org

main_app:
  # enable debug logging in staging
  args: ["-l", "debug"]
  domains:
    - staging.svc.eqiad.wmnet:*
    - staging.svc.eqiad.wmnet
    - rest-gateway.discovery.wmnet:*
    - rest-gateway.discovery.wmnet
    - rest-gateway-ro.discovery.wmnet:*
    - rest-gateway-ro.discovery.wmnet
    - "*.wikipedia.org"
    - "*.m.mediawiki.org"
    - "*.m.wikibooks.org"
    - "*.m.wikidata.org"
    - "*.m.wikimedia.org"
    - "*.m.wikimediafoundation.org"
    - "*.m.wikinews.org"
    - "*.m.wikipedia.org"
    - "*.m.wikiquote.org"
    - "*.m.wikisource.org"
    - "*.m.wikiversity.org"
    - "*.m.wikivoyage.org"
    - "*.m.wiktionary.org"
    - "*.mediawiki.org"
    - "*.planet.wikimedia.org"
    - "*.wikibooks.org"
    - "*.wikidata.org"
    - "*.wikimedia.org"
    - "*.wikimediafoundation.org"
    - "*.wikinews.org"
    - "*.wikiquote.org"
    - "*.wikisource.org"
    - "*.wikiversity.org"
    - "*.wikivoyage.org"
    - "*.wiktionary.org"
    - "*.wmfusercontent.org"
    - "*.zero.wikipedia.org"
    - mediawiki.org
    - w.wiki
    - wikibooks.org
    - wikidata.org
    - wikimedia.org
    - wikimediafoundation.org
    - wikinews.org
    - wikiquote.org
    - wikisource.org
    - wikiversity.org
    - wikivoyage.org
    - wiktionary.org
    - wmfusercontent.org
    - wikipedia.org
    # required for service mesh
    - "localhost:6033"
  ratelimiter:
    enabled: true
    shadow_mode: false
    lua_hook_enabled: true
    log_level: debug
    redis_host: localhost
    redis_port: 6379
    key_prefix: "staging_restgw_"
    key_log_format: "%REQ(x-wmf-ratelimit-class)%:%REQ(x-wmf-user-id)%@%REQ(x-wmf-ratelimit-policy)%"
    envoy_timeout: 0.5
    units: [ MINUTE, SECOND ]
    policies:
      "experiment-2025":
        "*": # catch-all limits
          MINUTE: 5
          SECOND: 1
        "anon":
          MINUTE: 15
          SECOND: 3
        "ua-bot":
          MINUTE: 25
          SECOND: 5
        "anon-browser":
          MINUTE: 35
          SECOND: 7
        "anon-sus":
          MINUTE: 45
          SECOND: 9
        "cookie-user":
          MINUTE: 55
          SECOND: 11
        "jwt-user":
          MINUTE: 20
          SECOND: 5
        "approved-bot":
          MINUTE: 65
          SECOND: 13
        "known-client":
          MINUTE: 75
          SECOND: 15
    # Manual testing
    require_opt_in: false
    default_policy: 'experiment-2025'
    fallback_class: "anon"
    enable_x_ratelimit_headers: true

  access_log:
    debug: true
    sample_percentage: 100

  rest_gateway_routes:
    - name: mobileapps
      timeout: 120s
      urls:
        #TODO tighten capture group criteria
        - name: ma_summary_no_revision
          in: '/+([^/]+)/v1/page/summary/(.+)'
          out: '/\1/v1/page/summary/\2'
        - name: ma_transform_wikitext_mobile_html
          in: '/+([^/]+)/v1/transform/wikitext/to/mobile-html/(.+)'
          out: '/\1/v1/transform/wikitext/to/mobile-html/\2'
      rb_response_headers: true
      apply_rate_limiting: false

    - name: proton
      timeout: 150s
      urls:
        # Proton doesn't actually support not passing a format - restbase usually adds this
        - name: proton_title
          in: '/+([^/]+)/v1/page/pdf/([^/]+)'
          out: '/\1/v1/pdf/\2/a4'
      rb_response_headers: true
      apply_rate_limiting: true

    - name: citoid
      timeout: 120s
      ingress: true
      urls:
          # We ignore the sitename (first matching group).
          # It is assumed the URL will be properly encoded here - ie /
          # replaced by %2F if needs be
        - name: citoid_query
          in: '/+([^/]+)/v1/data/citation/(.+)/(.+)'
          out: '/\2/\3'
      rb_response_headers: true
      use_rate_limit_policy: "other-policy"
      use_secondary_rate_limit_policy: "other-policy"

    - name: wikifeeds
      timeout: 15s
      urls:
        - name: random
          in: '/+([^/]+)/v1/page/random/(.+)'
          out: '/\1/v1/page/random/redirect/\2'
      rb_response_headers: true

    - name: geo-analytics
      timeout: 15s
      ingress: true
      urls:
        - name: api-spec
          in: '/+wikimedia.org/v1/metrics/editors/by-country/api-spec.json'
          out: '/geo-analytics/api-spec.json'
        - name: geo-editors
          in: '/+wikimedia.org/v1/metrics/editors/by-country/(.+)'
          out: '/metrics/editors/by-country/\1'
      rb_response_headers: true

    - name: media-analytics
      timeout: 15s
      ingress: true
      urls:
        - name: api-spec
          in: '/+wikimedia.org/v1/metrics/mediarequests/api-spec.json'
          out: '/mediarequests/api-spec.json'
        - name: mediarequests
          in: '/+wikimedia.org/v1/metrics/mediarequests/(.+)'
          out: '/metrics/mediarequests/\1'
      rb_response_headers: true

    - name: edit-analytics
      timeout: 5s
      ingress: true
      urls:
        - name: api-spec
          in: '/+wikimedia.org/v1/metrics/edits/api-spec.json'
          out: '/edit-analytics/api-spec.json'
        - name: edits
          in: '/+wikimedia.org/v1/metrics/edits/(.+)'
          out: '/metrics/edits/\1'
      rb_response_headers: true

    - name: editor-analytics
      timeout: 5s
      ingress: true
      urls:
        - name: api-spec
          in: '/+wikimedia.org/v1/metrics/editors/api-spec.json'
          out: '/editors/api-spec.json'
        - name: edits
          in: '/+wikimedia.org/v1/metrics/editors/(.+)'
          out: '/metrics/editors/\1'
      rb_response_headers: true

    - name: page-analytics
      timeout: 5s
      ingress: true
      urls:
        - name: api-spec
          in: '/+wikimedia.org/v1/metrics/pageviews/api-spec.json'
          out: '/page-analytics/api-spec.json'
        - name: pageviews
          in: '/+wikimedia.org/v1/metrics/pageviews/(.+)'
          out: '/metrics/pageviews/\1'
        - name: legacy
          in: '/+wikimedia.org/v1/metrics/legacy/(.+)'
          out: '/metrics/legacy/\1'
      rb_response_headers: true

    - name: device-analytics
      timeout: 15s
      urls:
        - name: api-spec
          in: '/+wikimedia.org/v1/metrics/unique-devices/api-spec.json'
          out: '/device-analytics/api-spec.json'
        - name: unique-devices
          in: '/+wikimedia.org/v1/metrics/unique-devices/(.+)'
          out: '/metrics/unique-devices/\1'
      rb_response_headers: true

    - name: commons-impact-analytics
      timeout: 15s
      ingress: true
      urls:
        - name: api-spec
          in: '/+wikimedia.org/v1/metrics/commons-analytics/api-spec.json'
          out: '/commons-impact-analytics/api-spec.json'
        - name: commons-analytics
          in: '/+wikimedia.org/v1/metrics/commons-analytics/(.+)'
          out: '/metrics/commons-analytics/\1'
      rb_response_headers: true

    - name: mw-api-ext
      timeout: 15s
      # The name is misleading, as it's not a different deployment than mw-api-ext
      # However, in normal operation, it always points to the DC-local deployment.
      # As long as ATS multi-DC routing does the right thing, this will allow requests
      # sent from ATS to the secondary datacenter to stay there instead of crossing back
      # to the primary.
      cluster: mw-api-ext-ro
      request_headers_to_add:
        - key: x-restbase-compat
          value: true
      stat_prefix: restbase-compat
      urls:
        # T374683
        # NOTE: Revision regexps come first as the title regexps are broad
        # enough to match the revision ones as well, ordering to the rescue
        # NOTE: The REST gateway, in the same spirit as RESTBase before it,
        # assumes the caller will be URL encoding the page titles so that if
        # they have slashes in them.
        #
        # e.g. Foo/Bar/Baz should become Foo%2FBar%2FBaz
        #
        # before reaching REST gateway.
        # In case a non URL encoded page with slashes is submitted, it's the
        # duty of MediaWiki to return the appropriate response (and MediaWiki
        # does return a 404)
        - name: page-html-title
          in: '/+([^/]+)/v1/page/html/(.+)'
          out: '/w/rest.php/v1/page/\2/html'
        - name: lint-no-revision
          in: '/+([^/]+)/v1/page/lint/([^\/]+)'
          out: '/w/rest.php/v1/transform/wikitext/to/lint/\2'
        - name: transform_html_to_wikitext
          in: '/+([^/]+)/v1/transform/html/to/wikitext(.*)'
          out: '/w/rest.php/v1/transform/html/to/wikitext\2'
        # reading lists endpoint - supports all HTTP verbs for various options
        # Note use of * rather than + in regex - needed to match base
        # `/v1/data/lists/` requests which requires the trailing slash
        - name: lists
          in: '/+([^/]+)/v1/data/lists/(.*)'
          out: '/w/rest.php/readinglists/v0/lists/\2'
      rb_response_headers: true

    - name: mw-rest-php
      timeout: 15s
      # This set of routes uses the same cluster as mw-api-ext - however
      # it does NOT use the restbase compability headers as this will
      # lead to incorrect responses from the mw APIs.

      # These routes also do not use the restbase response headers as
      # we will either need to put in a more specific set of headers
      # befitting the mw apis, or to simply defer to the headers
      # mediawiki sends.

      # The name is misleading, as it's not a different deployment than mw-api-ext
      # However, in normal operation, it always points to the DC-local deployment.
      # As long as ATS multi-DC routing does the right thing, this will allow requests
      # sent from ATS to the secondary datacenter to stay there instead of crossing back
      # to the primary.
      cluster: mw-api-ext-ro
      csp_enabled: false
      urls:
        # *** BEGIN rest.php APIs ***
        # oauth
        - name: oauth2
          in: '/+w/rest.php/oauth2(.*)'
          out: '/w/rest.php/oauth2\1'
        # sitemap
        - name: sitemap
          in: '/+w/rest.php/site/v1/sitemap(.*)'
          out: '/w/rest.php/site/v1/sitemap\1'
        - name: page
          in: '/+w/rest.php/v1/page(.*)'
          out: '/w/rest.php/v1/page\1'
        - name: search
          in: '/+w/rest.php/v1/search(.*)'
          out: '/w/rest.php/v1/search\1'
        # transforms - NOTE: these do not overlap (even if they
        # mirror) the existing restbase rules. restbase rules rewrite
        # restbase paths to use the same paths. Both are needed
        - name: transform
          in: '/+w/rest.php/v1/transform(.*)'
          out: '/w/rest.php/v1/transform\1'
        # wikifunctions
        - name: wikifunctions
          in: '/+w/rest.php/wikifunctions(.*)'
          out: '/w/rest.php/wikifunctions\1'
        - name: specs
          in: '/+w/rest.php/specs(.*)'
          out: '/w/rest.php/specs\1'
        # This case catches remaining rest.php traffic that is not
        # matched by any existing rule. This shouldn't be something we
        # hit, and if it is regularly hit it should be investigated to
        # add suitable rules.
        - name: rest_php_unmatched
          in: '/+w/rest.php(.*)'
          out: '/w/rest.php\1'
        # *** END rest.php APIs ***

  discovery_endpoints:
    citoid:
      ingress: true
      port: 30443 # ingress
      tls: true
      internal_host: citoid.k8s-staging.discovery.wmnet
    geo-analytics:
      internal_host: geo-analytics.k8s-staging.discovery.wmnet
      tls: true
      port: 30443
    media-analytics:
      internal_host: media-analytics.k8s-staging.discovery.wmnet
      tls: true
      port: 30443
    mobileapps:
      internal_host: mobileapps.k8s-staging.discovery.wmnet
      tls: true
      port: 30443
    proton:
      internal_host: proton.k8s-staging.discovery.wmnet
      tls: true
      port: 30443
    wikifeeds:
      internal_host: wikifeeds.k8s-staging.discovery.wmnet
      tls: true
      port: 4101
    device-analytics:
      internal_host: device-analytics.k8s-staging.discovery.wmnet
      port: 30443
      tls: true
    page-analytics:
      internal_host: page-analytics.k8s-staging.discovery.wmnet
      port: 30443
      tls: true
    edit-analytics:
      internal_host: edit-analytics.k8s-staging.discovery.wmnet
      port: 30443
      tls: true
    editor-analytics:
      internal_host: editor-analytics.k8s-staging.discovery.wmnet
      port: 30443
      tls: true
    commons-impact-analytics:
      internal_host: commons-impact-analytics.k8s-staging.discovery.wmnet
      port: 30443
      tls: true
    mw-api-ext-ro:
      tls: true
      port: 4447

nutcracker:
  enabled: true
  version: 0.0.4
  servers:
    - rdb1011.eqiad.wmnet:6380:1 "ratelimit-1"
    - rdb1013.eqiad.wmnet:6380:1 "ratelimit-2"

# Only used by ratelimiter for metrics - envoy uses prometheus native metrics
monitoring:
  enabled: true
