resources:
  replicas: 1

main_app:
  # enable debug logging in staging
  args: ["-l", "debug"]
  domains:
    - staging.svc.eqiad.wmnet:*
    - staging.svc.eqiad.wmnet
    - rest-gateway.discovery.wmnet:*
    - rest-gateway.discovery.wmnet
    - "*.wikipedia.org"
    - "*.m.mediawiki.org"
    - "*.m.wikibooks.org"
    - "*.m.wikidata.org"
    - "*.m.wikimedia.org"
    - "*.m.wikimediafoundation.org"
    - "*.m.wikinews.org"
    - "*.m.wikipedia.org"
    - "*.m.wikiquote.org"
    - "*.m.wikisource.org"
    - "*.m.wikiversity.org"
    - "*.m.wikivoyage.org"
    - "*.m.wiktionary.org"
    - "*.mediawiki.org"
    - "*.planet.wikimedia.org"
    - "*.wikibooks.org"
    - "*.wikidata.org"
    - "*.wikimedia.org"
    - "*.wikimediafoundation.org"
    - "*.wikinews.org"
    - "*.wikiquote.org"
    - "*.wikisource.org"
    - "*.wikiversity.org"
    - "*.wikivoyage.org"
    - "*.wiktionary.org"
    - "*.wmfusercontent.org"
    - "*.zero.wikipedia.org"
    - mediawiki.org
    - w.wiki
    - wikibooks.org
    - wikidata.org
    - wikimedia.org
    - wikimediafoundation.org
    - wikinews.org
    - wikiquote.org
    - wikisource.org
    - wikiversity.org
    - wikivoyage.org
    - wiktionary.org
    - wmfusercontent.org
    - wikipedia.org
    # required for service mesh
    - "localhost:6033"

  access_log:
    debug: true

  discovery_endpoints:
    geo-analytics:
      internal_host: geo-analytics.k8s-staging.discovery.wmnet
    media-analytics:
      internal_host: media-analytics.k8s-staging.discovery.wmnet
