# Use together with values-staging.yaml from ../../helmfile.d/services/rest-gateway/
# or ../../helmfile.d/services/api-gateway/
main_app:
  command: ~
  args: ["-l", "debug"]
  #version: "1.26.8-1"
  telemetry_port: 8089

  # Use fake backend
  http_https_echo: true

  # Use redis sidecar
  dev_redis: true
  redis_port: 6380 # nutcracker

  ratelimiter:
    policies:
      "very-high-limit": # just to check if high numbers get re-serializer properly
        "super-user":
          MINUTE: 9999999

  domains:
    - localhost
    - localhost:*
    - 127.0.0.1
    - 127.0.0.1:*
    - restgateway.discovery.wmnet
    - mytestdomain.discovery.wmnet

  # Override upstream server config to use http_https_echo
  discovery_endpoints:
    citoid:
      tls: false
      port: 8888
      internal_host: localhost
      host: localhost
    geo-analytics:
      tls: false
      port: 8888
      internal_host: localhost
      host: localhost
    media-analytics:
      tls: false
      port: 8888
      internal_host: localhost
      host: localhost
    mobileapps:
      tls: false
      port: 8888
      internal_host: localhost
      host: localhost
    proton:
      tls: false
      port: 8888
      internal_host: localhost
      host: localhost
    wikifeeds:
      tls: false
      port: 8888
      internal_host: localhost
      host: localhost
    device-analytics:
      tls: false
      port: 8888
      internal_host: localhost
      host: localhost
    page-analytics:
      tls: false
      port: 8888
      internal_host: localhost
      host: localhost
    edit-analytics:
      tls: false
      port: 8888
      internal_host: localhost
      host: localhost
    editor-analytics:
      tls: false
      port: 8888
      internal_host: localhost
      host: localhost
    commons-impact-analytics:
      tls: false
      port: 8888
      internal_host: localhost
      host: localhost
    mw-api-ext-ro:
      tls: false
      port: 8888
      internal_host: localhost
      host: localhost

  jwt:
    enabled: true
    issuer: http://dev.wikipedia.org

  jwks:
    # Use OCT for testing, so we can easily generate tokens.
    # Production must use RSA.
    type: "OCT"
    kid: "testkey"
    # the key is "testsecret" stored as base64
    key: "dGVzdHNlY3JldA=="

nutcracker:
  enabled: true
  port: 6380 # use different port here because local redis uses 6379
  servers:
    - localhost:6379:1 "cp-1" # dev_redis sidecar

# Settings for the end-to-end tests defined under tests/e2e.
# Local overrides go into tests/e2e/values-tests.local.yaml.
smokepy:
  gateway:
    # The target URL to use for end-to-end tests.
    # Can also be set using $GATEWAY_TEST_TARGET_URL.
    target_url: http://localhost:8087

    # The header to send with every request
    headers:
      Host: localhost

service:
  deployment: minikube
  port:
    name: api-gateway
    targetPort: 8087
    port: 8087
    nodePort: null
config:
  public: {}
  private: {}

# This chart does not actually use the tls-proxy/service mesh like others do
# but it incorporates parts of it (for TLS termination), so we use the same
# config structure here.
mesh:
  enabled: false
  certs:
    cert: "snakeoil"
    key: "snakeoil"
  certmanager:
    enabled: false
  # public_port must be set in order for the cert-manager certificate to be
  # rendered. It is not used for anything else.
  public_port: "Value that evaluates to true but is not a valid port"

networkpolicy:
  egress:
    enabled: false

external_services:
  redis-6380: []
