resources:
  replicas: 4

main_app:
  image: envoy-future
  version: 1.18.3-2
  telemetry_port: 1667

  access_log:
    sample_percentage: 1

  domains:
    - rest-gateway.discovery.wmnet
    - rest-gateway.discovery.wmnet:*
    - "*.wikipedia.org"
    - "*.m.mediawiki.org"
    - "*.m.wikibooks.org"
    - "*.m.wikidata.org"
    - "*.m.wikimedia.org"
    - "*.m.wikimediafoundation.org"
    - "*.m.wikinews.org"
    - "*.m.wikipedia.org"
    - "*.m.wikiquote.org"
    - "*.m.wikisource.org"
    - "*.m.wikiversity.org"
    - "*.m.wikivoyage.org"
    - "*.m.wiktionary.org"
    - "*.mediawiki.org"
    - "*.planet.wikimedia.org"
    - "*.wikibooks.org"
    - "*.wikidata.org"
    - "*.wikimedia.org"
    - "*.wikimediafoundation.org"
    - "*.wikinews.org"
    - "*.wikiquote.org"
    - "*.wikisource.org"
    - "*.wikiversity.org"
    - "*.wikivoyage.org"
    - "*.wiktionary.org"
    - "*.wmfusercontent.org"
    - "*.zero.wikipedia.org"
    - mediawiki.org
    - w.wiki
    - wikibooks.org
    - wikidata.org
    - wikimedia.org
    - wikimediafoundation.org
    - wikinews.org
    - wikiquote.org
    - wikisource.org
    - wikiversity.org
    - wikivoyage.org
    - wiktionary.org
    - wmfusercontent.org
    - wikipedia.org

  restbase_routes:
    - name: mobileapps
      timeout: 120s
      urls:
        #TODO tighten capture group criteria
        - name: ma_mobile_no_revision
          in: '(.+)/v1/page/mobile-html/(.+)'
          out: '\1/v1/page/mobile-html/\2'
        - name: ma_mobile_revision
          in: '(.+)/v1/page/mobile-html/(.+)/(.+)'
          out: '\1/v1/page/mobile-html/\2/\3'
        - name: ma_summary_no_revision
          in: '(.+)/v1/page/summary/(.+)'
          out: '\1/v1/page/summary/\2'
        - name: ma_summary_revision
          in: '(.+)/v1/page/summary/(.+)/(.+)'
          out: '\1/v1/page/summary/\2/\3'
    - name: proton
      timeout: 150s
      urls:
        # Proton doesn't actually support not passing a format - restbase usually adds this
        - name: proton_title
          in: '(.+)/v1/page/pdf/([^/]+)'
          out: '\1/v1/pdf/\2/a4'
        - name: proton_title_format
          in: '(.+)/v1/page/pdf/(.+)/\b(a4|legal|letter)\b'
          out: '\1/v1/pdf/\2/\3'
        - name: proton_title_format_type
          in: '(.+)/v1/page/pdf/(.+)/\b(a4|legal|letter)\b/(.+)'
          out: '\1/v1/pdf/\2/\3/\4'
    - name: citoid
      timeout: 120s
      urls:
        - name: citoid_slash
          # We ignore the sitename (first matching group)
          # it is assumed the URL will be properly encoded here - ie / replaced by %2F
          in: '(.+)/v1/data/citation/(.+)/(.+)'
          out: '/api?format=\2&search=\3'
        - name: citoid_query_api
          in: '(.+)/v1/data/citation/api?format=(.+)&search=(.+)'
          out: '/api?format=\2&search=\3'
        - name: citoid_query
          in: '(.+)/v1/data/citation?format=(.+)&search=(.+)'
          out: '/api?format=\2&search=\3'

    - name: wikifeeds
      timeout: 15s
      urls:
        - name: announcements
          in: '(.+)/v1/feed/announcements'
          out: '\1/v1/feed/announcements'
        - name: onthisday_all
          in: '(.+)/v1/feed/onthisday/all/(.+)/(.+)'
          out: '\1/v1/aggregated/onthisday/all/\2/\3'
        - name: onthisday
          in: '(.+)/v1/feed/onthisday/(.+)/(.+)/(.+)'
          out: '\1/v1/feed/onthisday/\2/\3/\4'
        - name: featured
          in: '(.+)/v1/feed/featured/(.+)/(.+)/(.+)'
          out: '\1/v1/aggregated/featured/\2/\3/\4'
        - name: availability
          in: '(.+)/v1/feed/availability'
          out: '\1/v1/feed/availability'
        - name: random
          in: '(.+)/v1/page/random/(.+)'
          out: '\1/v1/page/random/redirect/\2'

    - name: aqs
      timeout: 15s
      domain: "wikimedia.org"
      urls:
        - name: knowledge_gap
          in: '(.+)/v1/knowledge-gap/(.+)'
          out: '/analytics.wikimedia.org/v1/knowledge-gap/\2'

    - name: geo-analytics
      timeout: 15s
      ingress: true
      domain: "wikimedia.org"
      urls:
        - name: geo-editors
          in: '(.+)/v1/metrics/editors/by-country/(.+)'
          out: '/metrics/editors/by-country/\2'
        - name: api-spec
          in: '(.+)/v1/metrics/editors/by-country/api-spec.json'
          out: '/geo-analytics/api-spec.json'

    - name: media-analytics
      timeout: 15s
      ingress: true
      domain: "wikimedia.org"
      urls:
        - name: mediarequests
          in: '(.+)/v1/metrics/mediarequests/(.+)'
          out: '/metrics/mediarequests/\2'
        - name: api-spec
          in: '(.+)/v1/metrics/mediarequests/api-spec.json'
          out: '/mediarequests/api-spec.json'

    - name: edit-analytics
      timeout: 5s
      ingress: true
      domain: "wikimedia.org"
      urls:
        - name: edits
          in: '(.+)/v1/metrics/edits/(.+)'
          out: '/metrics/edits/\2'
        - name: bytes_difference
          in: '(.+)/v1/metrics/bytes_difference/(.+)'
          out: '/metrics/bytes_difference/\2'
        - name: edited_pages
          in: '(.+)/v1/metrics/edited_pages/(.+)'
          out: '/metrics/edited_pages/\2'
        - name: api-spec
          in: '(.+)/v1/metrics/edits/api-spec.json'
          out: '/edit-analytics/api-spec.json'

    - name: editor-analytics
      timeout: 5s
      ingress: true
      domain: 'wikimedia.org'
      urls:
        - name: edits
          in: '(.+)/v1/metrics/editors/(.+)'
          out: '/metrics/editors/\2'
        - name: registered
          in: '(.+)/v1/metrics/registered_users/(.+)'
          out: '/metrics/registered_users/\2'
        - name: api-spec
          in: '(.+)/v1/metrics/editors/api-spec.json'
          out: '/editors/api-spec.json'

    - name: page-analytics
      timeout: 5s
      ingress: true
      domain: 'wikimedia.org'
      urls:
        - name: pageviews
          in: '(.+)/v1/metrics/pageviews/(.+)'
          out: '/metrics/pageviews/\2'
        - name: legacy
          in: '(.+)/v1/metrics/legacy/(.+)'
          out: '/metrics/legacy/\2'
      # api-spec TODO when added

  discovery_endpoints:
    # Remember to add the corresponding svc.$dc.wmnet entry in egress
    mobileapps:
      tls: true
      port: 4102
    proton:
      tls: true
      port: 4030
    citoid:
      tls: true
      port: 4003
    wikifeeds:
      tls: true
      port: 4101
    aqs:
      port: 7232
      tls: false
    geo-analytics:
      ingress: true
      port: 30443 # ingress
      tls: true
    media-analytics:
      ingress: true
      port: 30443 # ingress
      tls: true
    page-analytics:
      ingress: true
      port: 30443 # ingress
      tls: true
    edit-analytics:
      ingress: true
      port: 30443 # ingress
      tls: true
    editor-analytics:
      ingress: true
      port: 30443 # ingress
      tls: true

service:
  deployment: production
  port:
    nodePort: 4113

mesh:
  enabled: true
  telemetry:
    enabled: true

discovery:
  listeners:
  - mobileapps

networkpolicy:
  egress:
    enabled: true
    dst_nets:
    - cidr: 10.2.1.14/32 # mobileapps.svc.codfw.wmnet
      ports:
        - protocol: tcp
          port: 4102
    - cidr: 10.2.2.14/32 # mobileapps.svc.eqiad.wmnet
      ports:
        - protocol: tcp
          port: 4102
    - cidr: 10.2.1.21/32 # proton.svc.codfw.wmnet
      ports:
        - protocol: tcp
          port: 4030
    - cidr: 10.2.2.21/32 # proton.svc.eqiad.wmnet
      ports:
        - protocol: tcp
          port: 4030
    - cidr: 10.2.1.47/32 # wikifeeds.svc.codfw.wmnet
      ports:
        - protocol: tcp
          port: 4101
    - cidr: 10.2.2.47/32 # wikifeeds.svc.eqiad.wmnet
      ports:
        - protocol: tcp
          port: 4101
    - cidr: 10.2.1.19/32 # citoid.svc.codfw.wmnet
      ports:
        - protocol: tcp
          port: 4003
    - cidr: 10.2.2.19/32 # citoid.svc.eqiad.wmnet
      ports:
        - protocol: tcp
          port: 4003
    - cidr: 10.2.2.12/32 # aqs.discovery.wmnet (eqiad)
      ports:
        - protocol: tcp
          port: 7232
    - cidr: 10.2.1.12/32 # aqs.discovery.wmnet (codfw)
      ports:
        - protocol: tcp
          port: 7232
    - cidr: 10.2.2.70/32 # k8s-ingress-wikikube-ro.discovery.wmnet (eqiad)
      ports:
        - protocol: tcp
          port: 30443
    - cidr: 10.2.1.70/32 # k8s-ingress-wikikube-ro.discovery.wmnet (codfw)
      ports:
        - protocol: tcp
          port: 30443
    - cidr: 10.2.2.69/32 # *.k8s-staging.discovery.wmnet (eqiad)
      ports:
        - protocol: tcp
          port: 30443
    - cidr: 10.2.1.69/32 # *.k8s-staging.discovery.wmnet (codfw)
      ports:
        - protocol: tcp
          port: 30443
