helmfile.d/services/*/*/private
helmfile.d/admin/*/*/private
helmfile.d/services/*/diffs
.hfenv
.rake_tasks~
.vscode
.tox
__pycache__/
.idea
*~
.rake_modules/Gemfile.lock
.rake_modules/.bundle/
.rake_modules/vendor/bundle
jsonschema/charts/
.venv
.python-version
values-*.local.yaml
.fixtures/general-*.yaml
.fixtures/services-*.yaml
.fixtures/service_proxy.yaml
.
