helmfile.d/services/*/*/private
helmfile.d/admin/*/*/private
helmfile.d/services/*/diffs
.hfenv
.rake_tasks~
.vscode
.tox
__pycache__/
.idea
*~
.rake_modules/Gemfile.lock
.rake_modules/.bundle/
jsonschema/charts/
