chartVersions:
  wmf-stable/calico: ~
  wmf-stable/calico-crds: ~
  wmf-stable/coredns: ~
  wmf-stable/cert-manager: ~

PodSecurityStandard:
  disablePSPMutations: true  # Disable PSP mutation, allow all seccomp profiles
  enforce: true              # Enforce the PodSecurityStandard profile "restricted"
  disableRestrictedPSP: true # Disable PSP binding for the restricted PSP

namespaces:
  echoserver: {}
  opensearch-test:
    limitranges:
      container:
        min:
          memory: "300Mi"
          cpu: "100m"
        max:
          memory: "16Gi"
          cpu: "8"
        defaultRequest:
          memory: "2000Mi"
          cpu: "500m"
        default:
          memory: "2000Mi"
          cpu: "500m"
      pod:
        min:
          memory: "300Mi"
          cpu: "100m"
        max:
          memory: "20Gi"
          cpu: "12"
  opensearch-ipoid-test:
    limitranges:
      container:
        min:
          memory: "300Mi"
          cpu: "100m"
        max:
          memory: "16Gi"
          cpu: "8"
        defaultRequest:
          memory: "2000Mi"
          cpu: "500m"
        default:
          memory: "2000Mi"
          cpu: "500m"
      pod:
        min:
          memory: "300Mi"
          cpu: "100m"
        max:
          memory: "20Gi"
          cpu: "12"
  opensearch-ipoid:
    limitranges:
      container:
        min:
          memory: "300Mi"
          cpu: "100m"
        max:
          memory: "16Gi"
          cpu: "8"
        defaultRequest:
          memory: "2000Mi"
          cpu: "500m"
        default:
          memory: "2000Mi"
          cpu: "500m"
      pod:
        min:
          memory: "300Mi"
          cpu: "100m"
        max:
          memory: "20Gi"
          cpu: "12"
  opensearch-semantic-search:
    limitranges:
      container:
        min:
          memory: "300Mi"
          cpu: "100m"
        max:
          memory: "16Gi"
          cpu: "8"
        defaultRequest:
          memory: "2000Mi"
          cpu: "500m"
        default:
          memory: "2000Mi"
          cpu: "500m"
      pod:
        min:
          memory: "300Mi"
          cpu: "100m"
        max:
          memory: "20Gi"
          cpu: "12"
