# Default values.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.
app:
  image: wikimedia/mediawiki-services-kartotherian
  version: latest # we use latest everywhere in the defaults.
  port: 6533 # port exposed as a Service, also used by service-checker.
  # Use command and args below to override the entrypoint. Type is arrays
  # Not necessary unless you want to change the entrypoint defined in the docker image
  # Example:
  # command: ["node"]
  # args: ["bin/server.js", "--param1", "arg1"]
  command: ["/usr/bin/nodejs"]
  log:
    level: "INFO"
  volumes:
    - name: config-volume
      configMap:
        name: kartotherian-config
  volumeMounts:
    - name: config-volume
      mountPath: /etc/kartotherian
  args: ["server.js", "-c", "/etc/kartotherian/config.yaml"]
  requests:
    cpu: 1
    memory: 500Mi
  limits:
    cpu: 1
    memory: 500Mi
  liveness_probe:
    tcpSocket:
      port: 6543
  readiness_probe:
    httpGet:
      path: /osm-intl/6/23/24.png
      port: 6543
      scheme: HTTPS
  metricsPort: 9102
  metrics:
    statsd_endpoint: localhost
    statsd_port: 9125
  wdqs:
    endpoint: http://localhost:6009
  tegola:
    endpoint: http://localhost:6040
  mwapi:
    endpoint: http://localhost:6500
  geoshapes:
    endpoint: localhost
    port: 5432
    user: 'kartotherian'
    pool_size: 10
  osmdb:
    user: 'kartotherian'
  worker:
    heap_limit_mb: 300
    heartbeat_timeout: 7500
  allowed_domains:
    https:
      - mediawiki.org
      - wikibooks.org
      - wikidata.org
      - wikimedia.org
      - wikimediafoundation.org
      - wikinews.org
      - wikipedia.org
      - wikiquote.org
      - wikisource.org
      - wikiversity.org
      - wikivoyage.org
      - wiktionary.org


monitoring:
  # If enabled is true, monitoring annotations will be added to the deployment.
  enabled: false
  named_ports: true
  statsd:
    config: |-
      defaults:
        observer_type: histogram
        histogram_options:
          buckets: [0.005, 0.01, 0.025, 0.05, 0.1, 0.25, 0.5, 1, 2.5, 5, 10, 30, 60]
        quantiles:
        - quantile: 0.99
          error: 0.001
        - quantile: 0.95
          error: 0.001
        - quantile: 0.75
          error: 0.001
        - quantile: 0.5
          error: 0.005
      mappings:
      - match: "kartotherian.req.*.info"
        name: kartotherian_request_duration_ms
        labels:
          source: $1
          zed: info
      - match: "kartotherian.req.*.*.*"
        name: kartotherian_request_duration_ms
        labels:
          source: $1
          zed: $2
          format: $3
      - match: "kartotherian.req.*.*.*.*"
        name: kartotherian_request_duration_ms
        labels:
          source: $1
          zed: $2
          format: $3
          scale: $4
      - match: "kartotherian.req.*.*.*.static.*"
        name: kartotherian_request_duration_ms
        labels:
          source: $1
          zed: $2
          format: $3
          static: $4
      - match: "kartotherian.err.req.*"
        name: kartotherian_err_requests_count
        labels:
          type: $1
      - match: "kartotherian.err.marker.*"
        name: kartotherian_err_marker_count
        labels:
          type: $1
      - match: "kartotherian.router.*.*.*"
        name: kartotherian_router_duration_ms
        labels:
          path: $1
          verb: $2
          response_code: $3
      - match: "kartotherian.geoshape.*"
        name: kartotherian_geoshapes_request_duration_ms
        labels:
          type: $1
      - match: "kartotherian.geopoint.*"
        name: kartotherian_geopoint_request_duration_ms
        labels:
          type: $1
      - match: "kartotherian.geoline.*"
        name: kartotherian_geoline_request_duration_ms
        labels:
          type: $1

service:
  deployment: minikube # production used only in helmfile
  port:
    name: http
    targetPort: 6543
    port: 6543
    nodePort: null

debug:
  enabled: false

config:
  public: {} # Add here all the keys that can be publicly available as a ConfigMap
  private:
    KARTOTHERIAN_POSTGRES_GEOSHAPES_PASSWORD: "secret"
    KARTOTHERIAN_POSTGRES_OSMDB_PASSWORD: "secret"

mesh:
  enabled: false
  admin: {port: 1666 }
  image_version: latest
  # http keepalive timeout for incoming requests
  idle_timeout: "4.5s"
  # Port to listen to
  public_port: 6543
  local_access_log_min_code: "200"
  # Headers to add to a local request,
  # in dictionary form.
  request_headers_to_add: []
  # Timeout of a request to the local service
  upstream_timeout: "60s"
  # Enabling telemetry, telemetry port.
  telemetry:
    enabled: true
    port: 16543
  # Extra set of label / value to use in the mesh Service label selector.
  # Use this when you have multiple pods with different functionalities
  # in the namespace, to make sure the traffic only goes to the appropriate one.
  extra_service_selector_labels: {}
  resources:
    requests:
      cpu: 200m
      memory: 100Mi
    limits:
      cpu: 500m
      memory: 500Mi

# Mesh-related discovery
discovery: []

# Mesh related pure TCP proxies.
# Useful to set up load-balanced connections to external
# services like multiple Postgres replicas.
tcp_proxy:
  listeners: []

# Should be provided by configuration management.
# See details of the structures in the comments
# In the configuration module.
services_proxy: ~
tcp_services_proxy: ~

docker:
  registry: docker-registry.wikimedia.org
  pull_policy: IfNotPresent
resources:
  replicas: 1

networkpolicy:
  egress:
    enabled: false

# The set of external services to allow egress to
# Example:
# kafka:
# - main-codfw
# - main-eqiad
# presto:
# - analytics
#
# See https://wikitech.wikimedia.org/wiki/Kubernetes/Deployment_Charts#Enabling_egress_to_services_external_to_Kubernetes
# for the list of supported services
external_services: {}
