---
apiVersion: v1
kind: Secret
metadata:
{{- include "base.meta.metadata" (dict "Root" . "Name" "secret-config" ) | indent 2 }}
type: Opaque
{{- if .Values.config.private }}
data: {{- range $k := (keys .Values.config.private | sortAlpha) }}
  {{ $k }}: {{ get $.Values.config.private $k | b64enc | quote }}
{{- end }}
  SSO_CONFIG: {{ $.Values.config.oidc | toJson | b64enc | quote }}
{{- end }}

{{ include "kerberos.secret" . }}
