config:
  airflow:
    dags_folder: platform_eng
    instance_name: platform-eng
    auth:
      role_mappings:
        airflow-platform-eng-ops: [Op]
    config:
      core:
        executor: KubernetesExecutor
      kerberos:
        principal: analytics-platform-eng/airflow-platform-eng.discovery.wmnet
  oidc:
    client_id: airflow_platform_eng

gitsync:
  # Some DAGS in platform_eng import functions from the analytics folder
  extra_dags_folders: [analytics]

ingress:
  gatewayHosts:
    default: "airflow-platform-eng"
    extraFQDNs:
    - airflow-platform-eng.wikimedia.org
