config:
  airflow:
    instance_name: platform-eng
    config:
      core:
        dag_file_processor_timeout: 600  # T394459: we observed DAG processing timeouts

  connections:
    spurus:
      host: https://feeds.spur.us
      extra: '{"proxies": {"https": "http://url-downloader.eqiad.wikimedia.org:8080"}}'
    opensearch_test:
      conn_type: opensearch
      host: opensearch-test.discovery.wmnet
      port: 30443
      login: opensearch
      extra_dejson:
        verify_certs: True
        use_ssl: True
    opensearch_ipoid_eqiad: &opensearch-ipoid
      conn_type: opensearch
      host: opensearch-ipoid.svc.eqiad.wmnet
      port: 30443
      login: opensearch
      extra_dejson:
        verify_certs: True
        use_ssl: True
    opensearch_ipoid_codfw:
      <<: *opensearch-ipoid
      host: opensearch-ipoid.svc.codfw.wmnet
    opensearch_ipoid_test_eqiad:
      <<: *opensearch-ipoid
      host: opensearch-ipoid-test.svc.eqiad.wmnet
    opensearch_ipoid_test_codfw:
      <<: *opensearch-ipoid
      host: opensearch-ipoid-test.svc.codfw.wmnet

gitsync:
  # Some DAGS in platform_eng import functions from the main folder
  extra_dags_folders: [main]

ingress:
  gatewayHosts:
    default: "airflow-platform-eng"
    extraFQDNs:
    - airflow-platform-eng.wikimedia.org

worker:
  proxy:
    urldownloader:
      enabled: true

# Enable traffic to egress to the dse-k8s-codfw ingress VIP. This is useful for the spur DAG
# which have to double write to opensearch clusters running in dse-k8s-{eqiad, codfw}
networkpolicy:
  egress:
    dst_nets:
    - cidr: 10.2.1.91/32
      ports:
      - port: 30443
        protocol: TCP
