config:
  airflow:
    instance_name: platform-eng
    config:
      core:
        dag_file_processor_timeout: 600  # T394459: we observed DAG processing timeouts

gitsync:
  # Some DAGS in platform_eng import functions from the main folder
  extra_dags_folders: [main]

ingress:
  gatewayHosts:
    default: "airflow-platform-eng"
    extraFQDNs:
    - airflow-platform-eng.wikimedia.org

external_services:
  task-pod:
    urldownloader: [wikimedia]
