config:
  airflow:
    instance_name: platform-eng
    config:
      core:
        dag_file_processor_timeout: 600  # T394459: we observed DAG processing timeouts

  connections:
    spurus:
      host: https://feeds.spur.us
      extra: '{"proxies": {"https": "http://url-downloader.eqiad.wikimedia.org:8080"}}'
    opensearch_test:
      conn_type: opensearch
      host: opensearch-test.discovery.wmnet
      port: 30443
      login: opensearch
      extra_dejson:
        verify_certs: True
        use_ssl: True


gitsync:
  # Some DAGS in platform_eng import functions from the main folder
  extra_dags_folders: [main]

ingress:
  gatewayHosts:
    default: "airflow-platform-eng"
    extraFQDNs:
    - airflow-platform-eng.wikimedia.org

worker:
  proxy:
    urldownloader:
      enabled: true
