config:
  private: {}
  public: {}
docker:
  pull_policy: IfNotPresent
  registry: docker-registry.discovery.wmnet
helm_scaffold_version: 0.2
main_app:
  image: repos/mediawiki/services/mathoid
  version: 2024-06-18-233457-production
  limits:
    cpu: 1
    memory: 1G
  requests:
    cpu: 100m
    memory: 200Mi
monitoring:
  enabled: true
resources:
  replicas: 10
service:
  deployment: production
mesh:
  public_port: 4001
  enabled: true
  telemetry:
    enabled: true
networkpolicy:
  egress:
    enabled: false
