resources:
# mw-experimental has a single release, and a single pod.
  replicas: 1

# This is a single pod service, recreate is ok
strategy:
  type: Recreate
  rollingUpdate: ~

mesh:
  public_port: 4456
  tracing:
    enabled: true
    sampling: 1

monitoring:
  statsd: ~

main_app:
  requests:
    auto_compute: false
    cpu: 500m
    memory: 3500Mi
  limits:
    enforce: false
    auto_compute: false
    cpu: 1000m
    memory: 4000Mi

php:
  devel_mode: true

# enabling experimental mounts /srv/mediawiki from the node
# via hostPath
mw:
  experimental:
    enabled: true
# mw-experimetal runs only on specific nodes
tolerations:
  - key: dedicated
    value: mw-experimental
    effect: NoExecute
  - key: dedicated
    value: mw-experimental
    effect: NoSchedule
affinity:
  nodeSelector:
    dedicated: mw-experimental
