main_app:
  image: wikimedia/generated-data-platform-aqs-geo-analytics
  version: 2023-08-23-144351-production
  command: ["./geo-analytics"]
  args: ["-config", "/etc/cassandra-http-gateway/config.yaml"]
  service_name: geo-analytics
  consistency: localQuorum
  # use eqiad for all DCs here until we get AQS hosts in codfw
  datacentre: eqiad

  # note the "_"
  cassandra_user: "geo_analytics"

  requests:
    cpu: 200m
    memory: 500Mi
  limits:
    cpu: 1
    memory: 1024Mi
  log_level: debug

resources:
  replicas: 2

mesh:
  enabled: true
  public_port: 4973

ingress:
  enabled: true

service:
  deployment: production
  port:
    nodePort: 4973

monitoring:
  enabled: true