config:
  superset:
    sqlalchemy_database_uri: mysql://superset:<PASSWORD>@an-mariadb1001.eqiad.wmnet:3306/superset_production
  oidc:
    client_id: superset_k8s

ingress:
  gatewayHosts:
    default: "superset"
    extraFQDNs:
    - superset.wikimedia.org

# do not schedule on hosts with 1Gbps NIC
# double "affinity" until we can fix the chart template itself
affinity:
  affinity:
    nodeAffinity:
      requiredDuringSchedulingIgnoredDuringExecution:
        nodeSelectorTerms:
        - matchExpressions:
          - key: capabilities.nic
            operator: NotIn
            values:
            - 1G
