app:
  config_files:
    rdf-streaming-updater-config.properties:
      brokers: kafka-main-eqiad.external-services.svc.cluster.local:9093
      parallelism: 1
      produce_side_outputs: false
      output_topic_prefix: eqiad.
  jobManager:
    replicas: 1
    resource:
      memory: 1600m
      cpu: 0.5  # TODO(kamila) remove me once staging isn't starved for CPU
  taskManager:
    replicas: 1
    resource:
      memory: 2Gb
      cpu: 1
  version: flink-1.20.2-rdf-1.3.160
  flinkVersion: v1_20
flink:
  object_store:
    swift_bucket: rdf-streaming-updater-staging
  high_availability:
    zookeeper_quorum: flink-zk1001.eqiad.wmnet:2181,flink-zk1002.eqiad.wmnet:2181,flink-zk1003.eqiad.wmnet:2181
job:
  flinkConfiguration:
    "taskmanager.memory.jvm-overhead.fraction": "0.1"

external_services:
  kafka:
    - main-eqiad
  zookeeper:
    - flink-eqiad
