# WMF kubernetes cluster specific values.
# These are kept out of the main values.yaml just so that it is easier to use
# with local development.

app:
  config_files:
    rdf-streaming-updater-config.properties:
      # TODO: This value is also constructed by the chart and fed to flink config, but the chart can't
      # know anything about our specific application. Is there some way to read the flink value
      # instead of copying it here?
      checkpoint_dir: s3://rdf-streaming-updater-codfw/wikidata/checkpoints
      output_topic: codfw.rdf-streaming-updater.mutation
      subgraph_kafka_topics.rdf-streaming-updater.mutation-scholarly: "codfw.rdf-streaming-updater.mutation-scholarly"
      subgraph_kafka_topics.rdf-streaming-updater.mutation-main: "codfw.rdf-streaming-updater.mutation-main"
      reconciliation_stream: rdf-streaming-updater.reconcile[wdqs_sideoutputs_reconcile@codfw]
  job:
    initialSavepointPath: s3://rdf-streaming-updater-codfw/wikidata/2023-11-29T162302/savepoint-f62514-fc06085c8727
    # savepointTriggerNonce triggers a savepoint; see
    # https://nightlies.apache.org/flink/flink-kubernetes-operator-docs-release-1.6/docs/
    # custom-resource/job-management/#manual-savepoint-triggering
    # for more details
    savepointTriggerNonce: 216
    state: running
