monitoring:
  enabled: false

inference_services:
  reference-need:
    predictor:
      config:
        minReplicas: 1
        maxReplicas: 1
      custom_env:
        - name: STORAGE_URI
          value: "s3://wmf-ml-models/reference-quality/20250127142109/"
        - name: FORCE_HTTP
          value: "True"
        - name: MODEL_TO_DEPLOY
          value: "reference-need"
        - name: BATCH_SIZE
          value: "16"
        - name: NUM_THREADS
          value: "1"
        - name: NUM_OF_WORKERS
          value: "1"
      container:
        resources:
          limits:
            cpu: "4"
            memory: 2Gi
          requests:
            cpu: "4"
            memory: 2Gi
  reference-risk:
    predictor:
      config:
        minReplicas: 1
        maxReplicas: 1

  revertrisk-wikidata:
    predictor:
      image: "machinelearning-liftwing-inference-services-revertrisk-wikidata"
      image_version: "2025-11-17-105041-publish"
      custom_env:
        - name: MODEL_NAME
          value: "revertrisk-wikidata"
        - name: STORAGE_URI
          value: "s3://wmf-ml-models/revertrisk/wikidata/20251104121312/"
        - name: FORCE_HTTP
          value: "True"
      container:
        resources:
          limits:
            cpu: "2"
            memory: 4Gi
          requests:
            cpu: "2"
            memory: 4Gi
