# In this fixture we have several inference services composed only by predictors,
# without any transformer set.
docker:
  registry: docker-registry.wikimedia.org/wikimedia
  imagePullPolicy: IfNotPresent
inference:
  swift_s3_secret_name: "swift-s3-credentials"
  s3_storage_base_uri: "s3://wmf-ml-models"
  model: goodfaith
  annotations:
    sidecar.istio.io/inject: "false"
  labels:
    controller-tools.k8s.io: "1.0"
  predictor:
    image: "machinelearning-liftwing-inference-services-editquality"
    version: "2021-09-01-140944-production"
    container:
      resources:
        limits:
          cpu: "1"
          memory: 2Gi
        requests:
          cpu: "1"
          memory: 2Gi
    base_env:
      - name: WIKI_URL
        value: "https://api-ro.discovery.wmnet"
      - name: REQUESTS_CA_BUNDLE
        value: "/usr/share/ca-certificates/wikimedia/Puppet_Internal_CA.crt"
revscoring_inference_services:
  - wiki: "enwiki"
    version: "202105140814"
  - wiki: "itwiki"
    version: "202106140815"
    predictor:
      container:
        resources:
          limits:
            cpu: "5"
            memory: 2Gi
          requests:
            cpu: "2"
            memory: 2Gi
      config:
        serviceAccountName: "kserve-override"
        minReplicas: 2
        canaryTrafficPercent: 10
        dnsConfig:
          options:
          - name: ndots
            value: "2"
  - wiki: "eswiki"
    version: "202106140815"
    predictor:
      image: machinelearning-liftwing-inference-services-editquality-custom
      version: '42'
  - wiki: "eswikibooks"
    host: es.wikibooks.org
    version: "202106140815"
  - wiki: "eswiki"
    version: "202106140815"
    s3_storage_base_uri: "s3://wmf-ml-models-other"
    predictor:
      image: machinelearning-liftwing-inference-services-editquality-custom
      version: '42'
  - wiki: "testwiki"
    version: "202105140814"
    use_model_from_wiki: "enwiki"
  - wiki: "wikidatawiki"
    version: "202106140666"
