resources:
# When ramping up replicas in the main release, please remember
# to raise the number of canary replicas as well.
# We aim for ~3% of the deployment for canaries, rounding up.
  # October 2025 sizing for *multi-DC* serving:
  #replicas: 340
  # T405955: With the next release serving ~ 30% of traffic, the nominal size
  # of main for serving residual traffic is 80% of its normal size: 272.
  replicas: 244  # Scaled to ~ 90% of 272 replicas total (T405955)
  # September 2025 Switchover sizing for *single-DC* serving:
  #replicas: 450

mesh:
  image_version: 1.32.12-1
  public_port: 4450
  tracing:
    enabled: true
    sampling: 0.01

php:
  apc:
    size: 2048

monitoring:
  statsd: ~
