opensearchCluster:
  general:
    serviceName: "opensearch-ipoid"
  nodePools:
    - component: masters
      diskSize: "40Gi"
      persistence:
        pvc:
          storageClass: ceph-rbd-ssd
          accessModes:
            - ReadWriteOnce
      replicas: 3
      roles:
        - "master"
        - "data"
      resources:
        requests:
          memory: "8Gi"
          cpu: "4000m"
        limits:
          memory: "8Gi"
          cpu: "4000m"
    # These annotations enable/configure metrics scrapes
      annotations:
        prometheus.io/scrape: "true"
        prometheus.io/port: "9200"
        prometheus.io/path: "/_prometheus/metrics"
        prometheus.io/scheme: "https"
    # prevent 2 masters from being scheduled on the same k8s worker
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
            - matchExpressions:
              - key: capabilities.nic
                operator: NotIn
                values:
                - 1G
      # prevent 2 masters from being scheduled on the same k8s worker
        podAntiAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            - labelSelector:
                matchLabels:
                  opster.io/opensearch-cluster: opensearch-cluster
                  opster.io/opensearch-nodepool: masters
              topologyKey: kubernetes.io/hostname
certificate:
  extraFQDNs:
  - opensearch-ipoid.discovery.wmnet
