docker:
  registry: docker-registry.discovery.wmnet/wikimedia
  imagePullPolicy: IfNotPresent

networkpolicy:
  egress:
    enabled: true
    # These endpoints should be reachable by Istio proxy sidecars.
    dst_nets:
      - cidr: 10.2.1.54/32 # thanos-swift.svc.codfw.wmnet
        ports:
        - port: 443
          protocol: tcp
      - cidr: 10.2.2.54/32 # thanos-swift.svc.eqiad.wmnet
        ports:
        - port: 443
          protocol: tcp
      - cidr: 10.2.1.22/32 # api-ro.svc.codfw.wmnet
        ports:
        - port: 443
          protocol: tcp
      - cidr: 10.2.2.22/32 # api-ro.svc.eqiad.wmnet
        ports:
        - port: 443
          protocol: tcp
      - cidr: 10.2.1.45/32 # eventgate-main.svc.codfw.wmnet
        ports:
        - port: 4492
          protocol: tcp
      - cidr: 10.2.2.45/32 # eventgate-main.svc.eqiad.wmnet
        ports:
        - port: 4492
          protocol: tcp

monitoring:
  enabled: true

inference:
  annotations:
    sidecar.istio.io/inject: "true"
    autoscaling.knative.dev/metric: "rps"
    autoscaling.knative.dev/target: "4"
  s3_storage_base_uri: "s3://wmf-ml-models"
  model: "articlequality"
  predictor:
    image: "machinelearning-liftwing-inference-services-revscoring"
    version: "2023-06-28-092250-publish"
    config:
      minReplicas: 1
      maxReplicas: 4
    base_env:
      - name: WIKI_URL
        value: "http://api-ro.discovery.wmnet"
      - name: REQUESTS_CA_BUNDLE
        value: "/etc/ssl/certs/wmf-ca-certificates.crt"
      - name: EVENTGATE_URL
        value: "http://eventgate-main.discovery.wmnet:4480/v1/events"
      - name: EVENTGATE_STREAM
        value: "mediawiki.revision_score_articlequality"

revscoring_inference_services:
  - wiki: "enwiki"
    version: "20230824150035"
    predictor:
      config:
        minReplicas: 2
  - wiki: "euwiki"
    version: "20220509070939"
  - wiki: "fawiki"
    version: "20221107044250"
  - wiki: "frwiki"
    version: "20220509072528"
  - wiki: "glwiki"
    version: "20220509072933"
  - wiki: "nlwiki"
    version: "20220509073412"
  - wiki: "ptwiki"
    version: "20220509073601"
  - wiki: "ruwiki"
    version: "20220509073816"
  - wiki: "simplewiki"
    version: "20211022183902"
    use_model_from_wiki: "enwiki"
  - wiki: "svwiki"
    version: "20220509074033"
  - wiki: "testwiki"
    version: "20211022183902"
    use_model_from_wiki: "enwiki"
  - wiki: "trwiki"
    version: "20220509074220"
  - wiki: "ukwiki"
    version: "20220509074420"
  - wiki: "wikidatawiki"
    version: "20220509074653"
    model: "itemquality"
