monitoring:
  enabled: false # TODO(klausman): what exactly does this do?

inference:
  predictor:
    config:
      maxReplicas: 1
    base_env:
      - name: REQUESTS_CA_BUNDLE
        value: "/etc/ssl/certs/wmf-ca-certificates.crt"
      - name: EVENTGATE_URL
        value: "http://eventgate-main.discovery.wmnet:4480/v1/events"
      - name: EVENTGATE_STREAM
        value: "mediawiki.revision-score-test"
      - name: LOG_JSON_PAYLOAD
        value: "True"

revscoring_inference_services:
  - wiki: "enwiki"
    version: "20230824150035"
    predictor:
      custom_env:
        - name: ASYNCIO_USE_PROCESS_POOL
          value: "True"
        - name: ASYNCIO_AUX_WORKERS
          value: 2
        - name: PREPROCESS_MP
          value: "True"
      container:
        resources:
          limits:
            cpu: "3"
            memory: 2Gi
          requests:
            cpu: "3"
            memory: 2Gi
  - wiki: "wikidatawiki"
    host: "www.wikidata.org"
    version: "20220509074653"
    model: "itemquality"
