monitoring:
  enabled: false

inference:
  predictor:
    config:
      maxReplicas: 1
    base_env:
      - name: WIKI_URL
        value: "http://api-ro.discovery.wmnet"
      - name: REQUESTS_CA_BUNDLE
        value: "/etc/ssl/certs/wmf-ca-certificates.crt"
      - name: EVENTGATE_URL
        value: "http://eventgate-main.discovery.wmnet:4480/v1/events"
      - name: EVENTGATE_STREAM
        value: "mediawiki.revision-score-test"

revscoring_inference_services:
  - wiki: "enwiki"
    version: "202105260914"
  - wiki: "eswikiquote"
    host: es.wikiquote.org
    version: "20220214192153"
  - wiki: "wikidatawiki"
    version: "20220214192318"
