monitoring:
  enabled: false

inference:
  predictor:
    config:
      maxReplicas: 1
    base_env:
      - name: REQUESTS_CA_BUNDLE
        value: "/etc/ssl/certs/wmf-ca-certificates.crt"
      - name: EVENTGATE_URL
        value: "http://eventgate-main.discovery.wmnet:4480/v1/events"
      - name: EVENTGATE_STREAM
        value: "mediawiki.revision-score-test"
      - name: LOG_JSON_PAYLOAD
        value: "True"

revscoring_inference_services:
  - wiki: "enwiki"
    version: "202105260914"
  - wiki: "wikidatawiki"
    version: "20220214192318"
