# Over-ride values for the orchestrator

main_app:
  # Re-stated image: for greppability.
  image: repos/abstract-wiki/wikifunctions/function-orchestrator
  version: 2026-02-25-124326

ingress:
  enabled: true

cache:
  mcrouter:
    resources:
      requests:
        cpu: 200m
        memory: 100Mi
      limits:
        cpu: 700m
        memory: 400Mi

config:
  public:
    # Set a nicer name for the OpenTelemetry entries than 'unknown_service'
    OTEL_SERVICE_NAME: wikifunctions-orchestrator
    # Production wiki access (initially, for wikifunctions.org)
    WIKI_API_URL: http://localhost:6501/w/api.php
    WIKI_VIRTUAL_HOST: www.wikifunctions.org
    # Production Wikidata.org wiki access
    WIKIDATA_API_URL: http://localhost:6501/
    WIKIDATA_VIRTUAL_HOST: www.wikidata.org
    ORCHESTRATOR_HEAP_SIZE: "2048"
    # Top-level request timeout at the orchestrator level (in milliseconds)
    # This should be a second or so larger than FUNCTION_EVALUATOR_TIMEOUT_MS
    # This needs to be a bit less than the 10s k8s bucket
    ORCHESTRATOR_TIMEOUT_MS: "9700"
    ORCHESTRATOR_CONFIG: |
      {
        "addNestedMetadata": false,
        "createCustomSpans": true,
        "generateFunctionsMetrics": true,
        "maxSimultaneousExecutions": 1000,
        "useWikidata": true,
        "wikidataImport": {
          "qualifiers": true,
          "references": false
        },
        "memcachedUri": "127.0.0.1:11213",
        "maxRecursionDepth": 1000,
        "useMemcached": true,
        "useWikidataMemcached": true,
        "wikidataMemcachedTTL": 86400,
        "useBatching": true,
        "evaluatorConfigs": [
          {
            "programmingLanguages": ["Z610"],
            "evaluatorUri": "https://function-evaluator-python-evaluator-tls-service.wikifunctions.svc.cluster.local:4970/1/v1/evaluate/",
            "evaluatorWs": "",
            "useReentrance": false
          },
          {
            "programmingLanguages": ["Z600"],
            "evaluatorUri": "https://function-evaluator-javascript-evaluator-tls-service.wikifunctions.svc.cluster.local:4970/1/v1/evaluate/",
            "evaluatorWs": "",
            "useReentrance": false
          }
        ]
      }

discovery:
  listeners:
    - mw-wikifunctions-ro

networkpolicy:
  egress:
    extraRules:
    # This is required for the pods to be able to reach out to ingress gateway.
    # The rule matching the nodePort 30443 and the WikiKube Ingress IPs isn't
    # sufficient
    - ports:
      - protocol: TCP
        port: 8443
      to:
      - namespaceSelector:
          matchLabels:
            kubernetes.io/metadata.name: istio-system
        podSelector:
          matchLabels:
            istio: ingressgateway
    # This is a copy from the charts values.yaml as these don't get deep merged here
    - ports:
      - protocol: TCP
        port: 4970
      to:
      - podSelector:
          matchLabels:
            app: function-evaluator
    # This is to allow access to the mw-wikifunctions pods in the *local* cluster.
    # NetworkPolicy rules apply after all DNAT has taken place, to just
    # allowing the LVS IP (what our mesh templates do) it not enough for
    # wikifunctions as we don't allow genreal pod-to-pod traffic.
    - ports:
      - port: 4451
        protocol: TCP
      to:
      - namespaceSelector:
          matchLabels:
            kubernetes.io/metadata.name: mw-wikifunctions
        podSelector:
          matchLabels:
            app: mediawiki
            deployment: mw-wikifunctions
