# Over-ride values for the Python evaluator

main_app:
  image: repos/abstract-wiki/wikifunctions/function-evaluator/wasm-python3-all
  version: 2024-07-23-225548

config:
  public:
    FUNCTION_EVALUATOR_TIMEOUT_MS: "9000"
    WASM_BINARY: /srv/service/programming-languages/rustpython.so
    PROGRAMMING_LANGUAGE_DIR: /srv/service/programming-languages
    WASMEDGE_HOME: /srv/service/programming-languages/wasmedge
    ENABLE_WASMEDGE_LIMITS: "1"
    WASMEDGE_GAS_LIMIT: "1000000"
    WASMEDGE_MEMORY_PAGE_LIMIT: "10000"
    WASMEDGE_TIMEOUT_MS: "11000"
