# Over-ride values for the JavaScript evaluator

main_app:
  image: repos/abstract-wiki/wikifunctions/function-evaluator/wasm-javascript-all
  version: 2026-02-25-131752

config:
  public:
    # Set a nicer name for the OpenTelemetry entries than 'unknown_service'
    OTEL_SERVICE_NAME: wikifunctions-evaluator-javascript
    FUNCTION_EVALUATOR_TIMEOUT_MS: "9000"
    WASM_BINARY: /srv/service/programming-languages/wasmedge_quickjs.so
    PROGRAMMING_LANGUAGE_DIR: /srv/service/programming-languages
    WASMEDGE_HOME: /srv/service/programming-languages/wasmedge
    EXECUTOR_PROCESS_POOL_SIZE: "5"
    ENABLE_WASMEDGE_LIMITS: "0"
    WASMEDGE_GAS_LIMIT: "1000000"
    WASMEDGE_MEMORY_PAGE_LIMIT: "10000"
    WASMEDGE_TIMEOUT_MS: "11000"
    FUNCTION_EVALUATOR_WASI_ACQUIRE_TIMEOUT: "1500"
    createCustomSpans: true
