{{- if .Values.tilePregeneration.cronJobEnabled -}}
apiVersion: batch/v1
kind: CronJob
metadata:
  name: {{ template "base.name.release" . }}-pregeneration
  labels:
    app: {{ template "base.name.chart" . }}
    chart: {{ template "base.name.chartid" . }}
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
spec:
  schedule: "{{ .Values.tilePregeneration.schedule }}"
  concurrencyPolicy: "{{ .Values.tilePregeneration.concurrencyPolicy }}"
  jobTemplate:
    metadata:
      name: {{ template "base.name.release" . }}-pregeneration
      labels:
        app: {{ template "base.name.chart" . }}
        chart: {{ template "base.name.chartid" . }}
        release: {{ .Release.Name }}
        heritage: {{ .Release.Service }}
    spec:
      parallelism: {{ .Values.tilePregeneration.parallelism }}
      backoffLimit: {{ .Values.tilePregeneration.backoffLimit }}
      template:
        metadata:
          labels:
            app: {{ template "base.name.chart" . }}
            release: {{ .Release.Name }}
        spec:
          restartPolicy: "{{ .Values.tilePregeneration.restartPolicy }}"
          containers:
          - name: {{ template "base.name.release" . }}-pregeneration
            image: "{{ .Values.docker.registry }}/{{ .Values.main_app.image }}:{{ .Values.main_app.version }}"
            env:
            {{- range $k, $v := .Values.config.public }}
              - name: {{ $k | upper }}
                value: {{ $v }}
            {{- end }}
            {{- range $k, $v := .Values.config.private }}
              - name: {{ $k | upper }}
                valueFrom:
                  secretKeyRef:
                    name: {{ template "base.name.release" $ }}-secret-config
                    key: {{ $k }}
            {{- end }}
            imagePullPolicy: {{ .Values.docker.pull_policy }}
            {{- if .Values.tilePregeneration.command }}
            command:
              {{- range .Values.tilePregeneration.command }}
              - {{ . | quote }}
              {{- end }}
            {{- end }}
            volumeMounts:
              - name: config-volume
                mountPath: /etc/tegola
            resources:
              requests:
{{ toYaml .Values.main_app.requests | indent 16 }}
              limits:
{{ toYaml .Values.main_app.limits | indent 16 }}
          {{- include "mesh.deployment.container" . | indent 10}}
          volumes:
            {{- include "mesh.deployment.volume" . | indent 12}}
            - name: config-volume
              configMap:
                name: config-{{ .Release.Name }}
{{- end }}
