# NOTE: values-staging.yaml is configured to be deployed in staging-eqiad.
# It uses Kafka test-eqiad and thanos swift in eqiad.
#
app:
  config_files:
    app.config.yaml:
      # Both are specified here so overwriting `source` in the producer doesn't also override the sink
      kafka-source-config.bootstrap.servers: kafka-test-eqiad.external-services.svc.cluster.local:9093
      kafka-source-config.client.dns.lookup: use_all_dns_ips
      kafka-sink-config.bootstrap.servers: kafka-test-eqiad.external-services.svc.cluster.local:9093
      kafka-sink-config.client.dns.lookup: use_all_dns_ips
      update-topic: eqiad.cirrussearch.update_pipeline.update.rc0
      wikiids: testwiki;frwiki;itwiki

  # TODO(kamila) remove me once staging isn't starved for CPU
  jobManager:
    resource:
      cpu: 0.5

flink:
  object_store:
    swift_bucket: cirrus-streaming-updater.wikikube-staging
  high_availability:
    # Note that this isn't a staging specific cluster, but we pass the environment name into values
    # and the chart will include staging in the zk path.
    zookeeper_quorum: flink-zk1001.eqiad.wmnet:2181,flink-zk1002.eqiad.wmnet:2181,flink-zk1003.eqiad.wmnet:2181

external_services:
  kafka:
    - test-eqiad
  zookeeper:
    - flink-eqiad
