# NOTE: values-staging.yaml is configured to be deployed in staging-eqiad.
# It uses Kafka test-eqiad and thanos swift in eqiad.
#
app:
  config_files:
    app.config.properties:
      # Both are specified here so overwriting `source` in the producer doesn't also override the sink
      kafka-source-config.bootstrap.servers: kafka-test1006.eqiad.wmnet:9093,kafka-test1007.eqiad.wmnet:9093,kafka-test1008.eqiad.wmnet:9093,kafka-test1008.eqiad.wmnet:9093,kafka-test1009.eqiad.wmnet:9093,kafka-test1010.eqiad.wmnet:9093
      kafka-source-config.security.protocol: SSL
      kafka-sink-config.bootstrap.servers: kafka-test1006.eqiad.wmnet:9093,kafka-test1007.eqiad.wmnet:9093,kafka-test1008.eqiad.wmnet:9093,kafka-test1008.eqiad.wmnet:9093,kafka-test1009.eqiad.wmnet:9093,kafka-test1010.eqiad.wmnet:9093
      kafka-sink-config.security.protocol: SSL
      update-topic: codfw.cirrussearch.update_pipeline.update.rc0

flink:
  object_store:
    swift_bucket: cirrus-streaming-updater.wikikube-staging
  high_availability:
    # Note that this isn't a staging specific cluster, but we pass the environment name into values
    # and the chart will include staging in the zk path.
    zookeeper_quorum: flink-zk1001.eqiad.wmnet:2181,flink-zk1002.eqiad.wmnet:2181,flink-zk1003.eqiad.wmnet:2181

kafka:
  allowed_clusters: [test-eqiad]

zookeeper:
  allowed_clusters: [flink-eqiad]
