app:
  config_files:
    app.config.yaml:
      kafka-source-start-time: 2023-11-16T19:20:00Z
      pipeline.name: cirrus-streaming-updater-consumer-search-staging
      kafka-source-config.group.id: cirrus-streaming-updater-consumer-search-staging
      fetch-error-topic: eqiad.cirrussearch.update_pipeline.fetch_error
      # relforge doesn't have three clusters like the prod endpoints, point
      # it all at the same cluster.
      elasticsearch-urls.chi: https://relforge1003.eqiad.wmnet:9243
      elasticsearch-urls.omega: https://relforge1003.eqiad.wmnet:9243
      elasticsearch-urls.psi: https://relforge1003.eqiad.wmnet:9243
      # The normal .*= route ends up catching the elasticsearch urls above.
      # Define a relforge route that doesn't change anything to avoid that.
      http-routes.00-relforge: https://relforge1003.eqiad.wmnet:9243=https://relforge1003.eqiad.wmnet:9243
      http-routes.99-mwapi: .*=http://localhost:6500

discovery:
  listeners:
    - mw-api-int-async-ro
    - schema
    - thanos-swift # cluster for checkpoints

networkpolicy:
  egress:
    dst_nets:
      # relforge1003
      - cidr: 10.64.5.37/32
        ports:
         - port: 9243
           protocol: TCP
         - port: 9443
           protocol: TCP
         - port: 9643
           protocol: TCP
      - cidr: 2620:0:861:104:10:64:5:37/128
        ports:
         - port: 9243
           protocol: TCP
         - port: 9443
           protocol: TCP
         - port: 9643
           protocol: TCP
      # relforge1004
      - cidr: 10.64.21.126/32
        ports:
         - port: 9243
           protocol: TCP
         - port: 9443
           protocol: TCP
         - port: 9643
           protocol: TCP
      - cidr: 2620:0:861:105:10:64:21:126/128
        ports:
         - port: 9243
           protocol: TCP
         - port: 9443
           protocol: TCP
         - port: 9643
           protocol: TCP
