app:
  image: docker-registry.discovery.wmnet/repos/search-platform/cirrus-streaming-updater/producer
  job:
    entryClass: org.wikimedia.discovery.cirrus.updater.producer.ProducerApplication
  config_files:
    app.config.yaml:
      page-change-stream: mediawiki.page_change.v1
      page-rerender-stream: mediawiki.cirrussearch.page_rerender.v1
      article-topic-stream: mediawiki.page_outlink_topic_prediction_change.v1
      draft-topic-stream: mediawiki.revision_score_drafttopic
      recommendation-create-stream: mediawiki.revision-recommendation-create

  taskManager:
    # NOTE: taskManager.replicas takes precedence over job.parellism.
    # To increase default job parellism, we can increase this
    # and/or flinkConfiguration.taskmanager.numberOfTaskSlots accordingly.
    replicas: 1
    resource:
      memory: 2000m

