app:
  config_files:
    app.config.properties:
      pipeline.name: cirrus-streaming-updater-producer-staging
      # While staging lives in eqiad, only codfw has events right now. Ideally we want staging
      # in all datacenters, but for now we have to manually update this to follow mediawiki.
      topic-prefix-filter: 'codfw'
      kafka-source-config.group.id: cirrus-streaming-updater-producer-staging
      # Read prod events, outputs still flow to test cluster
      kafka-source-config.bootstrap.servers: kafka-main1001.eqiad.wmnet:9093,kafka-main1002.eqiad.wmnet:9093,kafka-main1003.eqiad.wmnet:9093,kafka-main1004.eqiad.wmnet:9093,kafka-main1005.eqiad.wmnet:9093
      wikiids: testwiki,frwiki,itwiki

kafka:
  allowed_clusters: [main-eqiad, test-eqiad]
