opensearchCluster:
  general:
    serviceName: "opensearch-semantic-search"
    image: docker-registry.wikimedia.org/repos/data-engineering/opensearch:2026-02-03-212519-70e19086545c5f33b67dde8506c9ffea81761132-production3@sha256:6e746ee4dad5f3fbd5f6c671fa44b7964f5b516c994d4990842bc5eed7839579

certificate:
  extraFQDNs:
  - opensearch-semantic-search.discovery.wmnet
