opensearchCluster:
  general:
    serviceName: "opensearch-semantic-search"
    image: docker-registry.wikimedia.org/repos/data-engineering/opensearch:2026-01-22-222021-cee6a9491ea54122ff6df5fd31ca2345f25f6e26-production3

certificate:
  extraFQDNs:
  - opensearch-semantic-search.discovery.wmnet
