inference_services:
  langid:
    predictor:
      image: "machinelearning-liftwing-inference-services-langid"
      image_version: "2024-08-08-101503-publish"
      config:
        minReplicas: 1
        maxReplicas: 1
      custom_env:
        - name: MODEL_NAME
          value: "langid"
        - name: STORAGE_URI
          value: "s3://wmf-ml-models/llm/langid/20231011160342/"
      container:
        resources:
          limits:
            memory: 2Gi
          requests:
            memory: 2Gi
