inference_services:
  aya-llm:
    predictor:
      image: "machinelearning-liftwing-inference-services-llm"
      image_version: "2025-11-28-100340-publish"
      custom_env:
        - name: MODEL_NAME
          value: "aya-expanse-8B"
        - name: STORAGE_URI
          value: "s3://wmf-ml-models/llm/aya-expanse-8B/"
        - name: LLM_CLASS
          value: "llm.Aya"
        - name: BITSANDBYTES_DTYPE
          value: "int4"
        - name: DEVICE
          value: "auto"
        - name: ATTN_IMPLEMENTATION
          value: "flash_attention_2"
        - name: DTYPE
          value: "bfloat16"
      container:
        resources:
          limits:
            cpu: "6"
            memory: 8Gi
            amd.com/gpu: "1"
          requests:
            cpu: "6"
            memory: 8Gi
            amd.com/gpu: "1"
      config:
        tolerations:
          - key: "dedicated"
            operator: "Equal"
            value: "mi300x-experiments"
            effect: "NoSchedule"
          - key: "dedicated"
            operator: "Equal"
            value: "mi300x-experiments"
            effect: "NoExecute"
        affinity:
          nodeAffinity:
            requiredDuringSchedulingIgnoredDuringExecution:
              nodeSelectorTerms:
                - matchExpressions:
                    - key: "kubernetes.io/hostname"
                      operator: "In"
                      values:
                        - "ml-serve1012.eqiad.wmnet"

  embeddings:
    predictor:
      image: "machinelearning-liftwing-inference-services-embeddings"
      image_version: "2026-01-06-082802-publish"
      custom_env:
        - name: MODEL_NAME
          value: "qwen3-embedding"
        - name: STORAGE_URI
          value: "s3://wmf-ml-models/qwen3-embedding-0.6b/20251218133542/"
        - name: MODEL_VERSION
          value: "Qwen3-Embedding-0.6B"
        - name: LOCAL_FILES_ONLY
          value: "True"
        - name: DTYPE
          value: "float16"
        - name: ATTN_IMPLEMENTATION
          value: "flash_attention_2"
        - name: MAX_LENGTH
          value: "500"
      container:
        resources:
          limits:
            cpu: "6"
            memory: 8Gi
            amd.com/gpu: "1"
          requests:
            cpu: "6"
            memory: 8Gi
            amd.com/gpu: "1"
      config:
        maxReplicas: 1
        tolerations:
          - key: "dedicated"
            operator: "Equal"
            value: "mi300x-experiments"
            effect: "NoSchedule"
          - key: "dedicated"
            operator: "Equal"
            value: "mi300x-experiments"
            effect: "NoExecute"
        affinity:
          nodeAffinity:
            requiredDuringSchedulingIgnoredDuringExecution:
              nodeSelectorTerms:
                - matchExpressions:
                    - key: "kubernetes.io/hostname"
                      operator: "In"
                      values:
                        - "ml-serve1012.eqiad.wmnet"