app:
  image: "repos/sre/httpbin"
  version: "v0.0.1-b2-8f572b98@sha256:4d73aebc09807c57a21d0e9311a990d7bb33ef2e385ecb6447b0feb79edd11af"
  port: 4999
  command: ["gunicorn"]
  args:
    - "--capture-output"
    - "--error-logfile"
    - "-"
    - "--access-logfile"
    - "-"
    - "--access-logformat"
    - "'%(h)s %(t)s %(r)s %(s)s Host: %({Host}i)s}'"
    - "-b"
    - "0.0.0.0:4999"
    - "httpbin:app"
    - "-k"
    - "gevent"
  requests:
    cpu: 100m
    memory: 200Mi
  limits:
    cpu: 1
    memory: 400Mi
  liveness_probe:
    tcpSocket:
      port: 4999
  readiness_probe:
    httpGet:
      path: /
      port: 4999

service:
  deployment: production

resources:
  replicas: 2

mesh:
  enabled: true
  public_port: 4999 # the port where TLS will be exposed
  resources:
    requests:
      cpu: 500m
      memory: 100Mi
    limits:
      cpu: 1
      memory: 500Mi
