app:
  image: "sre/httpbin"
  version: "latest"
  port: 80
  command: ["gunicorn"]
  args:
    - "--capture-output"
    - "--error-logfile"
    - "-"
    - "--access-logfile"
    - "-"
    - "--access-logformat"
    - "'%(h)s %(t)s %(r)s %(s)s Host: %({Host}i)s}'"
    - "-b"
    - "0.0.0.0:80"
    - "httpbin:app"
    - "-k"
    - "gevent"
  requests:
    cpu: 100m
    memory: 5Mi
  limits:
    cpu: 10
    memory: 400Mi
  liveness_probe:
    tcpSocket:
      port: 8000
  readiness_probe:
    httpGet:
      path: /delay/2
      port: 80

service:
  deployment: production

resources:
  replicas: 2

mesh:
  enabled: true
  public_port: 4999 # the port where TLS will be exposed
  resources:
    requests:
      cpu: 500m
      memory: 100Mi
    limits:
      cpu: 1
      memory: 500Mi
