app:
  image: "repos/sre/httpbin"
  version: latest  # FIXME: use a specific version
  port: 4999
  requests:
    cpu: 100m
    memory: 200Mi
  limits:
    cpu: 1
    memory: 400Mi
  liveness_probe:
    tcpSocket:
      port: 4999
  readiness_probe:
    httpGet:
      path: /
      port: 4999

service:
  deployment: production

resources:
  replicas: 2

mesh:
  enabled: true
  public_port: 4999 # the port where TLS will be exposed
  resources:
    requests:
      cpu: 500m
      memory: 100Mi
    limits:
      cpu: 1
      memory: 500Mi
