main_app:
  image: wikimedia/generated-data-platform-aqs-edit-analytics
  version: 2023-10-03-114937-production
  command: ["./edit-analytics"]
  args: ["-config", "/etc/druid-http-gateway/config.yaml"]
  service_name: edit-analytics

  druid:
    host: http://druid-public-broker.svc.eqiad.wmnet
    port: 8082
    datasource: mediawiki_history_reduced_2023_08

  requests:
    cpu: 200m
    memory: 500Mi
  limits:
    cpu: 1
    memory: 1024Mi
  log_level: debug

resources:
  replicas: 4

mesh:
  enabled: true
  public_port: 4973

ingress:
  enabled: true

service:
  deployment: production
  port:
    nodePort: 4973

monitoring:
  enabled: true

networkpolicy:
  egress:
    enabled: true
    dst_nets:
    - cidr: 10.2.2.38/32
      ports:
        - protocol: tcp
          port: 8082
