monitoring:
  enabled: false

inference:
  predictor:
    image: "machinelearning-liftwing-inference-services-outlink"
    version: "2026-01-26-104505-publish"
    base_env:
      - name: STORAGE_URI
        value: "s3://wmf-ml-models/articletopic/outlink/20221111111111/"
      - name: MODEL_VERSION
        value: "alloutlinks_202209"
      - name: WIKI_URL
        value: "https://mw-api-int-ro.discovery.wmnet:4446"
      - name: FORCE_HTTP
        value: "false"
      - name: EVENTGATE_URL
        value: "http://eventgate-main.discovery.wmnet:4480/v1/events"
      - name: EVENTGATE_STREAM
        value: "mediawiki.page_prediction_change.rc0"

inference_services:
  outlink-topic-model:
    predictor:
      config:
        minReplicas: 1
        maxReplicas: 1
