
watchedNamespaces:
- airflow-analytics-product
- airflow-analytics-test
- airflow-dev
- airflow-main
- airflow-ml
- airflow-platform-eng
- airflow-research
- airflow-search
- airflow-test-k8s
- airflow-wikidata
- airflow-wmde
- cloudnative-pg-operator
- growthbook
- growthbook-next
