# List of namespaces that the flink-operator
# will watch and be granted permissions to manage.
#
watchNamespaces:
- mw-content-history-reconcile-enrich-next
- mw-content-history-reconcile-enrich
- mw-page-html-content-change-enrich
- mw-page-html-content-change-enrich-next

# Allow the flink-kubernetes-operator chart to create RBAC resources in watchNamespaces.
rbac:
  create: true

zookeeper:
  allowed_clusters:
    - flink-eqiad
