kubernetesVersion: "1.23"

PodSecurityStandard:
  disablePSPMutations: true  # Disable PSP mutation, allow all seccomp profiles
  # enforce: true              # Enforce the PodSecurityStandard profile "restricted"
  # disableRestrictedPSP: true # Disable PSP binding for the restricted PSP
