config:
  airflow:
    dags_folder: wmde
    instance_name: wmde
    auth:
      role_mappings:
        airflow-wmde-ops: [Op]
    config:
      core:
        executor: KubernetesExecutor
      kerberos:
        principal: analytics-wmde/airflow-wmde.discovery.wmnet
  oidc:
    client_id: airflow_wmde

ingress:
  gatewayHosts:
    default: "airflow-wmde"
    extraFQDNs:
    - airflow-wmde.wikimedia.org
