apiVersion: v2
description: >
  EventGate receives JSON events over HTTP, validates them against JSONSchemas, and
  produces them to Kafka.

name: eventgate
version: 0.10.7
dependencies:
  # kafka-dev can be deployed for developement purposes
  # ./charts/kafka-dev is symlinked to ../kafka-dev
  - name: kafka-dev
    version: ">= 0.1.0"
    repository: https://helm-charts.wikimedia.org/stable/
  # Only require kafka-dev if subcharts.kafka is set to true in values
  # or --set subcharts.kafka=true
    condition: subcharts.kafka
