docker:
  pull_policy: IfNotPresent
  registry: docker-registry.discovery.wmnet
helm_scaffold_version: 0.1
main_app:
  image: wikimedia/research-mwaddlink
  limits:
    cpu: 4
    memory: 850Mi
  liveness_probe:
    tcpSocket:
      port: 8000
  port: 8000
  readiness_probe:
    httpGet:
      path: /healthz
      port: 8000
  requests:
    cpu: 1750m
    memory: 500Mi # Based on data from https://grafana.wikimedia.org/goto/JKjTBSQGz
  version: 2026-02-04-121441-production
monitoring:
  enabled: true
resources:
  replicas: 8
service:
  deployment: production
config:
  public:
    DB_HOST: "m2-master.eqiad.wmnet"
    ANALYTICS_BASE_URL: http://analytics-web.discovery.wmnet/published/wmf-ml-models/addalink/v2/
    ANALYTICS_BASE_URL_LEGACY: http://analytics-web.discovery.wmnet/published/datasets/one-off/research-mwaddlink/
mesh:
  enabled: true
  public_port: 4005
  telemetry:
    enabled: true
discovery:
  listeners:
    - mw-api-int-async

mariadb:
  egress:
    sections: ["m2"]

networkpolicy:
  egress:
    enabled: true
    dst_nets:
      - cidr: 10.64.21.14/32 # an-web1001.eqiad.wmnet AKA analytics-web.discovery.wmnet
        ports:
        - port: 80
          protocol: tcp
        - port: 8443
          protocol: tcp
      - cidr: 2620:0:861:105:10:64:21:14/128 # an-web1001.eqiad.wmnet AKA analytics-web.discovery.wmnet
        ports:
        - port: 80
          protocol: tcp
        - port: 8443
          protocol: tcp

app:
  port: 8000
