BGPConfiguration:
  asNumber: 64604
  nodeToNodeMeshEnabled: false

IPPools:
  ipv4:
    cidr: "10.192.64.0/21"
  ipv6:
    cidr: "2620:0:860:babe::/64"

# remove calico limits and raise requests to prevent OOM conditions, see T393636
calicoNode:
  resources:
    requests:
      cpu: 700m
      memory: 1Gi
    limits:
      memory: ~

typha:
  resources:
    limits:
      memory: ~

# remove calico limits and raise requests to prevent OOM conditions, see T393636
kubeControllers:
  resources:
    requests:
      cpu: 300m
      memory: 1Gi
    limits:
      cpu: ~
      memory: ~

# Setting pod MTU in order to inform the clients of max TCP MSS during the
# 3-way TCP handshake, thus forcing a good enough MTU that is compatible with
# IP/IP and Liberica. T352956
veth_mtu: "1460"
