# Default values for mediawiki.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.
helm_scaffold_version: 0.1 # This can be useful when backporting fixes.
docker:
  registry: docker-registry.wikimedia.org
  pull_policy: IfNotPresent
resources:
  replicas: 1
main_app:
  image: wikimedia/mediawiki-core
  version: dev
  port: 80 # port used for wmf.appbaseurl used by service-checker
  ports:
    - 80
  command: '["/bin/bash", "-c"]' # use to override the entrypoint command ex: '["node"]'
  args: '/var/config/setup.sh && php-fpm7.2 -D && /usr/sbin/apache2ctl -D FOREGROUND'
  requests:
    cpu: 100m
    memory: 100Mi
  limits:
    cpu: 1.2
    memory: 500Mi
  liveness_probe:
    tcpSocket:
      port: 8080
  readiness_probe:
    httpGet:
      path: /index.php/Special:BlankPage
      port: 8080
  volumes: [] # add here any volumes to mount onto the container
  volumeMounts: [] # add here any mounted volumes
  xdebug:
    enabled: false
    remoteHost: ''
  xhprof:
      enabled: false

monitoring:
  enabled: false
  image_version: latest
service:
  deployment: minikube # valid values are "production" and "minikube"
  ports:
    - name: http
      protocol: TCP
      targetPort: 8080
      port: 80
config:
  public:
    XDEBUG_CONFIG: "remote_autostart=1 remote_enable=1 remote_handler=dbgp remote_host={{ .Values.main_app.xdebug.remoteHost }} remote_log=/tmp/xdebug_remote.log remote_mode=req remote_port=9000"
    WIKI_NAME: "My Wiki"
    WIKI_ADMIN: "admin"
    DB_NAME: "my_wiki"
    RESTBASE_NODEPORT: ""
    MEDIAWIKI_DOMAIN: "{{ .Release.Name }}"
    RESTBASE_URL: "http://restbase-{{ .Release.Name }}"
    IS_RESTBASE_EXTERNAL: "false"
    PARSOID_URL: "http://parsoid-{{ .Release.Name }}"
    ENABLE_VISUAL_EDITOR: "false"
    DB_SERVER: "{{ .Release.Name }}-mariadb"
  private:
    WIKI_ADMIN_PASS: "adminpass"
    DB_PASS: "password"
    WG_SECRET_KEY: "d964ce98b272c2115d5f4960563af8fb8f02ff968bbb0d62bdf4e1e4c18393ed"
    WG_UPGRADE_KEY: "aed8ffeb5b5fba9e"

networkpolicy:
  egress:
    enabled: false
