common_images:
  memcached:
    version: 1.6.38-1@sha256:8ad8eea40df4481df73d51bc2cf76ff292beb507dbf2b0dfaa1dbd276e470045
  kerberos:
    version: 2024-08-22-120740-071bae0306d1f9ab8addd0630ca1ae6bb216a122@sha256:5a48a0fa4d9fe6ac95023b36da50a10677c8ca1857994d69e878263574702a2a


_dbstore_egress_ports: &dbstore_egress_ports
  ports:
  - port: 3320
    protocol: tcp
  - port: 3350
    protocol: tcp

external_services:
  presto:
  - analytics
  kerberos:
  - kdc
  cas:
  - idp
  druid:
  - analytics
  - public
  mariadb:
  - analytics-meta

networkpolicy:
  egress:
    dst_nets:

    # dbstore1009.eqiad.wmnet / mariadb / wikishared
    - cidr: 10.64.135.22/32
      <<: *dbstore_egress_ports
    - cidr: 2620:0:861:10e:10:64:135:22/128
      <<: *dbstore_egress_ports

    # staging-db-analytics / mariadb
    - cidr: 10.64.135.22/32
      <<: *dbstore_egress_ports