resources:
  replicas: 1

datastore:
  cassandra_client:
    enabled: true
    local_dc: codfw
    hosts:
    - 10.192.16.14    # cassandra-dev2001-a.codfw.wmnet
    - 10.192.16.15    # cassandra-dev2001-b.codfw.wmnet
    - 10.192.32.84    # cassandra-dev2002-a.codfw.wmnet
    - 10.192.32.85    # cassandra-dev2002-b.codfw.wmnet
    - 10.192.48.54    # cassandra-dev2003-a.codfw.wmnet
    - 10.192.48.55    # cassandra-dev2003-b.codfw.wmnet
    authentication:
      username: mediawiki_services_mobileapps

main_app:
  version: 2024-05-21-113111-production
  caching:
    enabled: true
    ttl: 300          # Expire objects in 5 mins for testing purposes
    cassandra:
      keyspace: pregenerated_cache
      storageTable: mobile_html
