docker:
  registry: docker-registry.discovery.wmnet
resources:
  replicas: 80
main_app:
  image: wikimedia/mediawiki-services-mobileapps
  version: 2023-03-14-115917-production
  # Use the service proxy to connect to MediaWiki and restbase
  mwapi_uri: http://localhost:6500/w/api.php
  restbase_uri: http://localhost:6503
  mw_resource_loader_uri: http://localhost:6500/w/load.php
  limits:
    cpu: 2

monitoring:
  enabled: true
service:
  deployment: production
  port:
    nodePort: 8888
mesh:
  enabled: true
  public_port: 4102
  local_access_log_min_code: 100

discovery:
  listeners:
    - mwapi-async # TODO: change to a more stringent timeout
    - restbase-for-services

networkpolicy:
  egress:
    enabled: true
    dst_nets:
    # Allow api
    - cidr: 10.2.2.22/32
      ports:
      - protocol: tcp
        port: 80
      - protocol: tcp
        port: 443
    - cidr: 10.2.1.22/32
      ports:
      - protocol: tcp
        port: 80
      - protocol: tcp
        port: 443
    # Restbase
    - cidr: 10.2.1.17/32
      ports:
      - protocol: tcp
        port: 7231
      - protocol: tcp
        port: 7443
    - cidr: 10.2.2.17/32
      ports:
      - protocol: tcp
        port: 7231
      - protocol: tcp
        port: 7443
