docker:
  registry: docker-registry.discovery.wmnet
resources:
  replicas: 300
main_app:
  image: wikimedia/mediawiki-services-mobileapps
  version: 2026-02-09-170257-production
  args: ["--max-old-space-size=4096", "--max-semi-space-size=16", "server.js", "-c",
    "/etc/mobileapps/config.yaml"]
  # Use the service proxy to connect to MediaWiki and restbase
  mwapi_uri: http://localhost:6500/w/api.php
  mwrestapi_uri: http://localhost:6500/w/rest.php
  restbase_uri: http://localhost:6503
  mw_resource_loader_uri: http://localhost:6500/w/load.php
  eventgate_uri: http://localhost:6005/v1/events
  limits:
    cpu: 2.5
    memory: 1Gi
  use_coreparsoid_endpoint: true
  caching:
    enabled: true
    # Expire objects in 7 days with 1 day max jitter
    ttl: 604800
    maxJitter: 86400
    excludedUserAgents:
    - RESTBase/WMF
    cassandra:
      keyspace: pregenerated_cache
      storageTable: mobile_html

  num_workers: 2

monitoring:
  enabled: true

service:
  deployment: production
  port:
    nodePort: 8888
mesh:
  enabled: true
  public_port: 4102
  local_access_log_min_code: 100
  tracing:
    enabled: true
    sampling: 0.01

discovery:
  listeners:
  - mw-api-int-async   # TODO: change to a more stringent timeout
  - restbase-for-services
  - eventgate-main

networkpolicy:
  egress:
    enabled: true
    dst_nets:
    # Allow api
    - cidr: 10.2.2.22/32
      ports:
      - protocol: tcp
        port: 80
      - protocol: tcp
        port: 443
    - cidr: 10.2.1.22/32
      ports:
      - protocol: tcp
        port: 80
      - protocol: tcp
        port: 443
    # Restbase
    - cidr: 10.2.1.17/32
      ports:
      - protocol: tcp
        port: 7231
      - protocol: tcp
        port: 7443
    - cidr: 10.2.2.17/32
      ports:
      - protocol: tcp
        port: 7231
      - protocol: tcp
        port: 7443
    # eventgate-main
    - cidr: 10.2.1.45/32
      ports:
      - protocol: tcp
        port: 4492
    - cidr: 10.2.2.45/32
      ports:
      - protocol: tcp
        port: 4492

datastore:
  cassandra_client:
    enabled: true
    authentication:
      username: mediawiki_services_mobileapps
