resources:
  replicas: 1

# We don't mind temporarily having 0 nodes in staging
strategy:
  maxUnavailable: "100%"

main_app:
  swift:
    # swift-eqiad service proxy
    host: 'https://swift.discovery.wmnet'
  poolcounter:
    enabled: true
    server: "poolcounter1004.eqiad.wmnet"
  thumbor_workers: 2

  log_level: "debug"

mesh:
  enabled: false
