resources:
  replicas: 1

# We don't mind temporarily having 0 nodes in staging
strategy:
  maxUnavailable: "100%"

main_app:
  swift:
    # swift-eqiad service proxy
    host: 'https://swift.discovery.wmnet'
  poolcounter:
    enabled: true
    server: "poolcounter1006.eqiad.wmnet"
  thumbor_workers: 2
  failure_throttling_memcache: "10.64.72.12:4442" # mcrouter-main.mw-mcrouter.svc.cluster.local
  log_level: "debug"
  subprocess_timeout:
    enabled: "True"
    timeout: 59
    kill_after: 5

mesh:
  enabled: false

cache:
  mcrouter:
    route_prefix: eqiad/thumbor
    zone: eqiad
    routes:
      - route: /eqiad/thumbor
        pool: eqiad-servers
        failover_time: 600
    resources:
      requests:
        cpu: 200m
        memory: 150Mi
      limits:
        cpu: 300m
        memory: 250Mi
