resources:
  replicas: 100

monitoring:
  enabled: true

# enable once TLS is ready
mesh:
  enabled: false

strategy:
  maxSurge: 0
  # This needs to be high as scaling up while rolling out will hit our
  # limits and then fail.
  maxUnavailable: 40%

discovery:
  listeners:
  - swift-eqiad
  - swift-codfw

main_app:
  failure_throttling_memcache: "127.0.0.1:11213"
  version: "2025-10-13-065259-production"
  thumbor_workers: 4

  log_level: "error"

  # These limits are per-worker, so multiply these by thumbor_workers
  limits:
    cpu: 2
    memory: 7Gi
  # TODO: This is a hack to trick the scheduler into starting more pods than we
  # currently afford. Once we have more kubernetes hosts, we 'll remove
  requests:
    cpu: 100m
    memory: 100Mi

  # Disable size limiting on the shared per-pod tmpdir while testing
  tmp_size_limit: null
  poolcounter:
    # Same value as subprocess_timeout in the configuration.
    # I would consider lowering it further.
    release_timeout: 59
    config:
      # disable expensive throttling due to erroneous poolcounter usage
      expensive: ~
  subprocess_timeout:
    enabled: "True"
    timeout: 59
    kill_after: 5

haproxy:
  timeout_queue: 2000
  version: '2.8.3-1-20260201'

service:
  deployment: production
  port:
    # We will need to change this to 8800 for use alongside existing
    # thumbor nodes.
    nodePort: 8800

# While we are using the mw-mcrouter daemonset by default
# we can switch to the in-pod mcrouter for debugging purposes
cache:
  mcrouter:
    enabled: false

networkpolicy:
  egress:
    enabled: true
    dst_nets:
      # poolcounter1006
      - cidr: 10.64.0.150/32
        ports:
          - protocol: TCP
            port: 7531
      # poolcounter1007
      - cidr: 10.64.32.137/32
        ports:
          - protocol: TCP
            port: 7531
      # poolcounter2005
      - cidr: 10.192.0.9/32
        ports:
          - protocol: TCP
            port: 7531
      # poolcounter2006
      - cidr: 10.192.16.6/32
        ports:
          - protocol: TCP
            port: 7531
