main_app:
  swift:
    # swift-codfw service proxy - enable when mesh is
    #host: 'http://localhost:6201'
    host: 'https://swift.discovery.wmnet'
  poolcounter:
    enabled: true
    server: "poolcounter2003.codfw.wmnet"
cache:
  mcrouter:
    enabled: true
    route_prefix: codfw/thumbor
    zone: codfw
    routes:
      - route: /codfw/thumbor
        pool: codfw-servers
        failover_time: 600
