php:
  servergroup: "mwcron-test-rw"
mwcron:
  jobs:
    - name: "test"
      schedule: "@daily"
      command:
        - "/usr/local/bin/foreachwiki"
        - "extensions/foo/bar/cron.php"
      labels:
        team: team-name
        script: extensions/foo/bar/cron.php
      description: "A description of the job"
    - name: "test2"
      schedule: "*/10 * * * *"
      command:
        - "/usr/local/bin/foreachwiki"
        - "extensions/foo/bar/mwcron2.php"
      labels:
        team: team-name
        script: extensions/foo/bar/mwcron2.php
      description: "A description of the job"
mw:
  httpd:
    enabled: false
  primary_dc: local
  datacenter: local
  read_only:
    local: false
  logging:
    rsyslog: true

# These are enabled to check the pod.kubernetes.io/sidecars annotation
cache:
  mcrouter:
    enabled: true

mesh:
  enabled: true
  image_version: 1.13.1-2
  public_port: ~
  certs:
    cert: |-
      -- begin --
      12345
      -- end --
    key: |-
      -- begin --
      678910
      -- end --
  # Enable telemetry
  telemetry:
    enabled: true
    port: 9361

discovery:
  listeners:
    - mw-parsoid
    - mathoid
    - eventgate-analytics
    - eventgate-analytics-external
    - eventgate-main
    - sessionstore
    - echostore
    - termbox
    - push-notifications
    - wdqs-internal
    - restbase
    - cxserver
    - shellbox
    - shellbox-constraints
    - shellbox-media
    - shellbox-syntaxhighlight
    - shellbox-timeline
