{{- range tuple "predictor" "transformer" }}
apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: {{ template "base.name.release" $ }}-{{ . }}
  labels:
    app: {{ template "base.name.chart" $ }}
    chart: {{ template "base.name.chartid" $ }}
    release: {{ $.Release.Name }}
spec:
  podSelector:
    matchLabels:
      app-wmf: {{ template "base.name.chart" $ }}
      chart: {{ template "base.name.chartid" $ }}
      release: {{ $.Release.Name }}
      component: {{ . }}
  policyTypes:
    - Ingress
      {{- if $.Values.networkpolicy.egress.enabled }}
    - Egress
      {{- end }}
  ingress:
    - ports:
      - port: {{ $.Values.app.port }}
        protocol: TCP
      - port: {{ $.Values.main_app.queue_proxy.port }}
        protocol: TCP
      # The Knative Autoscaler pod fetches data from the queue-proxy
      # Prometheus endpoint.
      - port: {{ $.Values.main_app.queue_proxy.metrics_port }}
        protocol: TCP
      # The queue-proxy exposes metrics about Knative revision traffic
      # handled (HTTP return codes etc..)
      - port: {{ $.Values.main_app.queue_proxy.revision_metrics_port }}
        protocol: TCP
      # The Istio sidecar exposes metrics about traffic on a certain port.
      - port: {{ $.Values.main_app.istio_sidecar.metrics_port }}
        protocol: TCP
{{- if $.Values.networkpolicy.egress.enabled }}
  egress:
    {{- include "base.networkpolicy.egress-basic" $.Values }}
{{- end }}
---
{{- end }}