docker:
  pull_policy: IfNotPresent
  registry: docker-registry.discovery.wmnet
helm_scaffold_version: 0.2
main_app:
  image: wikimedia/mediawiki-services-cxserver
  #jwt_secret:
  limits:
    cpu: 1
    memory: 400Mi
  mt:
    Apertium:
      api: http://localhost:6019
      languages: config/Apertium.yaml
    Elia:
      api: https://mt-api.elhuyar.eus/translate_string
      languages: config/Elia.yaml
      #key:
      #apiId:
    Google:
      api: https://www.googleapis.com/language/translate/v2
      #key:
      languages: config/Google.yaml
    LingoCloud:
      account: wikimedia
      api: https://api.interpreter.caiyunai.com/v1
      #key:
      languages: config/LingoCloud.yaml
    MinT:
      api: http://localhost:6504/api/translate
      languages: config/MinT.yaml
    TestClient:
      languages: config/TestClient.yaml
    defaults: config/mt-defaults.wikimedia.yaml
  templatemapping:
    database: config/templatemapping.db
  sectionmapping:
    type: mysql
    database: cxserverdb
    user: cxserver
    # password:
    # host:
  mwapi_uri: http://localhost:6500/w/api.php
  no_proxy_list:
    - eqiad.wmnet
    - codfw.wmnet
    - discovery.wmnet
    - localhost
  ratelimiter_key: x-client-ip
  ratelimiter_rate: 10
  requests:
    cpu: 100m
    memory: 100Mi
  mwapi_int_async_host: localhost:6500
  version: 2026-01-20-115813-production
monitoring:
  enabled: true
resources:
  replicas: 8
service:
  deployment: production
mesh:
  enabled: true
  public_port: 4002
  telemetry:
    enabled: true
  tracing:
    enabled: true
    sampling: 1
  certmanager:
    extraFQDNs:
      - cxserver.wikimedia.org
discovery:
  listeners:
    - mw-api-int-async
    - apertium
    - machinetranslation
networkpolicy:
  egress:
    enabled: true
    dst_nets:
      - cidr: 10.2.1.11/32
        ports:
          - protocol: tcp
            port: 4737
      - cidr: 10.2.2.11/32
        ports:
          - protocol: tcp
            port: 4737
mariadb:
  egress:
    sections: ["m5"]
