# Default values for function-orchestrator.
helm_scaffold_version: 0.4
docker:
  registry: docker-registry.wikimedia.org
  pull_policy: IfNotPresent
resources:
  replicas: 1
main_app:
  type: "default"
  # NOTE: The version: value is over-ridden in the helmfile.d/services/wikifunctions/values-main-orchestrator.yaml file
  image: repos/abstract-wiki/wikifunctions/function-orchestrator
  version: versionNumberGoesHere
  port: 6254
  command: []
  args: []
  requests:
    cpu: 100m
    memory: 200Mi
  limits:
    cpu: 200m
    memory: 400Mi
  liveness_probe:
    tcpSocket:
      port: 6254
  readiness_probe:
    httpGet:
      path: /_info
      port: 6254

monitoring:
  enabled: true

service:
  deployment: minikube
  port:
    name: http
    targetPort: 6254
    port: 6254
    nodePort: null

config:
  public: {}
  private: {}

mesh:
  # FIXME: Set this to true to go live in production
  enabled: false
  public_port: 4971
  upstream_timeout: "180.0s"
  certs:
    cert: "snakeoil"
    key: "snakeoil"
  telemetry:
    enabled: true
    port: 9361

debug:
  enabled: false

networkpolicy:
  egress:
    enabled: true
    extraRules:
    - to:
      - podSelector:
          matchLabels:
            app: function-evaluator
      ports:
      - protocol: TCP
        port: 4980
      - protocol: TCP
        port: 4981


ingress:
  enabled: false
  keepNodePort: false
  staging: false
  gatewayHosts:
    default: ""
    disableDefaultHosts: false
    extraFQDNs: []
  existingGatewayName: ""
  routeHosts: []
  httproutes: []

app:
  port: 6254
