kubernetesMasters:
  cidrs:
    - '10.192.32.33/32'
    - '2620:0:860:103:10:192:32:33/128'
    - '10.192.48.41/32'
    - '2620:0:860:104:10:192:48:41/128'
chartVersions:
  wmf-stable/calico: ~
  wmf-stable/calico-crds: ~
  wmf-stable/coredns: ~
  wmf-stable/cert-manager: ~