monitoring:
  enabled: false

inference:
  predictor:
    config:
    base_env:
      - name: REQUESTS_CA_BUNDLE
        value: "/etc/ssl/certs/wmf-ca-certificates.crt"
      - name: EVENTGATE_URL
        value: "http://eventgate-main.discovery.wmnet:4480/v1/events"
      - name: EVENTGATE_STREAM
        value: "mediawiki.revision-score-test"
      - name: LOG_JSON_PAYLOAD
        value: "True"

revscoring_inference_services:
  - wiki: "viwiki"
    version: "20220214192315"
    predictor:
      custom_env:
        - name: ASYNCIO_USE_PROCESS_POOL
          value: "True"
        - name: ASYNCIO_AUX_WORKERS
          value: 2
        - name: PREPROCESS_MP
          value: "True"
        - name: INFERENCE_MP
          value: "False"
      container:
        resources:
          limits:
            cpu: "3"
          requests:
            cpu: "3"
