{{- define "nutcracker.config" }}
redis:
  auto_eject_hosts: true
  distribution: ketama
  hash: md5
  listen: 127.0.0.1:{{ .Values.nutcracker.port }}
  redis: true
  redis_auth: {{ .Values.main_app.ratelimiter.redis_pass }}
  server_connections: 1
  server_failure_limit: 3
  server_retry_timeout: 10000
  servers:
  {{- range .Values.nutcracker.servers }}
    - {{ . }}
  {{- end }}
  timeout: 1000
{{- end }}
