{{- define "ratelimit.config" }}
{{ $anon_unit := .Values.main_app.ratelimiter.anon_limit.unit -}}
{{ $default_unit := .Values.main_app.ratelimiter.default_limit.unit -}}
---
domain: wikimedia
descriptors:
{{- if ( and .Values.main_app.rest_gateway_routes .Values.main_app.ratelimiter.enabled ) }}
  # rest-gateway limits, experimental but enforced
  # Keep in sync with the "experiment-2025-shadow" variant below.
  # NOTE: when changing the descriptor structure,
  #       also update the matcher rules in ratelimiter_metrics.yaml!
  - key: policy
    value: "experiment-2025"
    descriptors:
      # Limit for anonymous users. user_id is going to be the IP address or a cookie value.
      - key: user_class
        value: anon
        descriptors:
          - key: user_id
            rate_limit:
              requests_per_unit: {{ .Values.main_app.ratelimiter.anon_limit.requests_per_unit }}
              unit: {{ .Values.main_app.ratelimiter.anon_limit.unit }}
      # Limit for users that have a user ID cookie, so we assume that they are logged in.
      # Later we will reduce this rate limit and provide better limits for users that
      # for whom we have a trusted user ID from a JWT.
      - key: user_class
        value: cookie-user
        descriptors:
          - key: user_id
            rate_limit:
              requests_per_unit: {{ .Values.main_app.ratelimiter.default_limit.requests_per_unit }}
              unit: {{ .Values.main_app.ratelimiter.default_limit.unit }}
  # rest-gateway limits, experimental and not enforced.
  # Should be the same as the ones above, except for shadow_mode being enabled.
  - key: policy
    value: "experiment-2025-shadow"
    descriptors:
      # Limit for anonymous users. user_id is going to be the IP address or a cookie value.
      - key: user_class
        value: anon
        descriptors:
          - key: user_id
            rate_limit:
              requests_per_unit: {{ .Values.main_app.ratelimiter.anon_limit.requests_per_unit }}
              unit: {{ .Values.main_app.ratelimiter.anon_limit.unit }}
            shadow_mode: true # <---- this is the bit that is different from above!
      # Limit for users that have a user ID cookie, so we assume that they are logged in.
      # Later we will reduce this rate limit and provide better limits for users that
      # for whom we have a trusted user ID from a JWT.
      - key: user_class
        value: cookie-user
        descriptors:
          - key: user_id
            rate_limit:
              requests_per_unit: {{ .Values.main_app.ratelimiter.default_limit.requests_per_unit }}
              unit: {{ .Values.main_app.ratelimiter.default_limit.unit }}
            shadow_mode: true # <---- this is the bit that is different from above!
{{- else }}
  - key: route_name
    value: default_rate
    descriptors:
      - key: user_class_anon_fallback
        value: anon
        descriptors:
          - key: client_ip
            rate_limit:
              requests_per_unit: {{ .Values.main_app.ratelimiter.anon_limit.requests_per_unit }}
              unit: {{ $anon_unit }}
      # Normally would be overriden by JWT override set OAuthRateLimiter
      - key: client_id
        descriptors:
          - key: user_id
            rate_limit:
              requests_per_unit: {{ .Values.main_app.ratelimiter.default_limit.requests_per_unit }}
              unit: {{ $default_unit }}
{{- range $discovery_route, $discovery_opts := .Values.main_app.discovery_endpoints }}
{{- if $discovery_opts.ratelimit_config }}
  - key: route_name
    value: {{ $discovery_route }}
    descriptors:
      - key: user_class_anon_fallback
        value: anon
        descriptors:
          - key: client_ip
            rate_limit:
              unit: {{ $anon_unit }}
              requests_per_unit: {{ $discovery_opts.ratelimit_config.anon_limit }}
      # Normally would be overriden by JWT override set OAuthRateLimiter
      - key: client_id
        descriptors:
          - key: user_id
            rate_limit:
              unit: {{ $default_unit }}
              requests_per_unit: {{ $discovery_opts.ratelimit_config.default_limit }}
{{- end }}
{{- end }}
{{- end }}
{{- end }}
