{{- define "ratelimit.config" }}
{{ $anon_unit := .Values.main_app.ratelimiter.anon_limit.unit -}}
{{ $default_unit := .Values.main_app.ratelimiter.default_limit.unit -}}
---
domain: wikimedia
descriptors:
{{- if ( and .Values.main_app.rest_gateway_routes .Values.main_app.ratelimiter.enabled ) }}
  # NOTE: when changing the descriptor structure,
  #       also update the matcher rules in ratelimiter_metrics.yaml!
  {{- range $policy, $classes := $.Values.main_app.ratelimiter.policies }}
  # Rate limit policies for use by te REST gateway.
  # A policy defines the limits for each rate limit class.
  - key: policy
    value: {{ $policy }}
    descriptors:
      # For a description of the available rate limit classes and their meaning and purpose,
      # see the comment on the wmf_ratelimit_info method in restgateway.lua.
      {{- range $class, $units := $classes }}
      - key: user_class
        {{- if ne $class "*" }}
        value: {{ $class }}
        {{- else}}
        # TODO: set value_to_metrics: true
        # See https://github.com/envoyproxy/ratelimit/pull/996
        # Adjust ratelimiter_metrics.yaml accordingly.
        {{- end }}
        descriptors:
          - key: user_id
            descriptors:
              {{- range $unit, $req := $units }}
              - key: unit
                value: {{ $unit }}
                rate_limit:
                  requests_per_unit: {{ int $req }}
                  unit: {{ $unit }}
              {{- end }}
      {{- end }}
  {{- end }}
{{- else }}
  # Per-route limits for use by the API gateway.
  - key: route_name
    value: default_rate
    descriptors:
      - key: user_class_anon_fallback
        value: anon
        descriptors:
          - key: client_ip
            rate_limit:
              requests_per_unit: {{ .Values.main_app.ratelimiter.anon_limit.requests_per_unit }}
              unit: {{ $anon_unit }}
      # Normally would be overriden by JWT override set OAuthRateLimiter
      - key: client_id
        descriptors:
          - key: user_id
            rate_limit:
              requests_per_unit: {{ .Values.main_app.ratelimiter.default_limit.requests_per_unit }}
              unit: {{ $default_unit }}
{{- range $discovery_route, $discovery_opts := .Values.main_app.discovery_endpoints }}
{{- if $discovery_opts.ratelimit_config }}
  - key: route_name
    value: {{ $discovery_route }}
    descriptors:
      - key: user_class_anon_fallback
        value: anon
        descriptors:
          - key: client_ip
            rate_limit:
              unit: {{ $anon_unit }}
              requests_per_unit: {{ $discovery_opts.ratelimit_config.anon_limit }}
      # Normally would be overriden by JWT override set OAuthRateLimiter
      - key: client_id
        descriptors:
          - key: user_id
            rate_limit:
              unit: {{ $default_unit }}
              requests_per_unit: {{ $discovery_opts.ratelimit_config.default_limit }}
{{- end }}
{{- end }}
{{- end }}
{{- end }}
