{{- define "restgateway.rate_limit_actions" }}
# NOTE: If one of the headers referenced below is not set, the rate limit is not applied.
{{- range $unit := .Values.main_app.ratelimiter.units }}
- actions: # per {{ $unit }}
  - request_headers: # Specify the rate limit policy.
      descriptor_key: policy
      header_name: x-wmf-ratelimit-policy
  - request_headers: # Specify the rate limit class.
      descriptor_key: user_class
      header_name: x-wmf-ratelimit-class
  - request_headers: # Provide the user's identity as the counter key.
      descriptor_key: user_id
      header_name: x-wmf-user-id
  - generic_key: # The time window the limit applies to.
      descriptor_key: unit
      descriptor_value: {{ $unit }}
{{- end }}
{{- end }}

{{- define "restgateway.routes" }}
            name: restgateway_route
            virtual_hosts:
            - name: restgateway_vhost
              domains:
{{- range $domain := .Values.main_app.domains }}
              - "{{ $domain }}"
{{- end }}
{{- if .Values.main_app.ratelimiter.enabled }}
              # Rate limit, uses wmf.ratelimit metadata set for each route
              rate_limits:
              {{- include "restgateway.rate_limit_actions" . | nindent 16 }}
{{- end }}
              routes:
              - name: rest_gateway_root
                match:
                  path: "/"
                direct_response:
                  status: 200
                  body: {inline_string: "This is the REST Gateway."}
{{- /* BEGIN rest_gateway_routes definition */}}
{{- range $endpoint := .Values.main_app.rest_gateway_routes }}
{{- range $route := $endpoint.urls }}
{{- $cluster_name := ternary $endpoint.name $endpoint.cluster (not $endpoint.cluster) }}
              - name: {{ $endpoint.name }}_{{ $route.name }}
                match:
                  safe_regex:
                    regex: '^{{ $route.in }}$'
                  {{- if $endpoint.domain }}
                  headers:
                  - name: ':authority'
                    string_match:
                      exact: '{{ $endpoint.domain }}'
                  {{- end }}
                  {{- if $route.params}}
                  query_parameters:
                  {{- range $param := $route.params }}
                  - name: {{ $param }}
                    present_match: true
                  {{- end }}
                  {{- end }}
                {{- if not $route.disable_route_stats }}
                {{- if $endpoint.stat_prefix }}
                stat_prefix: {{ $endpoint.stat_prefix }}_{{ $route.name }}
                {{- else }}
                stat_prefix: {{ $endpoint.name }}_{{ $route.name }}
                {{- end }}
                {{- end }}
                {{- if $endpoint.request_headers_to_add }}
                request_headers_to_add:
                {{- range $rqh := $endpoint.request_headers_to_add }}
                  - header:
                      key: "{{ $rqh.key }}"
                      value: "{{ $rqh.value }}"
                    append_action: OVERWRITE_IF_EXISTS_OR_ADD
                {{- end }}
                {{- end }}
                response_headers_to_add:
                  - header:
                      key: "Via"
                      value: "rest-gateway"
                    append_action: OVERWRITE_IF_EXISTS_OR_ADD
                {{- if or $endpoint.response_headers_to_add $endpoint.rb_response_headers }}
                {{- range $rsh := $endpoint.response_headers_to_add }}
                  - header:
                      key: "{{ $rsh.key }}"
                      value: "{{ $rsh.value }}"
                    append_action: OVERWRITE_IF_EXISTS_OR_ADD
                {{- end }}
                {{- if $endpoint.rb_response_headers }}
                  - header:
                      key: "access-control-allow-origin"
                      value: "*"
                    append_action: OVERWRITE_IF_EXISTS_OR_ADD
                  - header:
                      key: "access-control-allow-methods"
                      value: "GET,HEAD"
                    append_action: OVERWRITE_IF_EXISTS_OR_ADD
                  - header:
                      key: "access-control-allow-headers"
                      value: "accept, content-type, content-length, cache-control, accept-language, api-user-agent, if-match, if-modified-since, if-none-match, dnt, accept-encoding"
                    append_action: OVERWRITE_IF_EXISTS_OR_ADD
                  - header:
                      key: "access-control-expose-headers"
                      value: "etag"
                    append_action: OVERWRITE_IF_EXISTS_OR_ADD
                  - header:
                      key: "x-content-type-options"
                      value: "nosniff"
                    append_action: OVERWRITE_IF_EXISTS_OR_ADD
                  - header:
                      key: "x-frame-options"
                      value: "SAMEORIGIN"
                    append_action: OVERWRITE_IF_EXISTS_OR_ADD
                  - header:
                      key: "referrer-policy"
                      value: "origin-when-cross-origin"
                    append_action: OVERWRITE_IF_EXISTS_OR_ADD
                  - header:
                      key: "x-xss-protection"
                      value: "1; mode=block"
                    append_action: OVERWRITE_IF_EXISTS_OR_ADD
                {{- end }}
                {{- end }}
                {{- if (or $endpoint.csp_enabled (not (hasKey $endpoint "csp_enabled"))) }}
                  - header:
                      key: "content-security-policy"
                      value: "default-src 'none'; frame-ancestors 'none'"
                    append_action: ADD_IF_ABSENT
                {{- end }}
                route:
                  regex_rewrite:
                    pattern:
                      regex: '^{{ $route.in }}$'
                    substitution: '{{ $route.out }}'
                {{- if $route.to }}
                  host_rewrite_path_regex:
                    pattern:
                      regex: '^{{ $route.in }}$'
                    substitution: '{{ $route.to }}'
                {{- end }}
                  timeout: {{ $endpoint.timeout | default "15s" }}
                  cluster: {{ $cluster_name }}_cluster
                  {{- if $endpoint.ingress }}
                  auto_host_rewrite: true
                  {{- end }}
                {{- if $.Values.main_app.ratelimiter.enabled }}
                {{- /* Opt-in / opt-out */ -}}
                {{- $apply_rate_limiting := ternary $endpoint.apply_rate_limiting (not $.Values.main_app.ratelimiter.require_opt_in) (hasKey $endpoint "apply_rate_limiting") }}
                {{- /* The special value "no-limit" is used in Lua to prevent requests to the ratelimit service */ -}}
                {{- $ratelimit_policy := "no-limit" }}
                {{- if $apply_rate_limiting }}
                  {{- $ratelimit_policy = default $.Values.main_app.ratelimiter.default_policy $endpoint.use_rate_limit_policy }}
                {{- end }}
                metadata:
                  filter_metadata:
                    envoy.filters.http.lua:
                      wmf_ratelimit:
                        policy: {{ $ratelimit_policy }}
                {{- end }}

{{- end }}
{{- end }}
{{- /* END rest_gateway_routes definition */}}


{{- end }}
