apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: {{ template "base.name.release" . }}
  labels:
    app: {{ template "base.name.chart" . }}
    chart: {{ template "base.name.chartid" . }}
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
spec:
  podSelector:
    matchLabels:
      app: {{ template "base.name.chart" . }}
      release: {{ .Release.Name }}
  policyTypes:
    - Ingress
      {{- if .Values.networkpolicy.egress.enabled }}
    - Egress
      {{- end }}
  ingress:
    - ports:
      - port: {{ .Values.app.port }}
        protocol: TCP
      - port: {{ .Values.main_app.ratelimiter.metrics_port }}
        protocol: TCP
      {{- if .Values.main_app.telemetry_port }}
      - port: {{ .Values.main_app.telemetry_port }}
        protocol: TCP
      {{- end }}

{{- if .Values.networkpolicy.egress.enabled }}
  egress:
    {{- include "base.networkpolicy.egress-basic" .Values }}
    {{- if .Values.main_app.mw_api }}
    {{- range .Values.main_app.mw_api.ips }}
    - to:
      - ipBlock:
          cidr: {{ . }}
      ports:
        - protocol: TCP
          port: {{ $.Values.main_app.mw_api.port }}
    {{- end }}{{- end }}
{{- end }}
{{ include "base.networkpolicy.egress.external-services" $ }}
