config:
  private: {}
  public:
    HTTP_PROXY: http://url-downloader.eqiad.wikimedia.org:8080
    HTTPS_PROXY: http://url-downloader.eqiad.wikimedia.org:8080
    NO_PROXY: wikipedia.org,wiktionary.org,wikiquote.org,wikibooks.org,wikiquote.org,wikinews.org,wikisource.org,wikiversity.org,wikivoyage.org,www.wikidata.org,meta.wikimedia.org,commons.wikimedia.org,www.mediawiki.org
    DEBUG_LEVEL: 0
docker:
  pull_policy: IfNotPresent
  registry: docker-registry.discovery.wmnet
helm_scaffold_version: 0.2
main_app:
  image: repos/mediawiki/services/zotero
  limits:
    cpu: 1
    memory: 2Gi
  requests:
    cpu: 200m
    memory: 200Mi
  version: 2025-10-16-133103-production
monitoring:
  enabled: false
  image_version: latest
resources:
  replicas: 14
service:
  deployment: production
networkpolicy:
  egress:
    enabled: true
    dst_nets:
    - cidr: 208.80.154.224/32 # text-lb.eqiad (for citation of wikipedia articles)
      ports:
      - protocol: TCP
        port: 80
      - protocol: TCP
        port: 443
    - cidr: 2620:0:861:ed1a::1/128 # text-lb.codfw (for citation of wikipedia articles)
      ports:
      - protocol: TCP
        port: 80
      - protocol: TCP
        port: 443
    - cidr: 208.80.153.224/32 # text-lb.codfw (for citation of wikipedia articles)
      ports:
      - protocol: TCP
        port: 80
      - protocol: TCP
        port: 443
    - cidr: 2620:0:860:ed1a::1/128 # text-lb.codfw (for citation of wikipedia articles)
      ports:
      - protocol: TCP
        port: 80
      - protocol: TCP
        port: 443
mesh:
  telemetry:
    enabled: true
  enabled: true
  public_port: 4969
  tracing:
    enabled: true
