nutcracker:
  enabled: true
  version: latest
  servers:
    - 10.10.10.10:6379:1 "r1"
    - 20.20.20.20:6379:1 "r2"
main_app:
  ratelimiter:
    enabled: true
    version: latest
    log_level: debug
    redis_host: localhost
    redis_port: 6380
    redis_pass: "foo"

    default_policies: [ active-policy ]
    allow_client_headers: false        # default: false
    enable_x_ratelimit_headers: false  # default: true

    units: [ HOUR ]
    policies:
      "active-policy":
        limits:
          "*": # catch-all limits
            HOUR: 500
          "anon":
            HOUR: 500
          "approved-bot":
            HOUR: 5000
      "shadow-policy":
        shadow_mode: true
        limits:
          "*": # catch-all limits
            HOUR: 100
          "anon":
            HOUR: 100
          "approved-bot":
            HOUR: 1000
