nutcracker:
  enabled: true
  version: latest
  servers:
    - 10.10.10.10:6379:1 "r1"
    - 20.20.20.20:6379:1 "r2"
main_app:
  ratelimiter:
    enabled: true
    version: latest
    log_level: debug
    redis_host: localhost
    redis_port: 6380
    redis_pass: "foo"
    anon_limit:
      requests_per_unit: 500
      unit: HOUR
    default_limit:
      requests_per_unit: 5000
      unit: HOUR
    units: [ HOUR ]
    policies:
      "experiment-2025":
        "*": # catch-all limits
          HOUR: 500
        "anon":
          HOUR: 500
        "approved-bot":
          HOUR: 5000