app:
  version: v0.1.3

  database:
    database: mpic_production
    username: mpic_production

  listeners:
    action_api_basepath: http://127.0.0.1:6500

  idp:
    oidc_url: https://idp.wikimedia.org/oidc
    client_id: mpic
    redirect_uri: https://mpic.wikimedia.org/login/callback

ingress:
  gatewayHosts:
    extraFQDNs:
    - mpic.wikimedia.org
