version: &app_version 2025-10-28-093646-51d21ed9782e24169c12a348742308d47f5898dc@sha256:df372a0f12da4ea3a1a457c05139cd64093268ca591f5b4fc07385e10366f98e
app_origin: &app_origin https://growthbook.wikimedia.org
api_host: &api_host https://growthbook-api.wikimedia.org

growthbook-backend:
  app:
    version: *app_version

  config:
    public: # See https://docs.growthbook.io/self-host/env
      APP_ORIGIN: *app_origin
      API_HOST: *api_host
      EMAIL_ENABLED: 'true'
      EMAIL_HOST: mx-out1001.wikimedia.org
      EMAIL_PORT: '25'
      EMAIL_FROM: "noreply@wikimedia.org"
  ingress:
    gatewayHosts:
      default: "growthbook-api"
      extraFQDNs:
      - growthbook-api.wikimedia.org

  external_services:
    wikimail: [mx]

growthbook-frontend:
  app:
    version:  *app_version

  config:
    public: # See https://docs.growthbook.io/self-host/env
      APP_ORIGIN: *app_origin
      API_HOST: *api_host

  ingress:
    gatewayHosts:
      default: "growthbook"
      extraFQDNs:
      - growthbook.wikimedia.org
