image: &app_image repos/data-engineering/growthbook/next
version: &app_version 2025-11-21-070713-8e67c37ca4651abfb13c1ea491ede029aa88836b@sha256:a9c28316954eb45446d761db0b803201c463eb8c7cea2d37c31e280a770813a9
app_origin: &app_origin https://growthbook.wikimedia.org
api_host: &api_host https://growthbook-api.wikimedia.org

growthbook-backend:
  app:
    image: *app_image
    version: *app_version

  config:
    public: # See https://docs.growthbook.io/self-host/env
      APP_ORIGIN: *app_origin
      API_HOST: *api_host
      EMAIL_ENABLED: 'true'
      EMAIL_HOST: mx-out1001.wikimedia.org
      EMAIL_PORT: '25'
      EMAIL_FROM: "noreply@wikimedia.org"

    # growthbook:  # see https://docs.growthbook.io/self-host/config
    # NOTE: Temporarily using GrowthBook UI for managing data sources

  uploads:
    volume:
      storage_class: ceph-cephfs-ssd

  ingress:
    gatewayHosts:
      default: "growthbook-api"
      extraFQDNs:
      - growthbook-api.wikimedia.org

  external_services:
    wikimail: [mx]
    kerberos: [kdc]
    presto: [analytics]

  common_images:
    kerberos:
      version: 45377f59c5bdf8bae1b967c49ee29a144c5cba44-production

growthbook-frontend:
  app:
    image: *app_image
    version:  *app_version

  config:
    public: # See https://docs.growthbook.io/self-host/env
      APP_ORIGIN: *app_origin
      API_HOST: *api_host

  ingress:
    gatewayHosts:
      default: "growthbook"
      extraFQDNs:
      - growthbook.wikimedia.org
