image: &app_image repos/data-engineering/growthbook/next
version: &app_version 4.3.0-2026-02-06-150523-2c3a6d67031b28acbfe70a43e8edf5f1431d5df8@sha256:8259d6db46762160ae96b2d7ce0a9b7ef7db87b325a74d0293ca160ff8460a15
app_origin: &app_origin https://growthbook.wikimedia.org
api_host: &api_host https://growthbook-api.wikimedia.org

growthbook-backend:
  app:
    image: *app_image
    version: *app_version

  config:
    public: # See https://docs.growthbook.io/self-host/env
      APP_ORIGIN: *app_origin
      API_HOST: *api_host
      EMAIL_FROM: "growthbook@wikimedia.org"
    oidc:
      clientId: growthbook

  external_services:
    presto: [analytics]
    cas: [idp]

  ingress:
    gatewayHosts:
      default: "growthbook-api"
      extraFQDNs:
      - growthbook-api.wikimedia.org

growthbook-frontend:
  app:
    image: *app_image
    version:  *app_version

  config:
    public: # See https://docs.growthbook.io/self-host/env
      APP_ORIGIN: *app_origin
      API_HOST: *api_host

  ingress:
    gatewayHosts:
      default: "growthbook"
      extraFQDNs:
      - growthbook.wikimedia.org
