BGPConfiguration:
  asNumber: 64602
  nodeToNodeMeshEnabled: false

IPPools:
  ipv4:
    cidr: "10.194.128.0/18"
  ipv6:
    cidr: "2620:0:860:cabe::/64"

calicoNode:
  resources:
    requests:
      cpu: 700m
      memory: 1Gi
    limits:
      memory: 1Gi

typha:
  replicaCount: 3
  resources:
    requests:
      cpu: 700m
      memory: 1.5Gi
    limits:
      memory: 1.5Gi

kubeControllers:
  resources:
    requests:
      cpu: 300m
      memory: 2Gi
    limits:
      cpu: ~
      memory: 2Gi
