# TODO: enable startupapicheck globally once all clusters are on k8s 1.31
startupapicheck:
  enabled: true
# Having installCRDs and crds.enabled set to true will make the cert-manager 1.16 chart fail to render
installCRDs: false
# Create leases for leader election in cert-manager rather than kube-system namespace
global:
  leaderElection:
    namespace: cert-manager

# Config for cert-manager itself
resources:
  requests:
    memory: 1Gi
  limits:
    memory: 3Gi

cainjector:
  resources:
    requests:
      cpu: 400m
      memory: 800Mi
    limits:
      cpu: 400m
      memory: 3Gi
