# watchNamespaces is a flink-kubernetes-operator configuration that
# indicates which namespaces flink-kubernetes-operator should manage.
# Include all namespaces that need to use the FlinkDeployment CRD.
# NOTE: You should set this to the same values in all environments
# in the same cluster_group.
watchNamespaces:
  - mw-page-content-change-enrich

# NOTE: Ideally, we'd put rbac.create in the cluster group main.yaml values file.
# But, rbac.create is a very common value, and is used by many charts.
# We only want to modify that value in this file, which is only used by the
# flink-operator release.

# Allow the flink-kubernetes-operator chart to create RBAC resources in watchNamespaces.
rbac:
  create: true

# Commented out for now, we need a newer version of Zookeeper to use Zookeeper HA with Flink.
# https://phabricator.wikimedia.org/T331283#8874029
# networkpolicy:
#   egress:
#     enabled: true
#     dst_nets:
#       # NOTE: flink-kubernetes-operator needs egress to Zookeeper cluster
#       # where Flink applications are configured to store HA state.
#       # Zookeeper main-codfw:
#       - cidr: 10.192.16.45/32 # conf2004
#         ports:
#           - port: 2181
#             protocol: tcp
#       - cidr: 2620:0:860:102:10:192:16:45/128 # conf2004
#         ports:
#           - port: 2181
#             protocol: tcp
#       - cidr: 10.192.32.52/32 # conf2005
#         ports:
#           - port: 2181
#             protocol: tcp
#       - cidr: 2620:0:860:103:10:192:32:52/128 # conf2005
#         ports:
#           - port: 2181
#             protocol: tcp
#       - cidr: 10.192.48.59/32 # conf2006
#         ports:
#           - port: 2181
#             protocol: tcp
#       - cidr: 2620:0:860:104:10:192:48:59/128 # conf2006
#         ports:
#           - port: 2181
#             protocol: tcp
