main_app:
  image: envoy-future
  version: latest
  telemetry_port: 1667
  jwt:
    enabled: true
    issuer: http://dev.wikipedia.org
  http_https_echo: true
  ratelimiter:
    enabled: true
    version: 1.5.1-s4
    log_level: debug
    redis_host: localhost
    redis_port: 6380
    redis_pass: ""
    anon_limit:
      requests_per_unit: 0
      unit: HOUR
    default_limit:
      requests_per_unit: 5000
      unit: HOUR

  access_log:
    type: stdout

  readiness_probe:
    httpGet:
      path: /healthz
      port: 8087

  strip_api_cookies: true

  dev_redis: true

  domains:
    - localhost
    - localhost:*
    - 127.0.0.1
    - 127.0.0.1:*

  #TODO regex on v1
  pathing_map:
    mwapi_cluster:
      '/core/v1/wikipedia/(\w+)/(.*)':
        path: '/w/rest.php/v1/\2'
        host: '\1.wikipedia.org'
      '/core/v1/wiktionary/(\w+)/(.*)':
        path: '/w/rest.php/v1/\2'
        host: '\1.wiktionary.org'
      '/core/v1/commons/(.*)':
        path: '/w/rest.php/v1/\1'
        host: 'commons.wikimedia.org'
      '/core/v1/wikibooks/(\w+)/(.*)':
        path: '/w/rest.php/v1/\2'
        host: '\1.wikibooks.org'
      '/core/v1/wikiquote/(\w+)/(.*)':
        path: '/w/rest.php/v1/\2'
        host: '\1.wikiquote.org'
      '/core/v1/wikiversity/(\w+)/(.*)':
        path: '/w/rest.php/v1/\2'
        host: '\1.wikiversity.org'
      '/core/v1/mediawiki/(.*)':
        path: '/w/rest.php/v1/\1'
        host: 'www.mediawiki.org'
      '/core/v1/wikidata/(.*)':
        path: '/w/rest.php/v1/\1'
        host: 'www.wikidata.org'
      '/core/v1/wikisource/(\w+)/(.*)':
        path: '/w/rest.php/v1/\2'
        host: '\1.wikisource.org'
      '/core/v1/wikivoyage/(\w+)/(.*)':
        path: '/w/rest.php/v1/\2'
        host: '\1.wikivoyage.org'
      '/core/v1/meta/(.*)':
        path: '/w/rest.php/v1/\1'
        host: 'meta.wikimedia.org'
      '/core/v1/wikinews/(\w+)/(.*)':
        path: '/w/rest.php/v1/\2'
        host: '\1.wikinews.org'
      '/core/v1/wikispecies/(.*)':
        path: '/w/rest.php/v1/\1'
        host: 'species.wikimedia.org'

  endpoints:
    mwapi_cluster:
      tls: false
      type: STRICT_DNS
      hosts:
        localhost: 8888
        badhost: 8888
      debug_hosts:
        localhost: 9999
    restbase_cluster:
      type: STRICT_DNS
      hosts:
        localhost: 7231
        badhost: 7231
    mobileapps_cluster:
      type: STRICT_DNS
      hosts:
        localhost: 8888
        badhost: 8888
    appserver_cluster:
      tls: false
      type: STRICT_DNS
      hosts:
        localhost: 8888
        badhost: 8888

  jwks:
    kid: "FafStFaO5aapFjOjHhz9cWifF5pr17Ymi5dskSi6QP0="
    key: "wpQqfUk_vTLbbthUWhLaJ9wo4YZXWJjGmO8SFaEb0opgEXu_sP98dWzErQ04W2u0WpImfn1gqUEuAlnrgPXFyrIHD_WAJ5hFhdse5zNscJ9979yNDoXPlu20JQ91inYj592tFRHJQ9R9-jfSS2wgslWFXSZuOpY74EpHJcoGiCSwghLQDIdp5dl_VurfHNhOpWOAfp5zxVL-Ix5PuRzDvze0zA9GZH5-PEX1UgCNS0WyKW5Zt7hoRGNWU6hMNfVY6n6HThwLMq41GcyMwQ_zqOARGFOUrVQZY5yoCkxetTWHUj3qsfx_oq_ZQ3O_k95waKYMtgYwTKeBxbiunFfthw"

nutcracker:
  enabled: true
  port: 6380 # use different port here because local redis uses 6379
  servers:
    - localhost:6379:1 "cp-1"

# Only used by ratelimiter for metrics - envoy uses prometheus native metrics
monitoring:
  enabled: true
  image_version: 0.0.5
