main_app:
  args: ["-c", "/etc/api-gateway/config.yaml", "-l", "debug"]
  http_https_echo: true
  access_log:
    type: stdout
    sample_percentage: 100

  domains:
    - localhost
    - localhost:*
    - 127.0.0.1
    - 127.0.0.1:*
    - restgateway.discovery.wmnet
    - mytestdomain.discovery.wmnet

  restbase_routes:
    mobileapps:
      hostname: mobileapps.discovery.wmnet
      urls:
        #TODO tighten capture group criteria
        - name: ma_mobile_no_revision
          in: '(.+)/v1/page/mobile-html/(.+)'
          out: '\1/v1/page/mobile-html/\2'
        - name: ma_mobile_revision
          in: '(.+)/v1/page/mobile-html/(.+)/(.+)'
          out: '\1/v1/page/mobile-html/\2/\3'
        - name: ma_summary_no_revision
          in: '(.+)/v1/page/summary/(.+)'
          out: '\1/v1/page/summary/\2'
        - name: ma_summary_revision
          in: '(.+)/v1/page/summary/(.+)/(.+)'
          out: '\1/v1/page/summary/\2/\3'
    proton:
      timeout: 150s
      ingress: true
      domain: mytestdomain.discovery.wmnet
      urls:
        #TODO tighten capture group criteria
        - name: proton_title
          in: '(.+)/v1/page/pdf/(.+)'
          out: '\1/v1/pdf/\2'
        - name: proton_title_format
          in: '(.+)/v1/page/pdf/(.+)/(.+)'
          out: '\1/v1/pdf/\2/\3'
        - name: proton_title_format_type
          in: '(.+)/v1/page/pdf/(.+)/(.+)/(.+)'
          out: '\1/v1/pdf/\2/\3/\4'

  discovery_endpoints:
    mobileapps:
      tls: false
      port: 8888 #4102
      internal_host: localhost
      timeout: 30s
      host: localhost
    proton:
      tls: false
      port: 8888 #4102
      internal_host: localhost
      timeout: 30s
      host: localhost
