resources:
# When ramping up replicas in the main release, please remember
# to raise the number of canary replicas as well.
# We aim for ~3% of the deployment for canaries, rounding up.
  # October 2025 sizing for *multi-DC* serving:
  # TODO: This needs tuned as rest-gateway routed traffic migrates from mw-api-int.
  #replicas: 260
  # T405955: With the next release serving ~ 30% of traffic, the nominal size
  # of main for serving residual traffic is 80% of its normal size: 208.
  replicas: 187  # Scaled to ~ 90% of 208 replicas total (T405955)
  # September 2025 Switchover sizing for *single-DC* serving:
  #replicas: 260

mesh:
  image_version: 1.32.12-1
  public_port: 4447
  tracing:
    enabled: true
    sampling: 0.01

monitoring:
  statsd: ~
