# This release exists to enable incremental traffic migration actuated by an
# external system, in contrast to the migration release.
# For this use case, an externally addressible discovery service distinct from
# main is required (e.g., a cookie-driven migration that selects the relevant
# discovery service at ATS).

resources:
  # NOTE: Keep 1 replica running to satisfy pybal checks, etc. when not in use.
  replicas: 1

# During the early phases of a migration when the number of replicas is small,
# it may be useful to increase maxUnavailable (default: 6%) and / or maxSurge
# (default: 3%) in order to improve deployment speed if the next release is
# using a different mediawiki image than main (as the image is unlikely to
# be cached). See, e.g., https://phabricator.wikimedia.org/T383845#10612223.
# During the PHP 8.3 migration, we've found that a moving window of ~ 20% in
# flight pulls (e.g., maxSurge = maxUnavailable = 10%) is sufficient.
# As an alternative or in addition, it may be useful to temporarily increase
# the deployment timeout value in helmfile.yaml.
#strategy:
#  rollingUpdate:
#    maxSurge: 10%
#    maxUnavailable: 10%

mesh:
  public_port: 4455
  tracing:
    service_name: mw-api-ext-next
