resources:
# When ramping up replicas in the main release, please remember
# to raise the number of canary replicas as well.
# We aim for ~3% of the deployment for canaries, rounding up.
  ##########################################
  # March 2025 sizing for *multi-DC* serving:
  #replicas: 220
  #####################################################
  # March 2025 estimated sizing for *single-DC* serving:
  replicas: 260

mesh:
  public_port: 4447
  tracing:
    enabled: true
    sampling: 0.01

php:
  # T383845 - Switch to all releases to PHP 8.1.
  version: "8.1"

monitoring:
  statsd: ~
