chartName: zarcillo
# Uses the wmf-stable/python-webapp chart

monitoring:
  enabled: true

config:
  public:
    STAGE: "prod"
    NOC_HOSTPORT: "localhost:6509"

resources:
  replicas: 1

app:
  # detected by kokkuri from the gitlab repo location
  image: "repos/data_persistence/zarcillo"
  # detected by kokkuri from the gitlab repo path
  version: "devel"
  limits:
    cpu: 1
    memory: 1Gi
  requests:
    cpu: 1
    memory: 1Gi
  readiness_probe:
    timeoutSeconds: 5
    httpGet:
      path: /healthz
      port: 8080
  liveness_probe:
    initialDelaySeconds: 2
    periodSeconds: 5
    failureThreshold: 3

service:
  deployment: production

mesh:
  enabled: true
  # The port on which envoy will be listening. Given we're enabling ingress,
  # this will only be internal to the cluster and doesn't need to be unique
  public_port: 8000
  certmanager:
    extraFQDNs:
      - zarcillo.wikimedia.org

networkpolicy:
  egress:
    enabled: true
    dst_nets:
    # prometheus.svc.eqiad.wmnet
    - cidr: 10.2.2.25/32
      ports:
        - protocol: TCP
          port: 80
    # prometheus.svc.codfw.wmnet
    - cidr: 10.2.1.25/32
      ports:
        - protocol: TCP
          port: 80
    # dborch1001.wikimedia.org / orchestrator.wikimedia.org
    - cidr: 208.80.155.103/32
      ports:
        - protocol: TCP
          port: 443
    # # idp.wikimedia.org # #
    # See https://phabricator.wikimedia.org/T398640
    # idp1005 IPv4:
    - cidr: 208.80.155.104/32
      ports:
        - protocol: TCP
          port: 443
    # idp1005 IPv6:
    - cidr: 2620:0:861:4:208:80:155:104/128
      ports:
        - protocol: TCP
          port: 443
    # idp2005 IPv4:
    - cidr: 208.80.153.77/32
      ports:
        - protocol: TCP
          port: 443
    # idp2005 IPv6:
    - cidr: 2620:0:860:3:208:80:153:77/128
      ports:
        - protocol: TCP
          port: 443
    # # end of idp.w.o # #
    # # Fetch alerts and silences from the Alertmanager API # #
    # alertmanager-eqiad.wikimedia.org
    - cidr: 208.80.154.78/32
      ports:
        - protocol: TCP
          port: 80
    - cidr: 2620:0:861:3:208:80:154:78/128
      ports:
        - protocol: TCP
          port: 80
    # alertmanager-codfw.wikimedia.org
    - cidr: 208.80.153.42/32
      ports:
        - protocol: TCP
          port: 80
    - cidr: 2620:0:860:2:208:80:153:42/128
      ports:
        - protocol: TCP
          port: 80
    # # End of Alertmanager # #
    # netbox.discovery.wmnet
    - cidr: 10.64.0.103/32
      ports:
        - protocol: TCP
          port: 443
    # config-master.discovery.wmnet
    - cidr: 10.64.0.110/32
      ports:
        - protocol: TCP
          port: 443
    # # etcd/dbctl # #
    # conf1007.eqiad.wmnet
    - cidr: 10.64.0.207/32
      ports:
        - protocol: TCP
          port: 4001
    - cidr: 2620:0:861:101:10:64:0:207/128
      ports:
        - protocol: TCP
          port: 4001
    # conf1008.eqiad.wmnet
    - cidr: 10.64.16.110/32
      ports:
        - protocol: TCP
          port: 4001
    - cidr: 2620:0:861:102:10:64:16:110/128
      ports:
        - protocol: TCP
          port: 4001
    # conf1009.eqiad.wmnet
    - cidr: 10.64.48.154/32
      ports:
        - protocol: TCP
          port: 4001
    - cidr: 2620:0:861:107:10:64:48:154/128
      ports:
        - protocol: TCP
          port: 4001
    # # end of etcd # #

ingress:
  enabled: true
  gatewayHosts:
    extraFQDNs:
      - zarcillo.wikimedia.org
  # selectors:
  #   service.istio.io/canonical-name: istio-ingressgateway-services
  #   istio: ingressgateway

mariadb:
  egress:
    sections: ['s1', 's2', 's3', 's4', 's5', 's6', 's7', 's8', 'm5']

discovery:
  listeners:
    - noc
