apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ template "base.name.release" . }}
  labels:
    app: {{ template "base.name.chart" . }}
    chart: {{ template "base.name.chartid" . }}
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
spec:
  selector:
    matchLabels:
      app: {{ template "base.name.chart" . }}
      release: {{ .Release.Name }}
  replicas: {{ .Values.resources.replicas }}
  template:
    metadata:
      labels:
        app: {{ template "base.name.chart" . }}
        release: {{ .Release.Name }}
        routed_via: {{ .Values.routed_via | default .Release.Name }}
      annotations:
        {{ if .Values.main_app.jobqueue -}}
        checksum/config: {{ include "jobqueue.app" . | sha256sum }}
        {{ else if .Values.main_app.changeprop -}}
        checksum/config: {{ include "config.app" . | sha256sum }}
        {{ else -}}
        {{ fail "main_app.jobqueue or main_app.changeprop are required configuration options" -}}
        {{ end -}}
        {{ if .Values.nutcracker.enabled -}}
        checksum/nutcracker: {{ include "nutcracker.config" . | sha256sum }}
        {{ end -}}
        checksum/secrets: {{ include (print $.Template.BasePath "/secret.yaml") . | sha256sum }}
        {{ if .Values.monitoring.enabled -}}
        checksum/prometheus-statsd: {{ .Files.Get "config/prometheus-statsd.conf" | sha256sum }}
        {{ end -}}
        prometheus.io/port: "9102"
        prometheus.io/scrape: "true"
        {{- include "mesh.name.annotations" . | nindent 8 }}
    spec:
      {{- if .Values.affinity }}
      {{- toYaml .Values.affinity | nindent 6 }}
      {{- end }}
      containers:
        # The main application container
        - name: {{ template "base.name.release" . }}
          image: "{{ .Values.docker.registry }}/{{ .Values.main_app.image }}:{{ .Values.main_app.version }}"
          imagePullPolicy: {{ .Values.docker.pull_policy }}
          {{- if .Values.main_app.command }}
          command:
            {{- range .Values.main_app.command }}
            - {{ . }}
            {{- end }}
          {{- end }}
          {{- if .Values.main_app.args }}
          args:
            {{- range .Values.main_app.args }}
            - {{ . }}
            {{- end }}
          {{- end }}
          ports:
            - containerPort: {{ .Values.app.port }}
          {{- if .Values.debug.enabled }}
          {{- range .Values.debug.ports }}
            - containerPort: {{ . }}
          {{- end }}{{ end }}
          {{- if .Values.main_app.liveness_probe }}
          livenessProbe:
          {{- toYaml .Values.main_app.liveness_probe | nindent 12 }}
          {{- end }}
          {{- if .Values.main_app.readiness_probe }}
          readinessProbe:
          {{- toYaml .Values.main_app.readiness_probe | nindent 12 }}
          {{- end }}
          env:
            - name: SERVICE_IDENTIFIER
              value: {{ template "base.name.release" . }}
          {{- range $k, $v := .Values.config.public }}
            - name: {{ $k | upper }}
              value: {{ $v | quote }}
          {{- end }}
          {{- range $k, $v := .Values.config.private }}
            - name: {{ $k | upper }}
              valueFrom:
                secretKeyRef:
                  name: {{ template "base.name.release" $ }}-secret-config
                  key: {{ $k }}
          {{- end }}
{{ if .Values.puppet_ca_crt }}
            - name: NODE_EXTRA_CA_CERTS
              value: /etc/changeprop/puppetca.crt.pem
{{- end }}
          resources:
            requests:
{{ toYaml .Values.main_app.requests | indent 14 }}
            limits:
{{ toYaml .Values.main_app.limits | indent 14 }}
          volumeMounts:
            - name: {{ .Release.Name }}-base-config
              mountPath: /etc/changeprop
{{- with .Values.main_app.volumeMounts }}
{{ toYaml . | indent 12 }}
{{- end }}
{{- if .Values.monitoring.enabled }}
        - name: {{ .Release.Name }}-metrics-exporter
          image: {{ .Values.docker.registry }}/prometheus-statsd-exporter:{{ .Values.monitoring.image_version }}
          imagePullPolicy: {{ .Values.docker.pull_policy }}
          volumeMounts:
            - name: {{ .Release.Name }}-metrics-exporter
              mountPath: /etc/monitoring
{{- end }}
        {{- include "mesh.deployment.container" . | nindent 8 }}
{{- if .Values.nutcracker.enabled }}
        - name: {{ .Release.Name }}-nutcracker
          image: {{ .Values.docker.registry }}/{{ .Values.common_images.nutcracker.nutcracker }}
          imagePullPolicy: {{ .Values.docker.pull_policy }}
          args:
            - "-o"
            - "/dev/stdout"
          ports:
            - containerPort: 6379
          volumeMounts:
            - name: {{ .Release.Name }}-nutcracker-config
              mountPath: /etc/nutcracker
              readOnly: true
{{- end }}
      volumes:
        - name: {{ .Release.Name }}-base-config
          configMap:
            name: {{ template "base.name.release" . }}-base-config
        {{- if .Values.monitoring.enabled }}
        - name: {{ .Release.Name }}-metrics-exporter
          configMap:
            name: {{ template "base.name.release" . }}-metrics-config
        {{- end }}
        {{- include "mesh.deployment.volume" . | nindent 8 }}
        {{- if .Values.nutcracker.enabled }}
        - name: {{ .Release.Name }}-nutcracker-config
          configMap:
            name: {{ template "base.name.release" . }}-nutcracker-config
        {{- end }}
{{- with .Values.main_app.volumes }}
{{ toYaml . | indent 8 }}
{{- end }}
