app:

  site: staging

  kafka:
    broker_list:
      - kafka-main1001.eqiad.wmnet:9093
      - kafka-main1002.eqiad.wmnet:9093
      - kafka-main1003.eqiad.wmnet:9093
      - kafka-main1004.eqiad.wmnet:9093
      - kafka-main1005.eqiad.wmnet:9093
    ssl: true

  limits:
    memory: 1Gi  # this is a random guess; will need changing after tuning batching

kafka:
  allowed_clusters:
    - main-eqiad
