resources:
  replicas: 12
main_app:
  version: 2021-03-10-144843-production
  mw_host: localhost:6500
  restbase_host: localhost:6503
  mysql_conn:
    limit: 2
    host: m2-master.eqiad.wmnet
    name: recommendationapi
    user: recommendationapiservice
    # pass: Being added via secrets on deployment host
    # If a connection to MySQL fails, how many times to retry?
    retry: 2
    # retry delay (in ms) before connecting to MySQL
    retry_delay: 1000
  mysql_tables:
    language: language_20181130
    normalized_rank: normalized_rank_20181130
monitoring:
  enabled: true
service:
  deployment: production
  port:
   name: http
   # protocol: TCP # TCP is the default protocol
   targetPort: 9632 # the number or name of the exposed port on the container
   port: 9632 # the number of the port desired to be exposed to the cluster
   nodePort: 9632
mesh:
  enabled: true
  resources:
    requests:
      cpu: 500m
      memory: 150Mi
    limits:
      cpu: 1
      memory: 500Mi
discovery:
  listeners:
    - mw-api-int-async
networkpolicy:
  egress:
    enabled: true
    dst_ports:
      - port: 3306
        protocol: tcp
