service:
  deployment: production
  port: 36192

networkpolicy:
  egress:
    enabled: true

mesh:
  enabled: true
  certmanager:
    # Edge uniques events will be received on any of the canonical WMF domains handled by the CDN.
    # See #T394437 for more details.
    extraFQDNs:
      - '*.m.mediawiki.org'
      - '*.m.wikibooks.org'
      - '*.m.wikidata.org'
      - '*.m.wikimedia.org'
      - '*.m.wikinews.org'
      - '*.m.wikipedia.org'
      - '*.m.wikiquote.org'
      - '*.m.wikisource.org'
      - '*.m.wikiversity.org'
      - '*.m.wikivoyage.org'
      - '*.m.wiktionary.org'
      - '*.mediawiki.org'
      - '*.planet.wikimedia.org'
      - '*.wikibooks.org'
      - '*.wikidata.org'
      - '*.wikifunctions.org'
      - '*.wikimedia.org'
      - '*.wikimediafoundation.org'
      - '*.wikinews.org'
      - '*.wikipedia.org'
      - '*.wikiquote.org'
      - '*.wikisource.org'
      - '*.wikiversity.org'
      - '*.wikivoyage.org'
      - '*.wiktionary.org'
      - '*.wmfusercontent.org'
      - mediawiki.org
      - w.wiki
      - wikibooks.org
      - wikidata.org
      - wikifunctions.org
      - wikimedia.org
      - wikimediafoundation.org
      - wikinews.org
      - wikipedia.org
      - wikiquote.org
      - wikisource.org
      - wikiversity.org
      - wikivoyage.org
      - wikiworkshop.org
      - wiktionary.org
      - wmfusercontent.org
      - www.wikiworkshop.org
      - wikipedia25.org
      - www.wikipedia25.org
  public_port: 4692 # the port where TLS will be exposed

discovery:
  # List of listeners. These should match service mesh endpoint names
  # (defined in https://gerrit.wikimedia.org/g/operations/puppet/+/refs/heads/production/hieradata/common/profile/services_proxy/envoy.yaml)
  listeners:
    - mw-api-int-async-ro # used for EventStreamConfig API endpoint.
    - schema      # schema.discovery.wmnet

external_services:
  kafka: [jumbo-eqiad]

resources:
  replicas: 30

main_app:
  name: eventgate-analytics-external
  version: v1.27.0
  requests:
    memory: 300Mi
  limits:
    memory: 400Mi
  conf:
    kafka:
      conf:
        # eventgate-analytics-external always uses kafka jumbo-eqiad.
        metadata.broker.list: kafka-jumbo1010.eqiad.wmnet:9093,kafka-jumbo1011.eqiad.wmnet:9093,kafka-jumbo1012.eqiad.wmnet:9093,kafka-jumbo1013.eqiad.wmnet:9093,kafka-jumbo1014.eqiad.wmnet:9093,kafka-jumbo1015.eqiad.wmnet:9093,kafka-jumbo1016.eqiad.wmnet:9093,kafka-jumbo1017.eqiad.wmnet:9093,kafka-jumbo1018.eqiad.wmnet:9093
        # Enforce a smaller message size limit for this externally accessible eventgate instance.
        message.max.bytes: 1048576
        # Enable Kafka producer TLS (no authentication, just encryption).
        security.protocol: ssl

    schema_precache_uris:
    - /error/1.0.0
    - /test/event/1.0.0

    # http://schema.discovery.wmnet hosts up to date clones of our
    # event schema repositories. Since eventgate-analytics-external needs to be more dynamic without
    # new schemas and versions, it is configured to only use the remote schema repos.
    schema_base_uris:
    - 'http://127.0.0.1:6023/repositories/primary/jsonschema/'
    - 'http://127.0.0.1:6023/repositories/secondary/jsonschema/'

    # If test_events is set, EventGate will set up a /v1/_test/events
    # route that will process these test_events as if they were POSTed
    # to /v1/events. This is used for the k8s readinessProbe.
    # IMPORTANT:
    # If you are using stream config, make sure this stream is configured!
    # If using local stream config, the _stream-config.yaml template
    # will automatically configure an <main_app.name>.test.event stream,
    # so in your helmfiles you should override this to a test event
    # that prodcues to that stream.  If you are using remote
    # stream config, you must configure these streams explicitly there.
    test_events:
    - $schema: /test/event/1.0.0
      meta:
          # make sure this is configured in stream config if you are using it.
        stream: eventgate-analytics-external.test.event

    # Request stream config from the EventStreamConfig extension MW API endpoint every minute.
    # We use meta.wikimedia.org here as the default stream configuration wiki.
    # Streams can be configured per wiki in mediawiki-config, but they should always be at
    # least configured with a stream name and schema_title available from meta.wikimedia.org.
    stream_config_uri: 'http://127.0.0.1:6500/w/api.php?format=json&action=streamconfigs&constraints=destination_event_service=eventgate-analytics-external'
    stream_config_uri_options: {'headers': {'Host': 'meta.wikimedia.org'}}
    # Expect the stream -> settings map in the response at this subobject key
    stream_config_object_path: streams
    # Expire and re-request dynamic stream configs every minute.
    stream_config_ttl: 60
