apiVersion: v2
name: cfssl-issuer
description: cert-manager issuer for CFSSL multirootca API
type: application
version: 0.3.3
appVersion: 0.3.0-1
# We keep the dependencies list as comment to have a trace about them.
# The way in which Helm tracks dependencies is a little convoluted
# for our use case: we deploy crds separately from the charts that depends on
# them (via helmfile). Having dependencies explicitly stated is nice
# for documentation purposes, but we should strive for a compromise
# between precision and simplicity in day-to-day ops.
#
# dependencies:
#   - name: cfssl-issuer-crds
#     version: 0.3.0
#     repository: https://helm-charts.wikimedia.org/stable
