_vars:
  kyuubi-image: &kyuubi-image "docker-registry.discovery.wmnet/repos/data-engineering/spark/kyuubi:1.10.2-2025-12-23-173037-ad4447d949a8fbb2e5283bfbe02e62483922c10d"
  spark-image: &spark-image "docker-registry.discovery.wmnet/repos/data-engineering/spark:3.5.7-2025-12-22-162023-34d8ce93d42001a1f717ce7fc92765b289f04adc"

orchestrator:
  service_accounts:
    airflow-test-k8s: [airflow]
    airflow-dev: [airflow-dev-btullis]

external_services:
  hadoop-master:
  - analytics-test
  hadoop-worker:
  - analytics-test
  hive:
  - analytics-test
  kerberos:
  - kdc
  s3:
  - eqiad-dpe
  zookeeper:
  - test-eqiad

external_services_selector: "spark-role in { 'driver', 'executor' }"

kyuubi:
  image: *kyuubi-image

config:
  hadoop:
    hdfs:
      dfs.client.failover.proxy.provider.analytics-test-hadoop: org.apache.hadoop.hdfs.server.namenode.ha.ConfiguredFailoverProxyProvider
      dfs.ha.namenodes.analytics-test-hadoop: an-test-master1001-eqiad-wmnet,an-test-master1002-eqiad-wmnet
      dfs.internal.nameservices: analytics-test-hadoop
      dfs.namenode.http-address.analytics-test-hadoop.an-test-master1001-eqiad-wmnet: an-test-master1001.eqiad.wmnet:50070
      dfs.namenode.http-address.analytics-test-hadoop.an-test-master1002-eqiad-wmnet: an-test-master1002.eqiad.wmnet:50070
      dfs.namenode.rpc-address.analytics-test-hadoop.an-test-master1001-eqiad-wmnet: an-test-master1001.eqiad.wmnet:8020
      dfs.namenode.rpc-address.analytics-test-hadoop.an-test-master1002-eqiad-wmnet: an-test-master1002.eqiad.wmnet:8020
      dfs.namenode.servicerpc-address.analytics-test-hadoop.an-test-master1001-eqiad-wmnet: an-test-master1001.eqiad.wmnet:8040
      dfs.namenode.servicerpc-address.analytics-test-hadoop.an-test-master1002-eqiad-wmnet: an-test-master1002.eqiad.wmnet:8040
      dfs.nameservices: analytics-test-hadoop
    core:
      fs.defaultFS: hdfs://analytics-test-hadoop/
    hive:
      hive.metastore.kerberos.principal: hive/analytics-test-hive.eqiad.wmnet@WIKIMEDIA
      hive.metastore.uris: thrift://analytics-test-hive.eqiad.wmnet:9083
      hive.server2.authentication.kerberos.principal: analytics/analytics-test.discovery.wmnet@WIKIMEDIA
      hive.server2.authentication.kerberos.keytab: /etc/security/keytabs/analytics.keytab

  spark:
    spark.kubernetes.container.image: *spark-image
    spark.kubernetes.namespace: analytics-test
    spark.kerberos.keytab: /etc/security/keytabs/analytics.keytab
    spark.kerberos.principal: analytics/analytics-test.discovery.wmnet@WIKIMEDIA
    spark.kubernetes.driver.podTemplateFile: local:///etc/spark/pod_templates/driver.yaml
    spark.kubernetes.executor.podTemplateFile: local:///etc/spark/pod_templates/executor.yaml

  kyuubi:
    kyuubi.kinit.principal: analytics/_HOST@WIKIMEDIA
    kyuubi.kinit.keytab: /etc/security/keytabs/analytics.keytab
    kyuubi.ha.addresses: zookeeper-test-eqiad:2181
    kyuubi.zookeeper.embedded.data.log.dir: ~
    kyuubi.zookeeper.embedded.data.dir: ~

