docker:
  registry: docker-registry.discovery.wmnet/wikimedia
  imagePullPolicy: IfNotPresent

networkpolicy:
  egress:
    enabled: true
    # These endpoints should be reachable by Istio proxy sidecars.
    dst_nets:
      - cidr: 10.2.1.54/32 # thanos-swift.svc.codfw.wmnet
        ports:
        - port: 443
          protocol: tcp
      - cidr: 10.2.2.54/32 # thanos-swift.svc.eqiad.wmnet
        ports:
        - port: 443
          protocol: tcp
      - cidr: 10.2.1.22/32 # api-ro.svc.codfw.wmnet
        ports:
        - port: 443
          protocol: tcp
      - cidr: 10.2.2.22/32 # api-ro.svc.eqiad.wmnet
        ports:
        - port: 443
          protocol: tcp
      - cidr: 10.2.1.45/32 # eventgate-main.svc.codfw.wmnet
        ports:
        - port: 4492
          protocol: tcp
      - cidr: 10.2.2.45/32 # eventgate-main.svc.eqiad.wmnet
        ports:
        - port: 4492
          protocol: tcp

monitoring:
  enabled: true

inference:
  annotations:
    sidecar.istio.io/inject: "true"
    autoscaling.knative.dev/metric: "rps"
    prometheus.kserve.io/scrape: "true"
    prometheus.kserve.io/port: "8080"
    prometheus.kserve.io/path: "/metrics"

inference_services:
  revertrisk-language-agnostic:
    annotations:
      autoscaling.knative.dev/target: "15"
    predictor:
      config:
        minReplicas: 5
        maxReplicas: 15
      image: "machinelearning-liftwing-inference-services-revertrisk"
      image_version: "2023-10-16-110526-publish"
      custom_env:
        - name: MODEL_NAME
          value: "revertrisk-language-agnostic"
        - name: STORAGE_URI
          value: "s3://wmf-ml-models/revertrisk/language-agnostic/20230929145934/"
        - name: WIKI_URL
          value: "http://api-ro.discovery.wmnet"
        - name: OMP_NUM_THREADS
          value: "1"
  revertrisk-multilingual:
    annotations:
      autoscaling.knative.dev/target: "3"
    predictor:
      config:
        minReplicas: 5
        maxReplicas: 15
      image: "machinelearning-liftwing-inference-services-revertrisk-multilingual"
      image_version: "2023-10-16-110525-publish"
      custom_env:
        - name: MODEL_NAME
          value: "revertrisk-multilingual"
        - name: STORAGE_URI
          value: "s3://wmf-ml-models/revertrisk/multilingual/20230810110019/"
        - name: WIKI_URL
          value: "http://api-ro.discovery.wmnet"
      container:
        resources:
          limits:
            cpu: "4"
            memory: 6Gi
          requests:
            cpu: "4"
            memory: 6Gi
