BGPConfiguration:
  asNumber: 64603
  nodeToNodeMeshEnabled: false

IPPools:
  ipv4:
    cidr: "10.64.64.0/21"
  ipv6:
    cidr: "2620:0:861:babe::/64"

# remove calico limits and raise requests to prevent OOM conditions, see T393636
calicoNode:
  resources:
    requests:
      cpu: 700m
      memory: 1Gi
    limits:
      memory: ~

typha:
  resources:
    limits:
      memory: ~

# remove calico limits and raise requests to prevent OOM conditions, see T393636
kubeControllers:
  resources:
    requests:
      cpu: 300m
      memory: 1Gi
    limits:
      cpu: ~
      memory: ~
