resources:
# When ramping up replicas in the main release, please remember
# to raise the number of canary replicas as well.
# We aim for ~3% of the deployment for canaries, rounding up.
# Multi-DC size: 300 replicas
  replicas: 300

mesh:
  image_version: 1.29.12-1
  public_port: 4446
  tracing:
    enabled: true
    sampling: 0.01

monitoring:
  statsd: ~

main_app:
  requests:
    auto_compute: true
  limits:
    auto_compute: true
    enforce: true
    cpu: ~
