apiVersion: v2
name: flink-kubernetes-operator
description: A Helm chart for the Apache Flink Kubernetes Operator, modified for WMF.
type: application
# NOTE: version here is WMF's version of this chart.
# appVersion should be the upstream version.
# (We cannot use a '-wmf0' prerelease suffix in helm charts.
# Helm considers these 'development' versions.)
version: 2.3.3
appVersion: 1.4.0
icon: https://flink.apache.org/img/logo/png/50/color_50.png

# We keep the dependencies list as comment to have a trace about them.
# The way in which Helm tracks dependencies is a little convoluted
# for our use case: we deploy crds separately from the charts that depends on
# them (via helmfile). Having dependencies explicitly stated is nice
# for documentation purposes, but we should strive for a compromise
# between precision and simplicity in day-to-day ops.
#dependencies:
#  - name: flink-kubernetes-operator-crds
#    version: 2.3.0
#    repository: https://helm-charts.wikimedia.org/stable
