version=2
rule=:%[
    {"type": "literal", "text": "\\n["},
    {"name": "date", "type": "char-to", "extradata": "]"},
    {"type": "literal", "text": "]  [pool"},
    {"name": "pool","type": "char-to", "extradata": "]"},
    {"type": "literal", "text": "] pid "},
    {"name": "pid", "type": "number"},
    {"type": "literal", "text": "\\n"},
    {"type": "literal", "text": "script_filename = "},
    {"name": "script_filename", "type": "string-to", "extradata": "\\n"},
    {"type": "literal", "text": "\\n"},
    {"type": "literal", "text": "["},
    {"name": "stack_head_addr", "type": "char-to", "extradata": "]"},
    {"type": "literal", "text": "] "},
    {"name": "stack_head_function", "type": "word"},
    {"type": "literal", "text": " "},
    {"name": "stack_head_file", "type": "string-to", "extradata": "\\n"},
    {"name": "stack_tail", "type": "rest"}
    ]%