main_app:
  image: repos/sre/miscweb/security-landing-page
  version: 2024-08-27-184831
  limits:
    cpu: 200m
    memory: 200Mi
  requests:
    cpu: 100m
    memory: 100Mi

mesh:
  enabled: true
  public_port: 4111

ingress:
  enabled: true
  gatewayHosts:
    extraFQDNs:
      - security.wikimedia.org
