main_app:
  image: repos/sre/miscweb/annualreport
  version: 2023-07-13-114826
  limits:
    cpu: 200m
    memory: 200Mi
  requests:
    cpu: 100m
    memory: 100Mi
  # annualreport returns 302 on /, so use another path for probe
  readiness_probe:
    httpGet:
      path: /2017

mesh:
  enabled: true
  public_port: 4111

ingress:
  enabled: true
  gatewayHosts:
    extraFQDNs:
    - 15.wikipedia.org
    - annual.wikimedia.org