main_app:
  image: repos/sre/miscweb/research-landing-page
  version: 2025-12-18-183207
  limits:
    cpu: 200m
    memory: 200Mi
  requests:
    cpu: 100m
    memory: 100Mi

mesh:
  enabled: true
  public_port: 4111

ingress:
  enabled: true
  gatewayHosts:
    extraFQDNs:
    - research.wikimedia.org
