main_app:
  image: repos/sre/miscweb/design-strategy
  version: 2024-01-03-141324
  limits:
    cpu: 200m
    memory: 200Mi
  requests:
    cpu: 100m
    memory: 100Mi
  # strategy returns 404 on /, so use another path for probe
  readiness_probe:
    httpGet:
      path: /strategy/

mesh:
  enabled: true
  public_port: 4111

# map design.wikimedia.org/strategy to this release
# according to https://wikitech.wikimedia.org/wiki/Kubernetes/Ingress#More_complex_setups
ingress:
  enabled: true
  existingGatewayName: "miscweb/miscweb-design-landing-page"
  routeHosts:
  - design.wikimedia.org
  httproutes:
  - match:
    - uri:
        prefix: /strategy
    route:
    - destination:
        host: miscweb-design-strategy-tls-service.miscweb.svc.cluster.local
        port:
          number: 4111
