docker:
  pull_policy: IfNotPresent
  registry: docker-registry.discovery.wmnet
helm_scaffold_version: 0.2
discovery:
  listeners:
  - zotero
main_app:
  image: wikimedia/mediawiki-services-citoid
  limits:
    cpu: 1
    memory: 400Mi
  proxy: http://url-downloader.eqiad.wikimedia.org:8080
  requests:
    cpu: 100m
    memory: 100Mi
  version: 2026-02-25-104235-production
  zotero: localhost
  zotero_port: 6018
monitoring:
  enabled: true
resources:
  replicas: 8
service:
  deployment: production
mesh:
  enabled: true
  public_port: 4003
  telemetry:
    enabled: true
  tracing:
    enabled: true
    sampling: 0.1
networkpolicy:
  egress:
    enabled: true
    dst_nets:
    - cidr: 10.2.1.16/32 # zotero.svc.codfw.wmnet
      ports:
      - protocol: tcp
        port: 1969       # http
      - protocol: tcp
        port: 4969       # https
    - cidr: 10.2.2.16/32 # zotero.svc.eqiad.wmnet
      ports:
      - protocol: tcp
        port: 1969       # http
      - protocol: tcp
        port: 4969       # https

ingress:
  enabled: true
  keepNodePort: true
  gatewayHosts:
    extraFQDNs:
    - citoid-ingress.discovery.wmnet
