resources:
  replicas: 2

docker:
  registry: docker-registry.discovery.wmnet
  pull_policy: IfNotPresent

service:
  deployment: production

main_app:
  image: repos/wmde/wikidata-query-gui
  version: 2024-07-26-105140
  port: 8080
  limits:
    cpu: 200m
    memory: 200Mi
  requests:
    cpu: 100m
    memory: 100Mi

mesh:
  enabled: true
  public_port: 8081
