dumps:
  orchestrator:
    service_accounts:
      airflow-test-k8s: [airflow]  # temporary namespace, until the DAG is production ready
      airflow-dev: [airflow-dev-btullis]
  toolbox:
    fs_group: 33
  rsync:
    ssh_egress_hosts:
      - 208.80.154.142/32               # clouddumps1001.wikimedia.org
      - 2620:0:861:2:208:80:154:142/128 # clouddumps1001.wikimedia.org
      - 208.80.154.71/32                # clouddumps1002.wikimedia.org
      - 2620:0:861:3:208:80:154:71/128  # clouddumps1002.wikimedia.org
    ssh_known_hosts:
      - clouddumps1001.wikimedia.org,208.80.154.142,2620:0:861:2:208:80:154:142 ecdsa-sha2-nistp256 AAAAE2VjZHNhLXNoYTItbmlzdHAyNTYAAAAIbmlzdHAyNTYAAABBBMA/Al2V+CTWWEdMJmqzhSmtn5tche1OmBxh67/g8AP7wdtUSZ6urOUZBe8lcjiAif9heJb7jwWWSNe+VCKCq0g=
      - clouddumps1002.wikimedia.org,208.80.154.71,2620:0:861:3:208:80:154:71 ecdsa-sha2-nistp256 AAAAE2VjZHNhLXNoYTItbmlzdHAyNTYAAAAIbmlzdHAyNTYAAABBBExvftUq/vgRdl20f4hKYECNRYoZNI2C789OOxz92IQBrsDU8NqgMy1o9bdfVc2acZBC3VD/LNCtiLx1kWtetro=

# We set these values manually here but the dumps themselves pull the latest pod spec automatically from what is deployed by scap from:
# /etc/helmfile-defaults/mediawiki/release/mediawiki-dumps-legacy-production.yaml
# cf T389786
main_app:
  image: restricted/mediawiki-multiversion-cli:2025-12-04-223118-publish-83

sync_toolbox:
  image: repos/data-engineering/sync-utils:2025-05-06-121409-454fc28fa21159e3c4b0fd89d9924776ff6e4d67

mesh:
  enabled: true
  public_port: null
  tracing:
    enabled: false
  certmanager:
    enabled: false
  telemetry:
    enabled: true
    port: 9361

networkpolicy:
  egress:
    enabled: false

discovery:
  listeners:
    - mw-api-int

external_services_selector: "app == 'mediawiki' && release == 'production'"
external_services:
  prometheus-pushgateway: [eqiad]
