main_app:
  requests:
    cpu: 1500m
  limits:
    cpu: 2

shellbox:
  flavour: timeline81

service:
  deployment: production

mesh:
  enabled: true
  public_port: 4012
  tracing:
    enabled: true
    sampling: 10

php:
  workers: 4

resources:
  replicas: 8
