# Default values for function-evaluator.
helm_scaffold_version: 0.4
docker:
  registry: docker-registry.wikimedia.org
  pull_policy: IfNotPresent
resources:
  replicas: 1
main_app:
  type: "default"
  # NOTE: The image: and version: values are over-ridden in the helmfile.d/services/wikifunctions/values-*-evaluator.yaml files
  image: repos/abstract-wiki/wikifunctions/function-evaluator/some-such-image
  version: versionNumberGoesHere
  port: 6927
  command: []
  args: []
  # TODO (T348681) Set appropriate values for these; will probably vary by language, so move to helmfile.d values files?
  requests:
    cpu: 100m
    memory: 200Mi
  limits:
    cpu: 200m
    memory: 400Mi
  liveness_probe:
    tcpSocket:
      port: 6927
  readiness_probe:
    httpGet:
      path: /_info
      port: 6927

# TODO (T316706): Add gVisor config at some point?

monitoring:
  enabled: true

service:
  deployment: minikube
  nodePort: false
  port:
    name: http
    targetPort: 6927
    port: 6927
    nodePort: null

config:
  public:
    FUNCTION_EVALUATOR_TIMEOUT_MS: "10000"
  private: {}

mesh:
  enabled: false # Set true in helmfile.d values files.
  public_port: 6927
  upstream_timeout: "180.0s"
  certs:
    cert: "snakeoil"
    key: "snakeoil"
  telemetry:
    enabled: true
    port: 9361

debug:
  enabled: false

networkpolicy:
  egress:
    # enabled: true without any rules does prohibit egress traffic
    enabled: true

ingress:
  enabled: false
  keepNodePort: false
  staging: false
  gatewayHosts:
    default: ""
    disableDefaultHosts: false
    extraFQDNs: []
  existingGatewayName: ""
  routeHosts: []
  httproutes: []

app:
  port: 6927
