{{- define "config.app" -}}
cors: "*"
port: {{ .Values.app.port }}
user_agent: CXServer/WMF
# the template used for contacting mediawiki
mwapi_req:
  body: {{ "'{{" }} request.body {{ "}}'" }}
  query: {{ "'{{" }} default(request.query, {}) {{ "}}'" }}
  headers:
    host: {{ "'{{" }} request.params.domain {{ "}}'" }}
    user-agent: {{ "'{{" }} user-agent {{ "}}'" }}
  method: {{ "'{{" }}request.method{{ "}}'" }}
  uri: {{ .Values.main_app.mwapi_uri }}
# the template used for contacting MediaWiki API host
restbase_req:
  method: {{ "'{{" }}request.method{{ "}}'" }}
  query: {{ "'{{" }} default(request.query, {}) {{ "}}'" }}
  headers: {{ "'{{" }} request.headers {{ "}}'" }}
  body: {{ "'{{" }} request.body {{ "}}'" }}
  uri: http://{{ .Values.main_app.mwapi_int_async_host }}/w/rest.php/v1/{+path}
{{ if .Values.main_app.proxy -}}
proxy: {{ .Values.main_app.proxy }}
{{ end -}}
{{ if .Values.main_app.no_proxy_list -}}
no_proxy_list:
{{ range $i := .Values.main_app.no_proxy_list -}}
  - {{ $i }}
{{ end -}}
{{ end -}}
{{ if .Values.main_app.jwt_secret -}}
jwt:
  algorithms:
    - HS256
  secret: {{ .Values.main_app.jwt_secret }}
{{ end -}}
ratelimiter_key: {{ .Values.main_app.ratelimiter_key }}
ratelimiter_rate: {{ .Values.main_app.ratelimit_rate }}
languages: config/languages.yaml
templatemapping:
  database: config/templatemapping.db
sectionmapping:
{{- toYaml .Values.main_app.sectionmapping | nindent 8 }}
mt:
{{- toYaml .Values.main_app.mt | nindent 8 }}
{{- end }}
