config:
  superset:
    sqlalchemy_database_uri: mysql://superset_staging:<PASSWORD>@an-mariadb1001.eqiad.wmnet:3306/superset_staging
  oidc:
    client_id: superset_next_k8s

ingress:
  gatewayHosts:
    default: "superset-next"
    extraFQDNs:
    - superset-next.wikimedia.org
