networkpolicy:
  egress:
    enabled: true

mesh:
  enabled: true
  image_version: 1.13.1-2
  public_port: 4666 # the port where TLS will be exposed
  certs:
    cert: |-
      -- begin --
      12345
      -- end --
    key: |-
      -- begin --
      678910
      -- end --
  # Enable telemetry
  telemetry:
    enabled: true
    port: 9361

discovery:
  listeners:
    - mw-parsoid
    - mathoid
    - eventgate-analytics
    - eventgate-analytics-external
    - eventgate-main
    - sessionstore
    - echostore
    - termbox
    - push-notifications
    - wdqs-internal
    - restbase
    - cxserver
    - shellbox
    - shellbox-constraints
    - shellbox-media
    - shellbox-syntaxhighlight
    - shellbox-timeline
