main_app:
  # enable debug logging in staging
  args: ["-l", "debug"]

  restbase_dev: true

  domains:
    - api.wikimedia.org
    - api.wikimedia.org:*
    - staging.svc.eqiad.wmnet:*
    - staging.svc.eqiad.wmnet

  access_log:
    debug: true
    tls: true
    event_service:
      host: staging.svc.eqiad.wmnet
      port: 4592
      path: /v1/events?hasty=true

  ratelimiter:
    anon_limit:
      requests_per_unit: 20

  endpoints:
    appserver_cluster:
      type: STRICT_DNS
      tls: true
      hosts:
        mwdebug1001.eqiad.wmnet: 443
        mwdebug1002.eqiad.wmnet: 443
    mwapi_cluster:
      tls: true
      type: STRICT_DNS
      hosts:
        mwdebug1001.eqiad.wmnet: 443
        mwdebug1002.eqiad.wmnet: 443
    mobileapps_cluster:
      type: STRICT_DNS
      tls: true
      hosts:
        staging.svc.eqiad.wmnet: 4102

nutcracker:
  servers:
    - rdb1011.eqiad.wmnet:6379:1 "cp-1"
    - rdb1009.eqiad.wmnet:6379:1 "cp-2"
