main_app:
  mw_api:
    host: &mw_api_host mw-api-int.discovery.wmnet
    port: &mw_api_port 4446
    ips:
      - 10.2.2.81/32
      - 10.2.1.81/32

  domains:
    - api.wikimedia.org
    - api.wikimedia.org:*
    - api-gateway.discovery.wmnet
    - api-gateway.discovery.wmnet:*
    - "*"
    - "*:*"

  access_log:
    debug: false
    tls: true
    event_service:
      host: eventgate-analytics.discovery.wmnet
      port: 4592
      path: /v1/events?hasty=true

  endpoints:
    mwapi_cluster:
      tls: true
      type: STRICT_DNS
      hosts:
        *mw_api_host: *mw_api_port
    appserver_cluster:
      tls: true
      type: STRICT_DNS
      hosts:
        appservers-rw.discovery.wmnet: 443

resources:
  replicas: 4

networkpolicy:
  egress:
    enabled: true
