main_app:
  # enable debug logging in staging
  args: ["-l", "debug"]

  restbase_dev: true

  domains:
    - api.wikimedia.org
    - api.wikimedia.org:*
    - staging.svc.eqiad.wmnet:*
    - staging.svc.eqiad.wmnet

  access_log:
    debug: true

  ratelimiter:
    version: 9.0.4-20260107.e9ce92c-20260111
    anon_limit:
      requests_per_unit: 20

  endpoints:
    appserver_cluster:
      type: STRICT_DNS
      tls: true
      hosts:
        mwdebug.svc.eqiad.wmnet: 4444
    mwapi_cluster:
      tls: true
      type: STRICT_DNS
      hosts:
        mwdebug.svc.eqiad.wmnet: 4444
    mobileapps_cluster:
      type: STRICT_DNS
      tls: true
      hosts:
        staging.svc.eqiad.wmnet: 4102

nutcracker:
  servers:
    - rdb1011.eqiad.wmnet:6379:1 "cp-1"
    - rdb1013.eqiad.wmnet:6379:1 "cp-2"
