main_app:
  version: 1.35.7-1
  telemetry_port: 1667

  jwt:
    enabled: true
    issuer: https://meta.wikimedia.org

  ratelimiter:
    enabled: true
    version: 9.0.4-20260107.e9ce92c-20260111
    log_level: debug
    redis_host: localhost
    redis_port: 6379
    redis_pass: ""
    prefixes_without_required_jwt:
      - prefix: "/wiki/"
      - prefix: "/w/"
      - path: "/"
      - prefix: "/service/lw/inference"
    envoy_timeout: 0.5
    enable_x_ratelimit_headers: true

  strip_api_cookies: true

  access_log:
    # Disable access log but enable 5xx logging and sample 1%
    enabled: false
    sample_percentage: 1
  normalise_paths: true

  endpoints:
    appserver_cluster:
      debug_hosts:
        mwdebug.svc.eqiad.wmnet: 4444
        mwdebug.svc.codfw.wmnet: 4444
    restbase_cluster:
      type: LOGICAL_DNS
      tls: true
      hosts:
        restbase.discovery.wmnet: 7443
    rest_gateway_cluster:
      type: LOGICAL_DNS
      tls: true
      hosts:
        rest-gateway.discovery.wmnet: 4113
    mwapi_cluster:
      debug_hosts:
        mwdebug.svc.eqiad.wmnet: 4444
        mwdebug.svc.codfw.wmnet: 4444
    mobileapps_cluster:
      type: LOGICAL_DNS
      tls: true
      hosts:
        mobileapps.discovery.wmnet: 4102
  discovery_endpoints:
    linkrecommendation:
      tls: true
      port: 4006
      timeout: 30s
      path: linkrecommendation

    # AQS services
    device_analytics:
      tls: true
      port: 4972
      timeout: 15s
      path: metrics/unique-devices
      internal_host: device-analytics.discovery.wmnet
      full_path_trim: /service/

    # Models/endpoints on Lift Wing (run by ML Team)
    # The `lw/` prefix is just convention, and does not have any
    # more technical relevance than e.g. using lw-inference would.
    # Inference models, e.g.
    # https://api.wikimedia.org/services/lw/inference/v1/models/enwiki-articlequality:predict
    #
    # The regex `\w+` refers to typical wiki language prefixes, like `en`
    # in enwiki. Some wikis have longer names, with `eswikiquote` being the
    # longest.
    #
    # The (:|%3A|%3a) regex is used to work around restrictions with
    # Envoy's URL normalisation patterns, currently handling only
    # alphanumeric urlencodes
    lw_inference_articletopic:
      tls: true
      port: 30443
      timeout: 30s
      path: 'lw/inference/v1/models/(\w+)wiki-(article|item)topic(:|%3A|%3a)predict'
      host_rewrite_path: '\1wiki-\2topic.revscoring-articletopic.wikimedia.org'
      full_path_trim: "/service/lw/inference/"
      internal_host: inference.discovery.wmnet
      # Total requests / hour allowed for a single IP
      # (either logged in with OAuth - default - or not - anon)
      ratelimit_config:
        anon_limit: 50000
        default_limit: 100000

    # This model does not have submodels for specific wikis, so we don't
    # need a regex, and can just use the `host` attribute
    lw_inference_articletopic_outlink:
      tls: true
      port: 30443
      timeout: 30s
      path: 'lw/inference/v1/models/outlink-topic-model(:|%3A|%3a)predict'
      host: 'outlink-topic-model.articletopic-outlink.wikimedia.org'
      full_path_trim: "/service/lw/inference/"
      internal_host: inference.discovery.wmnet
      # Total requests / hour allowed for a single IP
      # (either logged in with OAuth - default - or not - anon)
      ratelimit_config:
        anon_limit: 50000
        default_limit: 100000

    lw_inference_articlequality:
      tls: true
      port: 30443
      timeout: 30s
      path: 'lw/inference/v1/models/(\w+)wiki-(article|item)quality(:|%3A|%3a)predict'
      host_rewrite_path: '\1wiki-\2quality.revscoring-articlequality.wikimedia.org'
      full_path_trim: "/service/lw/inference/"
      internal_host: inference.discovery.wmnet
      # Total requests / hour allowed for a single IP
      # (either logged in with OAuth - default - or not - anon)
      ratelimit_config:
        anon_limit: 50000
        default_limit: 100000

    lw_inference_articlequality-language-agnostic:
      tls: true
      port: 30443
      timeout: 30s
      path: 'lw/inference/v1/models/articlequality(:|%3A|%3a)predict'
      host_rewrite_path: 'articlequality.article-models.wikimedia.org'
      full_path_trim: "/service/lw/inference/"
      internal_host: inference.discovery.wmnet
      # Total requests / hour allowed for a single IP
      # (either logged in with OAuth - default - or not - anon)
      ratelimit_config:
        anon_limit: 50000
        default_limit: 200000

    lw_inference_article-country-language-agnostic:
      tls: true
      port: 30443
      timeout: 30s
      path: 'lw/inference/v1/models/article-country(:|%3A|%3a)predict'
      host_rewrite_path: 'article-country.article-models.wikimedia.org'
      full_path_trim: "/service/lw/inference/"
      internal_host: inference.discovery.wmnet
      # Total requests / hour allowed for a single IP
      # (either logged in with OAuth - default - or not - anon)
      ratelimit_config:
        anon_limit: 50000
        default_limit: 100000

    lw_inference_drafttopic:
      tls: true
      port: 30443
      timeout: 30s
      path: 'lw/inference/v1/models/(\w+)wiki-drafttopic(:|%3A|%3a)predict'
      host_rewrite_path: '\1wiki-drafttopic.revscoring-drafttopic.wikimedia.org'
      full_path_trim: "/service/lw/inference/"
      internal_host: inference.discovery.wmnet
      # Total requests / hour allowed for a single IP
      # (either logged in with OAuth - default - or not - anon)
      ratelimit_config:
        anon_limit: 50000
        default_limit: 100000

    lw_inference_draftquality:
      tls: true
      port: 30443
      timeout: 30s
      path: 'lw/inference/v1/models/(\w+)wiki-draftquality(:|%3A|%3a)predict'
      host_rewrite_path: '\1wiki-draftquality.revscoring-draftquality.wikimedia.org'
      full_path_trim: "/service/lw/inference/"
      internal_host: inference.discovery.wmnet
      # Total requests / hour allowed for a single IP
      # (either logged in with OAuth - default - or not - anon)
      ratelimit_config:
        anon_limit: 50000
        default_limit: 100000

    lw_inference_editquality_damaging:
      tls: true
      port: 30443
      timeout: 30s
      path: 'lw/inference/v1/models/(\w+)(wiki|wikibooks|wikiquote)-damaging(:|%3A|%3a)predict'
      host_rewrite_path: '\1\2-damaging.revscoring-editquality-damaging.wikimedia.org'
      full_path_trim: "/service/lw/inference/"
      internal_host: inference.discovery.wmnet
      # Total requests / hour allowed for a single IP
      # (either logged in with OAuth - default - or not - anon)
      ratelimit_config:
        anon_limit: 50000
        default_limit: 100000

    lw_inference_editquality_goodfaith:
      tls: true
      port: 30443
      timeout: 30s
      path: 'lw/inference/v1/models/(\w+)(wiki|wikibooks|wikiquote)-goodfaith(:|%3A|%3a)predict'
      host_rewrite_path: '\1\2-goodfaith.revscoring-editquality-goodfaith.wikimedia.org'
      full_path_trim: "/service/lw/inference/"
      internal_host: inference.discovery.wmnet
      # Total requests / hour allowed for a single IP
      # (either logged in with OAuth - default - or not - anon)
      ratelimit_config:
        anon_limit: 50000
        default_limit: 100000

    lw_inference_editquality_reverted:
      tls: true
      port: 30443
      timeout: 30s
      path: 'lw/inference/v1/models/(\w+)(wiki|wikibooks|wikiquote|wiktionary)-reverted(:|%3A|%3a)predict'
      host_rewrite_path: '\1\2-reverted.revscoring-editquality-reverted.wikimedia.org'
      full_path_trim: "/service/lw/inference/"
      internal_host: inference.discovery.wmnet
      # Total requests / hour allowed for a single IP
      # (either logged in with OAuth - default - or not - anon)
      ratelimit_config:
        anon_limit: 50000
        default_limit: 100000

    lw_inference_revertrisk:
      tls: true
      port: 30443
      timeout: 30s
      path: 'lw/inference/v1/models/revertrisk-([\w-]+)(:|%3A|%3a)predict'
      host_rewrite_path: 'revertrisk-\1.revertrisk.wikimedia.org'
      full_path_trim: "/service/lw/inference/"
      internal_host: inference.discovery.wmnet
      # Total requests / hour allowed for a single IP
      # (either logged in with OAuth - default - or not - anon)
      ratelimit_config:
        anon_limit: 50000
        default_limit: 200000

    lw_inference_readability:
      tls: true
      port: 30443
      timeout: 30s
      path: 'lw/inference/v1/models/readability(:|%3A|%3a)predict'
      host: 'readability.readability.wikimedia.org'
      full_path_trim: "/service/lw/inference/"
      internal_host: inference.discovery.wmnet
      # Total requests / hour allowed for a single IP
      # (either logged in with OAuth - default - or not - anon)
      ratelimit_config:
        anon_limit: 50000
        default_limit: 200000

    lw_inference_langid:
      tls: true
      port: 30443
      timeout: 30s
      path: 'lw/inference/v1/models/langid(:|%3A|%3a)predict'
      host: 'langid.llm.wikimedia.org'
      full_path_trim: "/service/lw/inference/"
      internal_host: inference.discovery.wmnet
      # Total requests / hour allowed for a single IP
      # (either logged in with OAuth - default - or not - anon)
      ratelimit_config:
        anon_limit: 50000
        default_limit: 100000

    lw_inference_articledesc:
      tls: true
      port: 30443
      timeout: 30s
      path: 'lw/inference/v1/models/article-descriptions(:|%3A|%3a)predict'
      host: 'article-descriptions.article-descriptions.wikimedia.org'
      full_path_trim: "/service/lw/inference/"
      internal_host: inference.discovery.wmnet
      # Total requests / hour allowed for a single IP
      # (either logged in with OAuth - default - or not - anon)
      ratelimit_config:
        anon_limit: 50000
        default_limit: 100000

    lw_recommendation_api:
      tls: true
      port: 31443
      timeout: 30s
      path: 'lw/recommendation'
      # This is a Hack: we want to make the API GW not drop anything from the
      # path. With this setting, a request to:
      # localhost:8087/service/lw/recommendation/abc
      # will result in a path sent to the backend service as follows:
      # "/service/lw/recommendation/abc"
      # Note that the root slash is still intact, somewhat counterintuitively.
      full_path_trim: "/"
      host: recommendation-api-ng.discovery.wmnet
      internal_host: recommendation-api-ng.discovery.wmnet
      ingress: true
      # Total requests / hour allowed for a single IP
      # (either logged in with OAuth - default - or not - anon)
      ratelimit_config:
        anon_limit: 50000
        default_limit: 100000

    lw_inference_reference_need:
      tls: true
      port: 30443
      timeout: 30s
      path: 'lw/inference/v1/models/reference-need(:|%3A|%3a)predict'
      host: 'reference-need.revision-models.wikimedia.org'
      full_path_trim: "/service/lw/inference/"
      internal_host: inference.discovery.wmnet
      # Total requests / hour allowed for a single IP
      # (either logged in with OAuth - default - or not - anon)
      ratelimit_config:
        anon_limit: 50000
        default_limit: 100000

    lw_inference_reference_risk:
      tls: true
      port: 30443
      timeout: 30s
      path: 'lw/inference/v1/models/reference-risk(:|%3A|%3a)predict'
      host: 'reference-risk.revision-models.wikimedia.org'
      full_path_trim: "/service/lw/inference/"
      internal_host: inference.discovery.wmnet
      # Total requests / hour allowed for a single IP
      # (either logged in with OAuth - default - or not - anon)
      ratelimit_config:
        anon_limit: 50000
        default_limit: 100000

    lw_inference_editcheck:
      tls: true
      port: 30443
      timeout: 30s
      path: 'lw/inference/v1/models/edit-check(:|%3A|%3a)predict'
      host: 'edit-check.edit-check.wikimedia.org'
      full_path_trim: "/service/lw/inference/"
      internal_host: inference.discovery.wmnet
      # Total requests / hour allowed for a single IP
      # (either logged in with OAuth - default - or not - anon)
      # We set anon_limit to 0 in order to allow access only to authenticated users
      ratelimit_config:
        anon_limit: 1000
        default_limit: 100000

  aqs:
    device_analytics:
      path: unique-devices

  #TODO regex on v1
  pathing_map:
    mwapi_cluster:
      '/core/v1/wikipedia/(\w+)/(.*)':
        path: '/w/rest.php/v1/\2'
        host: '\1.wikipedia.org'
      '/core/v1/wiktionary/(\w+)/(.*)':
        path: '/w/rest.php/v1/\2'
        host: '\1.wiktionary.org'
      '/core/v1/commons/(.*)':
        path: '/w/rest.php/v1/\1'
        host: 'commons.wikimedia.org'
      '/core/v1/wikibooks/(\w+)/(.*)':
        path: '/w/rest.php/v1/\2'
        host: '\1.wikibooks.org'
      '/core/v1/wikiquote/(\w+)/(.*)':
        path: '/w/rest.php/v1/\2'
        host: '\1.wikiquote.org'
      '/core/v1/wikiversity/(\w+)/(.*)':
        path: '/w/rest.php/v1/\2'
        host: '\1.wikiversity.org'
      '/core/v1/mediawiki/(.*)':
        path: '/w/rest.php/v1/\1'
        host: 'www.mediawiki.org'
      '/core/v1/wikidata/(.*)':
        path: '/w/rest.php/v1/\1'
        host: 'www.wikidata.org'
      '/core/v1/wikisource/(\w+)/(.*)':
        path: '/w/rest.php/v1/\2'
        host: '\1.wikisource.org'
      '/core/v1/wikivoyage/(\w+)/(.*)':
        path: '/w/rest.php/v1/\2'
        host: '\1.wikivoyage.org'
      '/core/v1/meta/(.*)':
        path: '/w/rest.php/v1/\1'
        host: 'meta.wikimedia.org'
      '/core/v1/wikinews/(\w+)/(.*)':
        path: '/w/rest.php/v1/\2'
        host: '\1.wikinews.org'
      '/core/v1/wikispecies/(.*)':
        path: '/w/rest.php/v1/\1'
        host: 'species.wikimedia.org'

  readiness_probe:
    httpGet:
      path: /healthz
      port: 8087
      scheme: HTTPS


service:
  deployment: production
  port:
    nodePort: 8087

mesh:
  enabled: true
  certmanager:
    extraFQDNs:
      - '*.m.mediawiki.org'
      - '*.m.wikibooks.org'
      - '*.m.wikidata.org'
      - '*.m.wikimedia.org'
      - '*.m.wikimediafoundation.org'
      - '*.m.wikinews.org'
      - '*.m.wikipedia.org'
      - '*.m.wikiquote.org'
      - '*.m.wikisource.org'
      - '*.m.wikiversity.org'
      - '*.m.wikivoyage.org'
      - '*.m.wiktionary.org'
      - '*.mediawiki.org'
      - '*.planet.wikimedia.org'
      - '*.wikibooks.org'
      - '*.wikidata.org'
      - '*.wikimedia.org'
      - '*.wikimediafoundation.org'
      - '*.wikinews.org'
      - '*.wikipedia.org'
      - '*.wikiquote.org'
      - '*.wikisource.org'
      - '*.wikiversity.org'
      - '*.wikivoyage.org'
      - '*.wiktionary.org'
      - '*.wmfusercontent.org'
      - '*.zero.wikipedia.org'
      - 'api.wikimedia.org'
      - 'mediawiki.org'
      - 'w.wiki'
      - 'wikibooks.org'
      - 'wikidata.org'
      - 'wikimedia.org'
      - 'wikimediafoundation.org'
      - 'wikinews.org'
      - 'wikipedia.org'
      - 'wikiquote.org'
      - 'wikisource.org'
      - 'wikiversity.org'
      - 'wikivoyage.org'
      - 'wiktionary.org'
      - 'wmfusercontent.org'

nutcracker:
  enabled: true
  version: 0.0.4

# Only used by ratelimiter for metrics - envoy uses prometheus native metrics
monitoring:
  enabled: true

networkpolicy:
  egress:
    enabled: true
    dst_nets:
    - cidr: 10.2.2.22/32 # api-rw.discovery.wmnet LVS endpoint (eqiad)
      ports:
      - protocol: tcp
        port: 443
      - protocol: tcp
        port: 80
    - cidr: 10.2.1.22/32 # api-rw.discovery.wmnet LVS endpoint (codfw)
      ports:
      - protocol: tcp
        port: 443
      - protocol: tcp
        port: 80
    - cidr: 10.2.2.1/32 # appservers-rw.discovery.wmnet LVS endpoint (eqiad)
      ports:
      - protocol: tcp
        port: 443
      - protocol: tcp
        port: 80
    - cidr: 10.2.1.1/32 # appservers-rw.discovery.wmnet LVS endpoint (codfw)
      ports:
      - protocol: tcp
        port: 443
      - protocol: tcp
        port: 80
    - cidr: 10.2.1.45/32 # eventgate-main.svc.codfw.wmnet
      ports:
        - protocol: tcp
          port: 4492
    - cidr: 10.2.2.45/32 # eventgate-main.svc.eqiad.wmnet
      ports:
        - protocol: tcp
          port: 4492
    - cidr: 10.2.1.14/32 # mobileapps.svc.codfw.wmnet
      ports:
        - protocol: tcp
          port: 4102
    - cidr: 10.2.2.14/32 # mobileapps.svc.eqiad.wmnet
      ports:
        - protocol: tcp
          port: 4102
    - cidr: 10.2.2.23/32 # linkrecommendation.discovery.wmnet (eqiad)
      ports:
        - protocol: tcp
          port: 4006
    - cidr: 10.2.1.23/32 # linkrecommendation.discovery.wmnet (codfw)
      ports:
        - protocol: tcp
          port: 4006
    - cidr: 10.2.2.63/32 # inference.discovery.wmnet (eqiad)
      ports:
        - protocol: tcp
          port: 30443
    - cidr: 10.2.1.63/32 # inference.discovery.wmnet (codfw)
      ports:
        - protocol: tcp
          port: 30443
    - cidr: 10.2.1.58/32 # inference-staging.svc.codfw.wmnet (codfw)
      ports:
        - protocol: tcp
          port: 30443
    - cidr: 10.2.2.80/32 # device-analytics.discovery.wmnet (eqiad)
      ports:
        - protocol: tcp
          port: 4972
    - cidr: 10.2.1.80/32 # device-analytics.discovery.wmnet (codfw)
      ports:
        - protocol: tcp
          port: 4972
    - cidr: 10.2.1.84/32 # k8s-ingress-ml-serve.svc.codfw.wmnet
      ports:
        - protocol: tcp
          port: 31443
    - cidr: 10.2.2.84/32 # k8s-ingress-ml-serve.svc.eqiad.wmnet
      ports:
        - protocol: tcp
          port: 31443
    - cidr: 10.2.1.59/32 # mwdebug.svc.codfw.wmnet
      ports:
        - protocol: tcp
          port: 4444
    - cidr: 10.2.2.59/32 # mwdebug.svc.eqiad.wmnet
      ports:
        - protocol: tcp
          port: 4444
    - cidr: 10.2.1.75/32 # mw-web.svc.codfw.wmnet
      ports:
        - protocol: tcp
          port: 4450
    - cidr: 10.2.2.75/32 # mw-web.svc.eqiad.wmnet
      ports:
        - protocol: tcp
          port: 4450
    - cidr: 10.2.1.82/32 # rest-gateway.svc.codfw.wmnet
      ports:
        - protocol: tcp
          port: 4113
    - cidr: 10.2.2.82/32 # rest-gateway.svc.eqiad.wmnet
      ports:
        - protocol: tcp
          port: 4113

external_services:
  redis-6379: [misc]
