networkpolicy:
  egress:
    enabled: true
    dst_nets:
    - cidr: 10.2.1.54/32 # thanos-swift.svc.codfw.wmnet
      ports:
      - protocol: tcp
        port: 443
    - cidr: 10.2.2.54/32 # thanos-swift.svc.eqiad.wmnet
      ports:
      - protocol: tcp
        port: 443

config:
  public:
    # environment variables used by rec-api to access endpoints external to WMF k8s (see T348607)
    # Notes:
    # - These variables were previously used in recommendation_liftwing.ini for the Flask based rec-api:
    #   https://github.com/wikimedia/research-recommendation-api/blob/e50fd6f51291fb95ac907c8b0bebb9a7c657dd31/recommendation/data/recommendation_liftwing.ini#L1C1-L15C58
    #   Now they are used in configuration.py for the FastAPI based rec-api:
    #   https://github.com/wikimedia/research-recommendation-api/blob/1463474a4e8d3f864144f9c99697f8231adce196/recommendation/utils/configuration.py#L16C5-L22C47
    API_PREFIX: "/service/lw/recommendation/api"
    CXSERVER_URL: "http://localhost:6015"
    CXSERVER_HEADER: "cxserver.wikimedia.org"
    API_CONCURRENCY_LIMIT: "10"
    EVENT_LOGGER_API: "http://localhost:6004/v1/events?hasty=true"
    EVENT_LOGGER_API_HEADER: "intake-analytics.wikimedia.org"
    WIKIDATA_API: "http://localhost:6500/w/api.php"
    WIKIDATA_API_HEADER: "www.wikidata.org"
    WIKIMEDIA_API: "http://localhost:6500/w/api.php"
    WIKIMEDIA_API_HEADER: "meta.wikimedia.org"
    WIKIPEDIA_API: "http://localhost:6500/w/api.php"
    WIKIPEDIA_API_HEADER: "{source}.wikipedia.org"

resources:
  replicas: 1

app:
  image: wikimedia/research-recommendation-api
  version: "2026-02-10-184357-production"
  command: [ "./entrypoint.sh" ]
  limits:
    cpu: 2
    memory: 1Gi
  requests:
    cpu: 2
    memory: 1Gi
  readiness_probe:
    httpGet:
      path: /docs
      port: 8080
    timeoutSeconds: 10
  liveness_probe:
    tcpSocket:
      port: 8080
    initialDelaySeconds: 15
    periodSeconds: 10
    failureThreshold: 6

ingress:
  mlstaging: true
