# Values common to both ML serve clusters. If you need to add per-cluster
# specific values, please create ./ml-serve-{eqiad,codfw}.yaml files.

chartName: recommendation-api-ng

monitoring:
  enabled: true

config:
  public:
    # environment variables used by rec-api to access endpoints external to WMF k8s (see T348607)
    # Notes:
    # - These variables were previously used in recommendation_liftwing.ini for the Flask based rec-api:
    #   https://github.com/wikimedia/research-recommendation-api/blob/e50fd6f51291fb95ac907c8b0bebb9a7c657dd31/recommendation/data/recommendation_liftwing.ini#L1C1-L15C58
    #   Now they are used in configuration.py for the FastAPI based rec-api:
    #   https://github.com/wikimedia/research-recommendation-api/blob/ce8059a6da12c646c0504ec077470925676080f0/recommendation/utils/configuration.py#L16C5-L23C47
    API_PREFIX: "/service/lw/recommendation/api"
    CXSERVER_URL: "http://localhost:6015"
    CXSERVER_HEADER: "cxserver.wikimedia.org"
    API_CONCURRENCY_LIMIT: "10"
    EVENT_LOGGER_API: "http://localhost:6004/v1/events?hasty=true"
    EVENT_LOGGER_API_HEADER: "intake-analytics.wikimedia.org"
    WIKIDATA_API: "http://localhost:6500/w/api.php"
    WIKIDATA_API_HEADER: "www.wikidata.org"
    WIKIMEDIA_API: "http://localhost:6500/w/api.php"
    WIKIMEDIA_API_HEADER: "meta.wikimedia.org"
    WIKIPEDIA_API: "http://localhost:6500/w/api.php"
    WIKIPEDIA_API_HEADER: "{source}.wikipedia.org"

resources:
  replicas: 5

app:
  image: wikimedia/research-recommendation-api
  version: "2026-02-10-184357-production"
  # override entrypoint defined in the docker image with k8s command and args
  command: [ "./entrypoint.sh" ]
  limits:
    cpu: 2
    memory: 1Gi
  requests:
    cpu: 2
    memory: 1Gi
  readiness_probe:
    httpGet:
      path: /docs
      port: 8080
    timeoutSeconds: 10
  liveness_probe:
    tcpSocket:
      port: 8080
    initialDelaySeconds: 15
    periodSeconds: 10
    failureThreshold: 6

service:
  deployment: production

discovery:
  listeners:
  - mw-api-int-async-ro
  - cxserver
  - eventgate-analytics
  - rest-gateway

mesh:
  enabled: true
  public_port: 8443
  telemetry:
    enabled: true
  resources:
    requests:
      cpu: 500m
      memory: 100Mi
    limits:
      cpu: 1000m
      memory: 500Mi
networkpolicy:
  egress:
    enabled: true
    dst_nets:
    - cidr: 10.2.1.54/32 # thanos-swift.svc.codfw.wmnet
      ports:
      - protocol: tcp
        port: 443
    - cidr: 10.2.2.54/32 # thanos-swift.svc.eqiad.wmnet
      ports:
      - protocol: tcp
        port: 443

ingress:
  enabled: true
  selectors:
    service.istio.io/canonical-name: istio-ingressgateway-services
    istio: ingressgateway
