apiVersion: v2
name: datahub-frontend
description: A Helm chart for DataHub's frontend component

# A chart can be either an 'application' or a 'library' chart.
#
# Application charts are a collection of templates that can be packaged into versioned archives
# to be deployed.
#
# Library charts provide useful utilities or functions for the chart developer. They're included as
# a dependency of application charts to inject those utilities and functions into the rendering
# pipeline. Library charts do not define any templates and therefore cannot be deployed.
type: application

# This is the chart version. This version number should be incremented each time you make changes
# to the chart and its templates, including the app version.
version: 0.0.54

# This is the version number of the application being deployed. This version number should be
# incremented each time you make changes to the application.
appVersion: 0.12.1
icon: https://raw.githubusercontent.com/linkedin/datahub/master/docs-website/static/img/datahub-logo-color-mark.svg

maintainers:
  - name: Balthazar Rouberol
    email: brouberol@wikimedia.org
  - name: Ben Tullis
    email: btullis@wikimedia.org
icon: https://raw.githubusercontent.com/linkedin/datahub/master/docs-website/static/img/datahub-logo-color-mark.svg
team: https://www.mediawiki.org/wiki/Data_Platform_Engineering/Data_Platform_SRE
sources:
  - https://github.com/acryldata/datahub-helm/
  - https://gitlab.wikimedia.org/repos/data-engineering/datahub
keywords:
  - data-catalog
  - data-engineering
home: https://wikitech.wikimedia.org/wiki/Data_Platform/Systems/DataHub/Administration
