# Values common to both ML serve clusters. If you need to add per-cluster
# specific values, please create ./ml-serve-{eqiad,codfw}.yaml files.

chartName: ores-legacy

monitoring:
  enabled: true

config:
  public:
    LIFTWING_URL: "http://localhost:6031"
    LOG_LEVEL: "DEBUG"

resources:
  replicas: 5

app:
  image: wikimedia/machinelearning-liftwing-inference-services-ores-legacy
  version: "2023-09-28-085927-publish"
  limits:
    cpu: 1
    memory: 1G
  requests:
    cpu: 1
    memory: 1G

service:
  deployment: production

discovery:
  listeners:
  - inference

mesh:
  enabled: true
  public_port: 8443
  telemetry:
    enabled: true
  resources:
    requests:
      cpu: 500m
      memory: 100Mi
    limits:
      cpu: 1000m
      memory: 500Mi
networkpolicy:
  egress:
    enabled: true
    dst_nets:
    - cidr: 10.2.1.63/32 # inference.svc.codfw.wmnet
      ports:
      - protocol: tcp
        port: 30443
    - cidr: 10.2.2.63/32 # inference.svc.eqiad.wmnet
      ports:
      - protocol: tcp
        port: 30443

ingress:
  enabled: true
  base_cors_policy: true
  gatewayHosts:
    extraFQDNs:
      - 'ores.wikimedia.org'
      - 'ores-legacy.wikimedia.org'
  selectors:
    service.istio.io/canonical-name: istio-ingressgateway-services
    istio: ingressgateway
