mesh:
  enabled: true

mw:
  httpd:
    enabled: false

php:
  # mercurius is only built into the 8.1 image
  version: "8.1"
  max_execution_time: 1200
  timeout: 86400
  apc:
    size: 4096
  opcache:
    interned_strings_buffer: 96
    size: 1024

mercurius:
  enabled: true
  # We currently only support one job
  jobs: [webVideoTranscodePrioritized, webVideoTranscode]
  debug: true
  # Use a dummy timestamp to prevent mercurius appearing in every diff
  dummy_ts: "mercurius-dummy-timestamp"
  consumer_properties:
    # Set the max.poll.interval.ms consumer property to a large value
    # to avoid partition reassignment when the rule reaches the concurrency
    # limit (and thus will not poll until the next job completes). See
    # https://phabricator.wikimedia.org/T356241#10291014.
    # Use a string here to stop helm printing this value in scientific notation
    max.poll.interval.ms: "7200000"

# we don't need the monitoring bits that come with mediawiki
monitoring:
  enabled: false

external_services:
  kafka: [main-eqiad, main-codfw]
