# Default values for cxserver.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.
helm_scaffold_version: 0.2 # This can be useful when backporting fixes.
docker:
  registry: docker-registry.wikimedia.org
  pull_policy: IfNotPresent
resources:
  replicas: 1
main_app:
  image: wikimedia/mediawiki-services-cxserver
  version: latest # we use latest everywhere in the defaults.
  port: 8080
  kademlia_port: 3051
  proxy: null
  mwapi_uri: http://mediawiki.svc.cluster.local/w/api.php # api-rw.discovery.wmnet in production
  restbase_host: restbase.svc.cluster.local # restbase.discovery.wmnet:7231 in production
  no_proxy_list: []
  jwt_secret: null
  ratelimiter_key: X-Forwarded-For # In production this is going to be X-Client-IP
  ratelimiter_rate: 10
  mt:
    TestClient:
      languages: config/TestClient.yaml
    #Apertium:
    #  api: "http://apertium.svc.cluster.local:2737"
    #  languages: config/Apertium.wikimedia.yaml
    #Elia:
    #  api: https://mt-api.elhuyar.eus/translate_string
    #  languages: config/Elia.yaml
    #  key: "dummykey"
    #  apiId: "dummyapiid"
    #Google:
    #  api: "https://www.googleapis.com/language/translate/v2"
    #  key: "dummykey"
    #  languages: config/Google.yaml
    #LingoCloud:
    #  api: "https://api.interpreter.caiyunai.com/v1"
    #  key: "dummykey"
    #  account: "dummyaccount"
    #  languages: config/LingoCloud.yaml
    #Yandex:
    #  api: https://translate.yandex.net
    #  key: "dummykey"
    #  languages: config/Yandex.yaml
    #Youdao:
    #  api: https://openapi.youdao.com/api
    #  appKey: "dummyappkey"
    #  appSecret: "dummyappsecret"
    #  languages: config/Youdao.yaml
    defaults: config/mt-defaults.wikimedia.yaml
  requests:
    cpu: 100m # The average case
    memory: 90Mi # The average cause usage
  limits:
    cpu: 1100m # Maximum per benchmarks
    memory: 200Mi # Maximum in benchmarks
  liveness_probe:
    tcpSocket:
      port: 8080
  readiness_probe:
    httpGet:
      path: /_info
      port: 8080
monitoring:
  enabled: false
  image_version: latest
service:
  deployment: minikube # valid values are "production" and "minikube"
  port: null # you need to define this if "production" is used. In minikube environments let it autoallocate
tls:
  enabled: false
  image_version: 1.13.1-2
  public_port: 4002
  upstream_timeout: "180.0s"
  # To be defined in a private space
  certs:
    cert: "snakeoil"
    key: "snakeoil"
  # Enable telemetry
  telemetry:
    enabled: false
    port: 9361
# Enable networkpolicy egress rules
networkpolicy:
  egress:
    enabled: false
