---
{{/*
  ref https://github.com/opensearch-project/opensearch-k8s-operator/blob/v2.7.0/docs/userguide/main.md#custom-admin-user
*/}}
apiVersion: v1
kind: Secret
metadata:
  name: operator-secret
type: Opaque
{{- if .Values.config.private.users.operator }}
data: {{- range $k := (keys .Values.config.private.users.operator | sortAlpha) }}
  {{ $k }}: {{ get $.Values.config.private.users.operator $k | b64enc | quote }}
{{- end -}}
{{- end }}

---
{{/*
  ref https://docs.opensearch.org/2.19/security/access-control/anonymous-authentication/
  for more details.

  We permit anonymous read-only access.
*/}}

apiVersion: v1
kind: Secret
metadata:
  name: securityconfig-secret
type: Opaque
stringData:
  internal_users.yml: |-
    _meta:
      type: "internalusers"
      config_version: 2
    operator:
      hash: {{ required "Set .Values.config.private.users.operator.hashed_password" .Values.config.private.users.operator.hashed_password | quote }}
      reserved: true
      backend_roles:
      - "admin"
      description: "Operator admin user"
    opensearch:
      hash: {{ required "Set .Values.config.private.users.opensearch.hashed_password" .Values.config.private.users.opensearch.hashed_password }}
  config.yml: |-
    _meta:
      type: "config"
      config_version: "2"
    config:
      dynamic:
        http:
          anonymous_auth_enabled: true
        authc:
          basic_internal_auth_domain:
            http_enabled: true
            transport_enabled: true
            order: "4"
            http_authenticator:
              type: basic
              challenge: false
            authentication_backend:
              type: intern
  roles.yml: |-
    _meta:
      type: "roles"
      config_version: 2
    anonymous_users_role:
      reserved: false
      hidden: false
      cluster_permissions:
        - "cluster_composite_ops_ro"  # read-only cluster-level ops
        - "cluster_monitor"         # allow monitoring endpoints (optional)
      index_permissions:
        - index_patterns:
            - "*"           # allow alias listing across all indices
          allowed_actions:
            - "read"
            - "indices:admin/get"
            - "indices:monitor/stats"
    indices_all_role:
      reserved: false
      hidden: false
      cluster_permissions:
        - "indices:data/write/bulk*"
      index_permissions:
          - index_patterns:
              - "*"
            allowed_actions:
              - "indices_all"
              - "indices:data/write/bulk*"
  roles_mapping.yml: |-
    _meta:
      type: "rolesmapping"
      config_version: 2
    all_access:
      reserved: false
      backend_roles:
        - "admin"
      description: "Maps admin to all_access"
    anonymous_users_role:
      reserved: false
      hidden: false
      backend_roles:
        - "opendistro_security_anonymous_backendrole"
      hosts: []
    indices_all_role:
      users:
        - "opensearch"
