
mesh:
  enabled: true


networkpolicy:
  egress:
    enabled: true

tcp_proxy:
  listeners:
    - maps_postgres

tcp_services_proxy:
  maps_postgres:
    health_checks:
    - timeout: 5s
      interval: 1s
      unhealthy_threshold: 3
      initial_jitter: 1s
      healthy_threshold: 5
      tcp_health_check: {}
      always_log_health_check_failures: true
      event_log_path: "/dev/stdout"
    port: 5432
    connect_timeout: "60s"


discovery:
  listeners:
  - wdqs-internal-main
  - mwapi-async

ingress:
  enabled: false
