main_app:
  version: 2023-07-28-103633-production

  limits:
    memory: 900Mi

  log_level: trace

  site: staging

  kafka:
    broker_list:
      - kafka-main1001.eqiad.wmnet:9093
      - kafka-main1002.eqiad.wmnet:9093
      - kafka-main1003.eqiad.wmnet:9093
      - kafka-main1004.eqiad.wmnet:9093
      - kafka-main1005.eqiad.wmnet:9093
    ssl: true

  changeprop:
    # This is the endpoint for the staging instance of eventgate
    event_service_uri: http://staging.svc.eqiad.wmnet:34192/v1/events

    features:
      liftwing_models: true
    liftwing:
      uri: 'https://inference-staging.svc.codfw.wmnet:30443'
      models:
        # Test for T327302
        goodfaith:
          concurrency: 2
          match_config_need_quotes: ['page_change_kind', 'wiki_id']
          match_config:
            match:
              wiki_id: enwiki
              page_change_kind: /^(edit|create)$/
          namespace: revscoring-editquality-goodfaith
          message_wiki_selector: 'wiki_id'
          kafka_topic: 'liftwing.test-events'
        # Test for T328899
        outlink-topic-model:
          concurrency: 2
          match_config_need_quotes: ['page_change_kind', 'wiki_id']
          match_config:
            match:
              wiki_id: enwiki
              page_change_kind: /^(edit|create)$/
              page:
                is_redirect: false
                namespace_id: 0
            match_not:
              meta:
                domain: canary
          namespace: articletopic-outlink
          kafka_topic: 'liftwing.test-outlink-events'

nutcracker:
  enabled: true
  servers:
    - rdb1011.eqiad.wmnet:6379:1 "cp-1"
    - rdb1009.eqiad.wmnet:6379:1 "cp-2"

resources:
  replicas: 2

service:
  name: changeprop-staging
