main_app:
  version: 2024-06-10-124545-production

  log_level: error

  redis:
    host: localhost
    port: 6379

  changeprop:
    # Move all of changeprop to use mw-api-int T360767
    mwapi_uri: https://mw-api-int.discovery.wmnet:4446/w/api.php
    restbase_uri: https://restbase-async.discovery.wmnet:7443
    pcs_uri: https://mobileapps.discovery.wmnet:4102
    rerendered_pcs_wikis: '/^(?!(en|de|ru|ja|fr|es|zh|it|pt)\.wikipedia.org).*$/'

    features:
    kafka:
      producer:
        # The default value is 5ms, and we want Changeprop to batch
        # more messages rather than keep sending small ones.
        # T338357
        linger.ms: 20

monitoring:
  enabled: true

nutcracker:
  version: 0.0.4

service:
  deployment: "production"
  port:
    nodePort: 7272


external_services:
  kafka: [main-eqiad, main-codfw]
  redis-6379: [misc]

networkpolicy:
  egress:
    enabled: true
    dst_nets:
    - cidr: 10.2.1.45/32 # eventgate-main.svc.codfw.wmnet
      ports:
      - protocol: tcp
        port: 4492
    - cidr: 10.2.2.45/32 # eventgate-main.svc.eqiad.wmnet
      ports:
      - protocol: tcp
        port: 4492
    - cidr: 10.2.2.63/32 # inference.svc.eqiad.wmnet
      ports:
      - protocol: tcp
        port: 30443
    - cidr: 10.2.1.63/32 # inference.svc.codfw.wmnet
      ports:
      - protocol: tcp
        port: 30443
    - cidr: 10.2.1.58/32 # inference-staging.svc.codfw.wmnet
      ports:
      - protocol: tcp
        port: 30443
    - cidr: 10.2.2.81/32 # mw-api-int.svc.eqiad.wmnet
      ports:
      - protocol: tcp
        port: 4446
    - cidr: 10.2.1.81/32 # mw-api-int.svc.codfw.wmnet
      ports:
      - protocol: tcp
        port: 4446
