resources:
  # When ramping up replicas in the main release, please remember
  # to raise the number of canary replicas as well.
  # We aim for ~3% of the deployment for canaries, rounding up.
  # Multi-DC size: 10
  replicas: 10

mesh:
  image_version: 1.35.7-1
  public_port: 4452
  tracing:
    enabled: true
    sampling: 0.1

monitoring:
  statsd: ~
