app:
  executor_pod_image: repos/data-engineering/airflow/analytics
  executor_pod_image_version: 12345

config:
  airflow:
    dags_folder: ci
    instance_name: ci
    config:
      kerberos:
        principal: airflow/airflow-ci.discovery.wmnet
  oidc:
    idp_server: idp-test.wikimedia.org
    client_id: ci

kerberos:
  keytab: cGxvcAo=

ingress:
  gatewayHosts:
    default: "airflow-ci"
    extraFQDNs:
    - airflow-ci.wikimedia.org

worker:
  config:
    extra_files:
      "/etc/refinery":
        event_intake_service_urls.yaml: |
          eventgate-ci: https://eventgate-ci.discovery.wmnet:4492/v1/events

triggerer:
  enabled: true

rsync:
  enabled: true
  ssh:
    targets:
      ciservers:
        user: ciuser
        known_hosts:
          - ci1001.eqiad.wmnet,1.2.3.4,2620:0:861:103:1.2.4.5 ecdsa-sha2-nistp256 abcdef1345=
        private_key:
          filename: id_ed25519
          content: supersecret
        hosts_cidrs:
        - 1.2.3.4
        - 2620:0:861:103:1.2.4.5
