app:
  executor_pod_image: repos/data-engineering/airflow/analytics
  executor_pod_image_version: 12345

config:
  airflow:
    dags_folder: ci
    instance_name: ci
    config:
      kerberos:
        principal: airflow/airflow-ci.discovery.wmnet
  oidc:
    idp_server: idp-test.wikimedia.org
    client_id: ci

kerberos:
  keytab: cGxvcAo=

ingress:
  gatewayHosts:
    default: "airflow-ci"
    extraFQDNs:
    - airflow-ci.wikimedia.org

worker:
  config:
    extra_files:
      "/etc/refinery":
        event_intake_service_urls.yaml: |
          eventgate-ci: https://eventgate-ci.discovery.wmnet:4492/v1/events