shellbox:
  flavour: php-rpc83

service:
  deployment: production

mesh:
  enabled: true
  public_port: 4010
  tracing:
    enabled: true
    sampling: 10

resources:
  replicas: 20

main_app:
  limits:
    # $wgMaxShellMemory is 1024M, plus resources for other pod components
    # For some reason, ram usage is very high, but relatively stable.
    # Bump it.
    memory: 4.5Gi
