resources:
  replicas: 1
main_app:
  limits:
    # $wgMaxShellMemory is 1024M, plus resources for other pod components
    # For some reason, ram usage is very high, but relatively stable.
    # Bump it.
    memory: 3Gi
