docker:
  registry: docker-registry.discovery.wmnet/wikimedia
  imagePullPolicy: IfNotPresent

networkpolicy:
  egress:
    enabled: true
    # These endpoints should be reachable by Istio proxy sidecars.
    dst_nets:
      - cidr: 10.2.1.54/32 # thanos-swift.svc.codfw.wmnet
        ports:
        - port: 443
          protocol: tcp
      - cidr: 10.2.2.54/32 # thanos-swift.svc.eqiad.wmnet
        ports:
        - port: 443
          protocol: tcp
      - cidr: 10.2.1.22/32 # api-ro.svc.codfw.wmnet
        ports:
        - port: 443
          protocol: tcp
      - cidr: 10.2.2.22/32 # api-ro.svc.eqiad.wmnet
        ports:
        - port: 443
          protocol: tcp
      - cidr: 10.2.1.45/32 # eventgate-main.svc.codfw.wmnet
        ports:
        - port: 4492
          protocol: tcp
      - cidr: 10.2.2.45/32 # eventgate-main.svc.eqiad.wmnet
        ports:
        - port: 4492
          protocol: tcp

monitoring:
  enabled: true

inference:
  annotations:
    sidecar.istio.io/inject: "true"
    autoscaling.knative.dev/metric: "rps"
    autoscaling.knative.dev/target: "8"
  s3_storage_base_uri: "s3://wmf-ml-models"
  model: "articletopic"
  predictor:
    image: "machinelearning-liftwing-inference-services-revscoring"
    version: "2023-09-20-160222-publish"
    config:
      minReplicas: 1
      maxReplicas: 3
    base_env:
      - name: WIKI_URL
        value: "http://api-ro.discovery.wmnet"
      - name: REQUESTS_CA_BUNDLE
        value: "/etc/ssl/certs/wmf-ca-certificates.crt"
      - name: EVENTGATE_URL
        value: "http://eventgate-main.discovery.wmnet:4480/v1/events"
      - name: EVENTGATE_STREAM
        value: "mediawiki.revision_score_articletopic"

revscoring_inference_services:
  - wiki: "arwiki"
    version: "20220720070634"
  - wiki: "cswiki"
    version: "20220720071610"
  - wiki: "enwiki"
    version: "20220720071937"
  - wiki: "euwiki"
    version: "20220720073022"
  - wiki: "huwiki"
    version: "20220720073314"
  - wiki: "hywiki"
    version: "20220720073525"
  - wiki: "kowiki"
    version: "20220720073707"
  - wiki: "srwiki"
    version: "20220720073905"
  - wiki: "ukwiki"
    version: "20220720074512"
  - wiki: "viwiki"
    version: "20220720074729"
  - wiki: "wikidatawiki"
    version: "20220720074925"
    model: "itemtopic"
