kubernetesMasters:
  cidrs:
    - '10.192.16.93/32'
    - '2620:0:860:102:10:192:16:93/128'
    - '10.192.48.64/32'
    - '2620:0:860:104:10:192:48:64/128'
# Override policies from ../ml-serve.yaml
GlobalNetworkPolicies:
  allow-pod-to-pod:
    egress:
      - action: Allow
        destination:
          nets:
            # codfw
            - "10.194.61.0/24"
      - action: Allow
        destination:
          nets:
            # codfw
            - "2620:0:860:302::/64"

# Override DNS name on certs to refer to staging endpoint
namespaces:
  # The experimental namespace allows the deployment of model servers
  # that are not ready for production yet. After an incubation period,
  # a model server may be promoted to production in its own dedicated
  # k8s namespace.
  experimental:
    deployClusterRole: deploy-kserve
    deployTLSCertificate: false
    labels:
      istio-injection: enabled
  knative-serving:
    # Note: We rely on ChangeProp to call LiftWing upon certain
    # Kafka events are emitted. Due to how nodejs works
    # (see https://github.com/nodejs/node/issues/37104) it is
    # not possible to call our inference endpoints with
    # custom HTTP Host headers, unless there are some special
    # SANs in the TLS certificate to support them.
    tlsHostnames:
      - inference-staging

limitranges:
  container:
    max:
      memory: "6Gi"
  pod:
    max:
      memory: "8Gi"

kubernetesVersion: "1.23"

istio:
  gateways:
    ingressgateway:
      ports:
        - 8443
        # knative-local-gateway (not exposed via NodePort),
        # only for internal traffic.
        - 8081
