config:
  airflow:
    instance_name: test-k8s
    auth:
      op_ldap_role: ~
    config:
      kubernetes_executor:
        worker_pods_creation_batch_size: 32
      kerberos:
        principal: analytics/airflow-test-k8s.discovery.wmnet

  oidc:
    idp_server: idp-test.wikimedia.org

app: # the webserver
  version: &airflow_tag airflow-2.10.5-py3.11-2025-11-12-120424-1acd4ea022931acc9595aba4539ba5ad63aee6ca@sha256:bb570f4af725c4fae8046af0d753cd60112cd1852d20bc5b438e9a59c4d129f4
  executor_pod_image_version: *airflow_tag
  requests:
    memory: 4Gi
  limits:
    memory: 4Gi

scheduler:
  requests:
    cpu: 8
    memory: 4Gi
  limits:
    cpu: 8
    memory: 4Gi

external_services:
  webserver:
    # We login to airflow-test-k8s via the idp-test CAS server
    cas: [idp-test]
  task-pod:
    dumps: [wikimedia]

ingress:
  gatewayHosts:
    default: "airflow-test-k8s"
    extraFQDNs:
    - airflow-test-k8s.wikimedia.org
