config:
  airflow:
    instance_name: test-k8s
    auth:
      op_ldap_role: ~
    config:
      kubernetes_executor:
        worker_pods_creation_batch_size: 32
      kerberos:
        principal: analytics/airflow-test-k8s.discovery.wmnet

  oidc:
    idp_server: idp-test.wikimedia.org

app: # the webserver
  requests:
    memory: 4Gi
  limits:
    memory: 4Gi

scheduler:
  requests:
    cpu: 8
    memory: 4Gi
  limits:
    cpu: 8
    memory: 4Gi

external_services:
  webserver:
    # We login to airflow-test-k8s via the idp-test CAS server
    cas: [idp-test]
  task-pod:
    dumps: [wikimedia]

    # required by the WMDE dumps to push some prometheus metrics - T403482
    prometheus-pushgateway: [eqiad]

ingress:
  gatewayHosts:
    default: "airflow-test-k8s"
    extraFQDNs:
    - airflow-test-k8s.wikimedia.org
