config:
  airflow:
    instance_name: test-k8s
    auth:
      op_ldap_role: ~
    config:
      kubernetes_executor:
        worker_pods_creation_batch_size: 32
      kerberos:
        principal: analytics/airflow-test-k8s.discovery.wmnet

  oidc:
    idp_server: idp-test.wikimedia.org

app: # the webserver
  requests:
    memory: 4Gi
  limits:
    memory: 4Gi
  version: &base-image-version airflow-2.10.5-py3.11-2025-11-04-144729-15a48fbbf17c764c194e0acf87df0e389226d59d@sha256:de985e6946b2a66a49a567700e92bdbf5e1a2b744d84cfa14d65e6c7f8f6cb69
  executor_pod_image_version: *base-image-version
  image: &airflow_image repos/data-engineering/airflow-dags
  executor_pod_image: *airflow_image

scheduler:
  requests:
    cpu: 8
    memory: 4Gi
  limits:
    cpu: 8
    memory: 4Gi

external_services:
  webserver:
    # We login to airflow-test-k8s via the idp-test CAS server
    cas: [idp-test]
  task-pod:
    dumps: [wikimedia]

ingress:
  gatewayHosts:
    default: "airflow-test-k8s"
    extraFQDNs:
    - airflow-test-k8s.wikimedia.org
