main_app:
  requests:
    cpu: 3
  limits:
    cpu: 3
  # Use a local-disk tmp to improve performance for
  # large files. T292322
  volumes:
    - name: local-disk-tmp
      emptyDir: {}
  volumeMounts:
    - name: local-disk-tmp
      mountPath: /tmp
shellbox:
  flavour: media
service:
  deployment: production

tls:
  enabled: true
  public_port: 4015

php:
  workers: 4

resources:
  replicas: 8
