resources:
  replicas: 12

config:
  public:
    TEGOLA_BROKER_URL: "kafka://kafka-main1001.eqiad.wmnet:9092"
    TEGOLA_QUEUE_NAME: "eqiad.maps.tiles_change"

# Temporarily we will use envoy as a L4 tcp proxy until envoy's
# Postgres proxy filter is production ready
# https://www.envoyproxy.io/docs/envoy/latest/configuration/listeners/network_filters/postgres_proxy_filter#config-network-filters-postgres-proxy
tcp_services_proxy:
  maps_postgres:
    upstreams:
      # master node
      # - address: maps1009.eqiad.wmnet
      #   port: 5432
      # read replicas
      - address: maps1005.eqiad.wmnet
        port: 5432
      - address: maps1006.eqiad.wmnet
        port: 5432
      - address: maps1007.eqiad.wmnet
        port: 5432
      - address: maps1008.eqiad.wmnet
        port: 5432
      - address: maps1010.eqiad.wmnet
        port: 5432

tileCaching:
  enabled: true
  config:
    bucket: tegola-swift-eqiad-v002

# avoid concurrency with codfw when pushing data to Swift
tilePregeneration:
  cronJobEnabled: true
  schedule: "0 12 * * *"

kafka:
  allowed_clusters:
    - main-eqiad
