resources:
  replicas: 1

# Temporarily we will use envoy as a L4 tcp proxy until envoy's
# Postgres proxy filter is production ready
# https://www.envoyproxy.io/docs/envoy/latest/configuration/listeners/network_filters/postgres_proxy_filter#config-network-filters-postgres-proxy
tcp_services_proxy:
  maps_postgres:
    upstreams:
      # Single master node, no read replicas
      - address: maps-test2001.codfw.wmnet
        port: 5432

tileCaching:
  enabled: true
  config:
    basepath: "staging-v0.0.1"
    bucket: "tegola-swift-staging-container"

config:
  public:
    TEGOLA_BROKER_URL: "kafka://kafka-test-eqiad.external-services.svc.cluster.local:9092"
    TEGOLA_QUEUE_NAME: "tegola-staging"

tilePregeneration:
  cronJobEnabled: false
  parallelism: 1

kafka:
  allowed_clusters:
    - test-eqiad
  kafka:
    - test-eqiad
external_services:
  postgresql:
    - maps-staging-master-codfw
