
app:
  image: repos/data-engineering/growthbook
  version: latest # we use latest everywhere in the defaults.
  port: &app_port 3100 # port exposed as a Service, also used by service-checker.
  command:  [npx, wsrun, -p, back-end, --no-prefix, -c]
  args: [start]
  requests:
    cpu: 2
    memory: 4Gi
  limits:
    cpu: 2
    memory: 4Gi
  liveness_probe:
    tcpSocket:
      port: *app_port
  readiness_probe:
    httpGet:
      path: /
      port: *app_port
  volumes:
  - name: growthbook-backend-config-volume
    configMap:
      name: growthbook-backend-config
  - name: growthbook-backend-uploads-volume
    persistentVolumeClaim:
      claimName: growthbook-backend-uploads
  - name: growthbook-kerberos-cache-volume
    emptyDir: {}
  - name: growthbook-kerberos-config-volume
    configMap:
      name: growthbook-kerberos-config
  - name: growthbook-kerberos-keytab-volume
    secret:
      secretName: growthbook-kerberos-keytab
  volumeMounts:
  # We are temporarily avoiding to mount the config.yml file in the backend pod
  # while we're iterating over a custom PG data source with synthetic data (cf T409591)
  # as the mere presence of that file prevents us from manually editing that datasource.
  # - name: growthbook-backend-config-volume
  #   mountPath: /opt/growthbook/config/  # cf https://docs.growthbook.io/self-host/config
  - name: growthbook-backend-uploads-volume
    mountPath: /opt/growthbook/packages/back-end/uploads # cf https://docs.growthbook.io/self-host/production#local
  - name: growthbook-kerberos-cache-volume
    mountPath: /etc/kerberos/tgt
  - name: growthbook-kerberos-config-volume
    mountPath: /etc/krb5.conf
    subPath: krb5.conf
  - name: growthbook-kerberos-keytab-volume
    mountPath: /etc/kerberos/keytabs

monitoring:
  # If enabled is true, monitoring annotations will be added to the deployment.
  enabled: false

service:
  deployment: production # valid values are "production" and "minikube"
  port:
    name: http # a unique name of lowercase alphanumeric characters or "-", starting and ending with alphanumeric, max length 63
    # protocol: TCP # TCP is the default protocol
    targetPort: *app_port # the number or name of the exposed port on the container
    port: *app_port # the number of the port desired to be exposed to the cluster
    nodePort: null # you need to define this if "production" is used. In minikube environments let it autoallocate

config:
  growthbook:  # see https://docs.growthbook.io/self-host/config
    datasources: {}
    metrics: {}
    dimensions: {}
    segments: {}

  public: # See https://docs.growthbook.io/self-host/env
    NODE_ENV: production
    APP_ORIGIN: override_me
    API_HOST: override_me
    EMAIL_ENABLED: "false"
    UPLOAD_METHOD: local
    KRB5CCNAME: DIR:/etc/kerberos/tgt
    KRB5_CONFIG: /etc/krb5.conf

  private:
    MONGODB_URI: secret
    JWT_SECRET: override_me
    ENCRYPTION_KEY: override_me
    SSO_CONFIG: override_me

  oidc:
    clientId: override_me
    clientSecret: override_me
    metadata: {}

uploads:
  volume:
    size: 1Gi
    storage_class: override_me

# Additional resources if we want to add a port for a debugger to connect to.
debug:
  enabled: false
  # Define here any port that you want to expose for debugging purposes
  ports: []

# Allow external traffic to reach this service via a (cluster provided) ingress controller.
# https://wikitech.wikimedia.org/wiki/Kubernetes/Ingress#Configuration_(for_service_owners)
ingress:
  enabled: true
  # By default, enabling ingress will switch the charts services from type NodePort to
  # ClusterIP. While that is fine for new services it may not be desired during transition
  # of existing ones from dedicated LVS to Ingress.
  # By setting keepNodePort to true, the services will stay of type NodePort.
  keepNodePort: false
  # gatewayHosts settings configure the hostnames this service will be reachable on.
  # By default, this will be a list like:
  # - {{ gatewayHosts.default }}.{{ domain }}
  # For all domains listed in .gatewayHosts.domains (specified by SRE for each environment)
  gatewayHosts:
    # default will expand to {{ .Release.Namespace }} as long as it is an empty string.
    default: ""
    # disableDefaultHosts may be set to true if the service should not be reachable via
    # the gateway hosts generated by default (see above).
    disableDefaultHosts: false
    # extraFQDNs is a list of extra FQDNs this service should be reachable on.
    # It can be used to extend the gateway hosts that are generated by default.
    extraFQDNs: []
  # If you want to attach routes of this release to an existing Gateway, provide the name
  # of that gateway here in the format: <namespace>/<gateway-name>
  # This is useful if you wish to make multiple releases available from the same hostname.
  existingGatewayName: ""
  # routeHosts is a list of FQDNs the httproutes should attach to.
  # If existingGatewayName not set, this list might be empty and will default to the gateway
  # host generated according to how .Values.gatewayHosts.* is configured.
  # If existingGatewayName is set, you need to provide the FQDNs your routes should attach to.
  routeHosts: []
  # HTTPRoute routing rules. By default https://<hosts from above>/ will be routed to
  # the service without modification.
  # Docs: https://istio.io/v1.9/docs/reference/config/networking/virtual-service/#HTTPRoute
  httproutes: []
  # Base CORS HTTP headers for the general use case.
  base_cors_policy: false
  # Add a custom CORS policy, injecting an Istio CorsPolicy config:
  # https://istio.io/latest/docs/reference/config/networking/virtual-service/#CorsPolicy
  # Takes precedence over base_cors_policy.
  custom_cors_policy: {}


# Basic mesh-related data.
mesh:
  enabled: true
  certmanager:
    enabled: true
  admin:
    port: 1666
  image_version: latest
  # http keepalive timeout for incoming requests
  idle_timeout: "4.5s"
  # Port to listen to
  public_port: 9081
  local_access_log_min_code: "200"
  # Headers to add to a local request,
  # in dictionary form.
  request_headers_to_add: []
  # Timeout of a request to the local service
  upstream_timeout: "60s"
  # Enabling telemetry, telemetry port.
  telemetry:
    enabled: true
    port: 1667
  resources:
    requests:
      cpu: 200m
      memory: 100Mi
    limits:
      cpu: 500m
      memory: 500Mi

kerberos:
  admin: override_me
  servers: [override_me]
  ticket_renewal_interval_minutes: 60
  keytab: override_me
  resources:
    requests:
      cpu: 100m
      memory: 200Mi
    limits:
      cpu: 500m
      memory: 400Mi

docker:
  registry: docker-registry.wikimedia.org
  pull_policy: IfNotPresent
resources:
  replicas: 1

monitoring:
  # If enabled is true, monitoring annotations will be added to the deployment.
  enabled: false

networkpolicy:
  egress:
    enabled: false

# Add here the list of kafka-clusters (by name) that the service will need to reach.
kafka:
  allowed_clusters: []

# Optional affinity settings
affinity: {}
#  affinity:
#    nodeAffinity:
#      requiredDuringSchedulingIgnoredDuringExecution:
#        nodeSelectorTerms:
#          - matchExpressions:
#              - key: some-key
#                operator: In
#                values:
#                  - some-value
#  nodeSelector:
#    node.kubernetes.io/some-key: some-value

# Cronjob definitions
# Here you can define your cronjobs
cronjobs: []
# Example of a job:
# - name: my-cron-hourly
#   enabled: true
#   command:
#      - /bin/cowsay
#      - "hello"
#   schedule: "@hourly" (defaults to @daily)
#   concurrency: Replace (defaults to "Forbid")
#   image_versioned: my-app:1.1.1 (defaults to the app used in the main application definition)
#   resources: (optional list of requests/limits for our cronjob; if not present will default to the application ones.)

# The set of external services to allow egress to
# Example:
# kafka:
# - main-codfw
# - main-eqiad
# presto:
# - analytics
#
# See https://wikitech.wikimedia.org/wiki/Kubernetes/Deployment_Charts#Enabling_egress_to_services_external_to_Kubernetes
# for the list of supported services
external_services: {}

common_images:
  kerberos:
    image: repos/data-engineering/kerberos-kinit
    version: latest
